@import "../components/bourbon/app/assets/stylesheets/bourbon";

@include font-face("Open Sans", "../fonts/Open Sans regular",normal,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans italic",normal,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 300",300,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 300italic",300,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 600",600,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 600italic",600,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 700",700,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 700italic",700,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 800",800,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 800italic",800,italic,$file-formats: svg ttf woff);

@mixin regular-text(){
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
@mixin clearfix(){
	&:after{
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
@mixin one-line-text(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.parsley-errors-list {
	display: none;
}
.urbamovil-citizen {
	// Options in detail page
	#detail .options{
		display: none !important;
	}
	// Filterbutton in navbar
	.search{
		display: none !important;
	}
	// Select by inventary editing incidence
	#selectLocation .inventary{
		display: none !important;
	}
	.user-info{
		text-decoration: none !important;
		pointer-events: none;
		.baloon{
			display: none;
		}
		.name{
		}
	}
}
* {
	@include box-sizing(border-box);
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-font-smoothing: antialiased;
}
body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;

	background-color: #fcfcfc;
	font-size: 16px !important;
	display: none;
}
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.fleft {
	display: block;
	float: left;
}
.fright {
	display: block;
	float: right;
}
input[type=search] {
	-webkit-appearance: none;
}
.show-version{
	position: absolute;
	top: 10px;
	left: 10px;
}
.instructions{
	font-size: 15px;
	color: #3d44c2;
}
.instructions.last{
	margin-bottom: 20px;
}
hr{
	margin: 0;
	border:0;
	border-bottom: 1px solid #cccccc;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
html:not(.contract-urbajardin) .urbajardin-only{
	display: none;
}
html:not(.contract-smartus) .smartus-only{
	display: none;
}
.km-flat{
	@include regular-text();
	background-color: #fcfcfc;
}
.km-flat .km-view .km-content {
	@include regular-text();
	background-color: #fcfcfc;
}
.km-navbar{
	@extend .header;
}
.km-view-title{
	@extend .main-title;
}
.km-button{
	border: 0 none !important;
}
.km-flat .km-loader:before{
	background-color: #9d969e !important;
}
.km-modalview .km-content{
	background-color: transparent !important;
}
.km-modalview-root{
	background-color: white;
	width: 100%;
}
.km-flat form.km-state-active{
	background-color: transparent !important;
}
.km-widget.km-list .km-load-more, .km-widget .km-list .km-load-more{
	margin: 20px auto;
}
$form-col1-width:34%;
$form-col2-width:66%;
.text-input{
	height: 68px;
	display: block;
	padding: 16px 30px;
	width: 100%;
	max-width: 450px;
	border:1px solid #8d8e8d;
	color: #7f8185;
	font-size: 16px;
	font-family: "Open Sans";
	background-color: white;
	@include placeholder {
		color: #7f8185;
		font-size: 16px;
		font-weight: 600;
		font-family: "Open Sans";
	}
	&[data-icon]{
		padding-left: 50px;
	}
}
.text-input-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
	.text-input-icon{
		width: 24px;
		height: 24px;
		position: absolute;
		top: 20px;
		left: 12px;
	}
}
input,select,textarea{
	&.error{
		border-color: #D0021B !important;
	}
}
.regular-form{
	margin-top: 21px;
	> div{
		@include clearfix;
		margin-bottom: 15px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		&.vertical{
			@include flex-direction(column);
			@include align-items(flex-start);
			label{
				margin-bottom: 10px;
			}
		}
	}
	input,select,textarea{
		@extend .text-input;
		-webkit-appearance:none;
		display: inline-block;
		width: $form-col2-width;
    border-radius: 3px;
		height: 45px;
		padding: 9px;
		&:disabled{
			opacity: 0.5;
		}
		+ a{
			margin-left: 7px;
			height: 30px;
			img{
				width: 100%;
			}
		}
	}
	.fixedvalue{
		display: inline-block;
		width: $form-col2-width;
		margin: 0 0 0 7%;
		font-size: 15px;
		color: #7f8185;
		&.block{
			display: block;
			width: 100%;
			margin-left: 0;
		}
		img{
			width: 100%;
		}
		.inventory-module &{
			color: #6B66CC;
		}
		.planning-module &{
			color: #DC4437;
		}
		.floats-module &{
			color: #EF8407;
		}
	}
	select{
	}
	textarea{
		display: block;
		width: 100%;
		height: 85px;
		margin-bottom: 40px;
    border-radius: 4px;
	}
	label{
		@include ellipsis();
		color: #5f6361;
		font-size: 16px;
		font-weight: 600;
		width: $form-col1-width;
		@include flex(0 0 $form-col1-width);
		display: inline-block;
	}
	.vertical label{
		width: auto;
	}
	.form-file{
		position: relative;
		height: 100%;
		@include align-self(flex-end);
		input{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
		}
		img{
			height: 26px;
			vertical-align: middle;
			margin-right: 6px;
			@include transition(transform 300ms, opacity 300ms);
			@include transform(translate(-10px,0));
			opacity: 0;
			&.visible{
				@include transform(translate(0,0));
				opacity: 1;
			}
		}
		span{
			height: 100%;
			display: inline-block;
			text-align: right;
		}
		.button{
			margin: 0;
		}
	}
	.form-select{
		position: relative;
		height: 100%;
		display: inline-block;
		width: $form-col2-width;
		select{
			@include ellipsis();
			width: 100%;
			position: relative;
			z-index: 2;
			padding: 8px 49px 8px 16px;
			background-color: transparent;
		}
		&:after{
			content:"";
			display: inline-block;
			height: 39px;
			width: 39px;
			position:absolute;
			top: 3px;
			right: 3px;
			border-radius: 5px;
      background: url(../imgs/icons/ico-arrow-down.svg) no-repeat center center;
			background-size: 16px auto;
		}
		.platform-blackberry10 &:after{
			background-image: url(../imgs/icons/ico-arrow-down.png);
		}
		&.disabled:after{
			opacity: 0.5;
		}
		&.loading:before{
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 13px;
			top: 13px;
			z-index: 20;
			background: url(../imgs/mini-loading.gif);
		}
	}
	&.full-width {
		width: 100%;
		.form-select{
			width: 100%;
		}
		input[type=text],input[type=date],input[type=number],input[type=file],input[type=datetime-local]{
			width: 100%;
		}
	}
}
.button{
	display: inline-block;
	font-size: 20px;
	font-family: "Open Sans";
	font-weight: 600;
	padding: 0 15px;
	color: #fcfcfc !important;
	background-color: #4eca69;
	border: 0 none;
	position: relative;
	height: 68px;
	line-height: 68px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-decoration: none;
	text-align: center;
	&.disabled{
		pointer-events: none;
		opacity: 0.5;
	}
}
.button.blue{
	background-color: #3d44c2;
}
.button.grey{
	background-color: #a6a7aa !important;
}
.planning-module .button{
	background-color: #DC4437;
}
.incidence-module .button{
	background-color: #149a44;
}
.inventory-module .button{
	background-color: #6B66CC;
}
.floats-module .button{
	background-color: #EF8407;
}
.button.incidence {
	background-color: #149a44;
}
.button.inventory {
	background-color: #6B66CC;
}
.button.planning {
	background-color: #DC4437;
}
.button.floats {
	background-color: #EF8407;
}
.button.block{
	display: block;
	padding: 15px;
	line-height: 38px;
	width: 100%;
	max-width: 450px;
}
.button.icon{
	@include display(flex);
	@include align-items(center);
	padding: 0 10px;
	.label{
		@include ellipsis();
		@include flex-grow(1);
		@include flex-shrink(0);
		@include flex-basis(200px);
		width: calc(100% - 44px);
    font-weight: 600;
	}
	.button-icon{
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding-right: 8px;
		img{
			width: 28px;
			height: 28px;
			vertical-align: middle;
		}
		flex-basis: 40px;
		//border-right: 1px solid #fcfcfc;
		&.end {
			padding-right: 0;
			padding-left: 12px;
			border: 0;
		}
	}
	&.text-left {
		text-align: left !important;
		.label {
			padding-left: 8px;
		}
	}
}
.button.condensed{
	height: 47px;
	line-height: 23px;
	padding: 12px 10px;
	.button-icon{
		width: 30px;
		height: 30px;
		line-height: 30px;
		padding-right: 8px;
		img{
			width: 23px;
			height: 23px;
			vertical-align: middle;
		}
		flex-basis: 40px;
		border-right: 1px solid #fcfcfc;
	}
}
.km-navbar{
	.navbar-button{
		display: inline-block;
		width: 60px;
		height: 40px;
		background: no-repeat center center;
		margin: 4px 0;
	}
	.exit{
		background-image: url(../imgs/icons/ico-exit.svg);
		background-size: 20px 25px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-exit.png);
		}
	}
	.back{
		background-image: url(../imgs/icons/ico-arrow-back.svg);
		background-size: 15px 24px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-arrow-back.png);
		}
	}
	.search, .search-floats{
		background-image: url(../imgs/icons/ico-search.svg);
		background-size: 24px 24px;
		display: none;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-search.png);
		}
	}
	.edit-planning-btn {
		background-image: url(../imgs/icons/ico-planning-edit.svg);
		background-size: 24px 24px;
		display: none;
	}
	.search-btn {
		background-image: url(../imgs/icons/ico-search.svg);
		background-size: 24px 24px;
		display: none;
	}
  .search-btn2 {
		background-image: url(../imgs/icons/ico-filter2.svg);
		background-size: 24px 24px;
		display: none;
	}
	.burger{
		background-image: url(../imgs/icons/ico-burger.png);
		background-size: 28px 23px;
	}
}
#incidencias .km-navbar .search{
	display: inline-block;
}
.edit-planning-btn, .search-vehicles-btn, .search-alarms-btn {
	display: none;
}
#planning-details .edit-planning-btn {
	display: inline-block;
}
#floats-vehicles .search-btn, #floats-alarms .search-btn, #floats-routes .search-btn, #floats-signals .search-btn,#inventory-mapsearch .search-btn2 {
	display: inline-block;
}
#body {
	.map-filter {
		position: fixed;
		right: 0;
		background: rgba(0,0,0,0.4);
		width: 100%;
		height: calc(100% - 30px);
		text-align: right;
		display: none;
		&.active {
			display: block;
		}
	}
	.map-filter-content {
		display: inline-block;
		background: #fff;
		padding: 20px 35px;
		width: 50%;
		text-align: left;
		label {
			width: 100%;
			margin: 10px 0;
		}
		input{
			-webkit-appearance: checkbox;
			height: 30px;
			width: 30%;
		}
		form{
			margin-top: 0;
		}
	}
}
[data-role=view-title]{
	@include ellipsis();
	width: calc(100% - 130px);
}
.km-header{
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}
.incidencia-list-item{
	@include display(flex);
	@include regular-text();
	font-size: 16px;
	color: #9d969e;
	height: 58px;
	margin:10px auto 10px;
	.cat-icon{
		width: 47px;
		min-width: 47px;
		margin-right: 15px;
	}
	.text-content{
		width:70%;
		@include flex-grow(1);
		> :nth-child(1){
			font-weight: 700;
		}
		> :nth-child(3){
			font-style: italic;
		}
		> *{
			@include ellipsis();
			display: block;
			padding-right: 8px;
			text-transform: lowercase;
			&:first-letter{
				text-transform: uppercase;
			}
		}
	}
	.icons{
		min-width: 40px;
		flex-basis: 40px;
		font-size: 0;
		.priority{
			text-align: center;
			img{
				width: 13px;
				margin-right: 1px;
			}
		}
		.state{
			width: 11px;
			height: 11px;
			border-radius: 50%;
			margin: 7px auto 0;
			&.s1{
				background-color: #848688;
			}
			&.s2{
				background-color: #149a44;
			}
			&.s3{
				background-color: #D40C0C;
			}
			&.s4{
				background-color: #BA6007;
			}
			&.s5{
				background-color: #1d4a7b;
			}
		}
	}
}
.form-progress {
  margin: 0;
  padding: 0;
  overflow: hidden;
	li:first-child:nth-last-child(2),
	li:first-child:nth-last-child(2) ~ li{
		width: 50%;
	}
	li:first-child:nth-last-child(3),
	li:first-child:nth-last-child(3) ~ li{
		width: 33.3%;
	}
	li:first-child > span:after,
	li:first-child > span:before {
	  display: none;
	}
	li{
		list-style-type: none;
	  display: inline-block;
	  position: relative;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  line-height: 30px;
	  height: 30px;
	  background-color: #b0e8bc;
		float: left;
		span{
			line-height: 30px;
			margin-top: 3x;
			display: inline-block;
			font-size: 17px;
			font-weight: 700;
			color: #fcfcfc;
		}
		span:after{
			content: "";
		  display: block;
		  width: 0px;
		  height: 0px;
			left: 0;
			top: -5px;
		  position: absolute;
		  border: solid transparent;
		  z-index: 1;
		  border-left-color: white;
		  border-width: 20px;
		}
		span:before{
			content: "";
		  display: block;
		  width: 0px;
		  height: 0px;
		  position: absolute;
		  top: 0;
		  left: 0;
		  border: solid transparent;
		  border-left-color: #f0f0f0;
		  border-width: 15px;
			z-index: 2;
		}
		+li{
			span:before{
				border-left-color: #b0e8bc;
			}
		}
		&.current{
			background-color: #4eca69;
			+li{
				span:before{
					border-left-color: #4eca69;
				}
			}
		}
	}
}
.planning-create-steps {
  margin: 0;
  padding: 0;
  overflow: hidden;
	li:first-child:nth-last-child(5),
	li:first-child:nth-last-child(5) ~ li{
		width: 20%;
	}
	li:first-child > span:after,
	li:first-child > span:before {
	  display: none;
	}
	li{
		list-style-type: none;
	  display: inline-block;
	  position: relative;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	  line-height: 30px;
	  height: 30px;
	  background-color: #f0aea8;
		float: left;
		span{
			line-height: 30px;
			margin-top: 3px;
			display: inline-block;
			font-size: 17px;
			font-weight: 700;
			color: #fcfcfc;
		}
		span:after{
			content: "";
		  display: block;
		  width: 0px;
		  height: 0px;
			left: 0;
			top: -5px;
		  position: absolute;
		  border: solid transparent;
		  z-index: 1;
		  border-left-color: white;
		  border-width: 20px;
		}
		span:before{
			content: "";
		  display: block;
		  width: 0px;
		  height: 0px;
		  position: absolute;
		  top: 0;
		  left: 0;
		  border: solid transparent;
		  border-left-color: #f0aea8;
		  border-width: 15px;
			z-index: 2;
		}
		+li{
			span:before{
				border-left-color: #f0aea8;
			}
		}
		&.step-selected{
			background-color: #DC4437;
			+li{
				span:before{
					border-left-color: #DC4437;
				}
			}
		}
	}
}
.addressList{
	list-style-type: none;
	padding: 0;
	width: 100%;
	li{
		height: 48px;
		display: block;
		padding: 12px 12px 12px 20px;
		width: 100%;
		max-width: 450px;
		border-radius: 12.5px !important;
		border:1px solid #8d8e8d;
		color: #7f8185;
		font-size: 16px;
		font-weight: 600;
		font-family: "Open Sans";
		background-color: white;
		margin-bottom: 3px;
		span{
			@include ellipsis();
			width: 87%;
		}
		a{
			display: block;
			float: right;
		}
		img{
			width: 23px;
			height: 24px;
		}
	}
}
#filterFieldList{
	li{
		font-size: 13px;
		font-weight: normal;
	}
}
.modal-frame{
	height: 100vh;
	width: 100%;
	width: 100vw;
	padding: 21px;
	background-color: #fcfcfc;
	.modal-title{
		text-align: center;
		font-size: 23px;
		color: #5f6361;
		margin-top: 18%;
		margin-bottom: 20px;
		img{
			width: 77px;
			height: 77px;
			display: block;
			margin: 0 auto 22px;
		}
	}
	.modal-footer{
	}
	.buttons-line{
		@include display(flex);
		@include justify-content(space-between);
		.button{
			flex: 0 1 120px;
			+ .button{
				margin-left: 10px;
			}
		}
	}
	.modal-body{
		font-size: 17px;
		color: #3d44c2;
		text-align: center;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		&.modal-align-left {
			@include align-items(left);
			text-align: left;
		}
	}
	&.custom-height {
		height: 100%;
	}
}
#modal-changeState{
	.modal-title{
		margin-top: 20px;
	}
	.modal-body{
		text-align: left;
	}
	.button{
		height: 50px;
		line-height: 20px;
	}
}
#stageChangeSelector{
	margin: 0 auto;
}
#modal-save-filter{
	.modal-frame{
		background-color: rgba(#fcfcfc,0.9);
		@include display(flex);
		@include align-items(center);
	}
	.box{
		background-color: #fcfcfc;
		border: 1px solid #3d44c2;
		border-radius: 12px;
		padding: 30px 8px;
		width: 100%;
		height: auto;
		input{
			width: 100%;
			padding-left: 30px;
			height: 68px;
		}
	}
	.button{
		height: auto;
		width: auto;
		margin-left: 0;
	}
}
#modal-confirmDeleteFilter .modal-footer{
	margin: 40px auto 0;
	width: 300px;
	.button{
		min-width: 100px;
	}
}
input[type=radio] + label:before {
  border-color: #7f8185 !important;
}
.floats-module .modal-frame .title {
	color: #EF8407;
}
input[type=radio]:not(old){
	width     : 25px;
	margin    : 0;
	padding   : 0;
	opacity   : 0;
	position: relative !important;
	z-index: 2;
	margin-bottom: 10px;
	display: inline-block;
	& + label{
		display      : inline-block;
		margin-left  : -25px;
		line-height  : 25px;
		padding-left: 38px;
		position: relative;
		font-size : 15px;
		color: #7f8185;
		margin-bottom: 10px;
		&:before{
			content: "";
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			border: 1px solid #3d44c2;
		}
		&:after{
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			position: absolute;
			top: 9px;
			left: 9px;
			background-color: #7f8185;
			border-radius: 50%;
			@include transform(scale(0));
			@include transition(transform 300ms);
		}
	}
	&:checked + label:after{
		@include transform(scale(1));
	}
}
.km-flat .km-switch-label-on, .km-flat .km-switch-label-off {
	overflow: hidden;
	text-indent: -300px;
}
.km-flat .km-switch-container, .km-flat .km-switch-wrapper {
	border-radius: 12px;
	background: transparent;
	border-color: #9B9B9B;
}
.km-flat .km-switch {

}
.km-flat .km-switch-handle {
	color: transparent;
	border-radius: 50%;
	background: #fff;
	border-color: #9B9B9B;
}
.km-flat .km-switch-background {
	margin-left: -80px;
	background: #DC4437;
}
.km-switch-on .km-switch-background {
	margin-left: 0 !important;
}
#contracts-list,#filter-list{
	li{
		border-bottom-color: #fff !important;
		background-color: #f0f3f5;
		margin: 0;
		padding: 0;
	}
}
.contract-item{
	background: url(../imgs/icons/ico-contract.svg) no-repeat 12px center #f7f6f6;
	background-size: 19px auto;
	font-size: 16px;
	color: #8d8e8d;
	padding: 14px 20px 14px 40px;
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/ico-contract.png);
	}
	span{
		float: right;
		display: none;
	}
	span.selected{
		display: block;
	}
	a{
		text-decoration: none;
		display: block;
	}
}
.filter-item{
	@extend .contract-item;
	background: url(../imgs/icons/ico-filter.svg) no-repeat 12px center #f7f6f6;
	background-size: 20px auto;
	padding: 3px 0px 3px 40px;
	@include display(flex);
	@include justify-content(flex-start);
	@include align-items(center);
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/ico-filter.png);
	}
	p{
		@include ellipsis();
		margin: 0;
		@include flex(1 1 auto);
	}
	.close{
		display: block;
		height: 50px;
		width: 50px;
		@include flex(0 0 50px);
		img{
			width: 23px;
			height: 24px;
			margin-top: 12px;
			margin-left: 12px;
		}
	}
	.icon{
		display: none;
		margin-right: 5px;
		@include flex(0 0 24px);
		&.selected{
			display: block;
		}
		img{
			display: block;
			height: 24px;
		}
	}
}
.tipbox{
	width: 210px;
	height: 163px;
	position: absolute;
	bottom: 70px;
	padding: 15px;
	opacity: 0;
	@include transform(translate(0,-20px));
	@include transition(transform 400ms);
	display: none;
	&.visible{
		display: block;
		opacity: 1;
		@include transform(translate(0,0));
	}
	p{
		margin: 10px 0;
		font-size: 15px;
		color: #3d44c2;
	}
	.title-img{
		width: 30px;
		height: 30px;
	}
	.close{
		position: absolute;
		right: 10px;
		top: 10px;
		img{
			width: 23px;
			height: 23px;
		}
	}
	&.left{
		background: url(../imgs/filters-tipbox-left.svg);
		background-size: 210px auto;
		left: 10px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/filters-tipbox-left.png);
		}
	}
	&.right{
		background: url(../imgs/filters-tipbox-right.svg);
		background-size: 210px auto;
		right: 10px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/filters-tipbox-right.png);
		}
	}
	.title{
		font-size: 15px;
		font-style: italic;
		margin: 0;
	}
}
.lang-selection{
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/downarrow.png);
	}
	.lang-list-item{
		@include regular-text();
		font-size: 16px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-start);
		width: 100%;
		text-align: left;
		padding: 10px 20px;
		margin: 0 auto;
		min-height: 47px;
		img{
			width: 27px;
		}
		&.selected{
			opacity: 0.5;
		}
	}
	.text-content{
		margin-left: 10px;
		@include flex(1 0 auto);
	}
	.km-listview{
		margin-top: 40px;
		background-color: transparent;
		li{
			border:0 none;
			background-color: transparent;
			box-shadow: 0 0 0 rgba(0,0,0,0);
		}
	}
	.km-listview-wrapper{
		background-color: transparent;
	}
}
.home-logo{
	display: block;
	width: 140px;
	margin: 0px auto 32px;
	&.sm{
		width: 70px;
	}
}
.user-info{
	background: url(../imgs/icons/ico-user-alt.svg) no-repeat left center;
	background-size: 24px 24px;
	padding-left: 30px;
	font-size: 17px;
	text-decoration: none;
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/ico-user-alt.png);
	}
	.baloon{
		text-decoration: none;
		display: inline-block;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		background-color: #5f6361;
		color: #fcfcfc;
		margin-left: 10px;
		font-size: 13px;
	}
}
#mainMenuDrawer{
	width: calc(100% - 80px);
	.header{
		padding: 10px 20px;
		.user-info .name{
			font-size: 12px;
      color: #5f6361;
			width: 135px;
			@include ellipsis();
		}
		.contract{
			font-size: 11px;
			color: #9e9f9e;
			margin-top: 5px;
		}
	}
	.footer{
		background-color: #cccccc;
		font-size: 11px;
		line-height: 20px;
		padding-left: 10px;
		height: 20px;
	}
  #homeShortcuts > a > span{
    font-weight: 600;
  }
  #homeShortcuts{
    span{
      font-weight: 600;
    }
  }
	.km-listview{
		padding: 16px 0;
		a{
			background: 20px center no-repeat;
			padding-left: 55px;
			font-size: 15px;
			line-height: 35px;
			font-weight: 500;
		}
		li{
			border-bottom: none;
		}
		.km-listview-link:after, .km-listview-label:after{
			display: none;
		}
	}
	.navigation-menu-list{
		border-bottom: 1px solid #dddfe2;
		a{
			&.incidences{
				background-image: url(../imgs/icons/ico-menu-incidences.png);
				background-size: 17px auto;
				color: #149a44;
			}
			&.inventory{
				background-image: url(../imgs/icons/ico-menu-barcode.png);
				background-size: 18px auto;
				color: #6B66CC;
			}
			&.planning{
				background-image: url(../imgs/icons/ico-menu-planning.png);
				background-size: 18px auto;
				color: #DC4437;
			}
			&.floats{
				background-image: url(../imgs/icons/ico-menu-floats.png);
				background-size: 18px auto;
				color: #EF8407;
			}
		}
	}
	.tools-menu-list{
		color: #9e9f9e;
		a{
			background-size: 20px auto;
			&.language{
				background-image: url(../imgs/icons/ico-menu-lang.png);
			}
			&.contract{
				background-image: url(../imgs/icons/ico-menu-contracts.png);
			}
			&.close-session{
				background-image: url(../imgs/icons/ico-menu-close.png);
			}
			&.tag{
				background-image: url(../imgs/icons/ico-menu-tag.png);
			}
		}
	}
}
.subheader{
	margin: 0 !important;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	background-color: #a6a7aa;
	padding: 0;
	height: 30px;
	line-height: 30px;
	color: #fcfcfc;
}
.slim-tab-strip.km-tabstrip{
	background-color: transparent;
	font-size: 0;
	table-layout: auto;
	.km-icon {
		display: none;
	}
	.km-button{
		height: 29px;
		line-height: 29px;
		padding: 0;
		font-size: 13px;
		font-weight: 700;
		padding: 3px;
		background-color: transparent;
		border-right: 0 !important;
		&:first-child{
			border-radius: 3px 0 0 3px;
		}
		&:last-child{
			border-radius: 0 3px 3px 0;
		}
		&.km-state-active{
			color: #fcfcfc;
		}
		.inventory-module  &{
			color: #6B66CC;
			border: 1px solid #6B66CC !important;
			border-right: 0 !important;
			&:last-child{
				border-right: 1px solid #6B66CC !important;
			}
			&.km-state-active{
				color: #fcfcfc;
				background-color: #6B66CC;
			}
		}
		.planning-module &{
			color: #DC4437;
			border: 1px solid #DC4437 !important;
			border-right: 0 !important;
			&:last-child{
				border-right: 1px solid #DC4437 !important;
			}
			&.km-state-active{
				color: #fcfcfc;
				background-color: #DC4437;
			}
		}
	}
}
.floats-module .slim-tab-strip.km-tabstrip .km-button {
	color: #EF8407;
	border: 1px solid #EF8407 !important;
	&:last-child{
		border-right: 1px solid #EF8407 !important;
	}
	&.km-state-active{
		color: #fcfcfc;
		background-color: #EF8407;
	}
}
#body {
	.inventory-list {
		> li {
			padding: 0;
		}
	}
	.inventory-list-item {
		@include regular-text();
		font-size: 16px;
		color: #6B66CC;
		height: auto;
		margin: 0;
		padding: 13px 43px 13px 16px;
		text-transform: capitalize;
		span {
			display: inline;
			color: #7f8185;
		}
		&:after {
			display: none;
		}
		border-bottom: 1px solid #e3e3f6;
	}
	.inventory-list-item > div:nth-child(1){
		color: #5f6361;
	}
	.inventory-list-item > div:nth-child(2), .inventory-list-item > div:nth-child(3){
		color: #7f8185;
	}
	.inventory-read-img {
		text-align: center;
		margin: 30px 0 25px;
		img {
			width: 70px;
		}
	}
	.inventory-read-msg {
		text-align: center;
		font-size: 14px;
		margin: 20px 0 30px;
		span {
			font-weight: 600;
		}
	}
}
#body {
	.inventory-details-list {
		> li {
			padding: 0;
			margin-bottom: 2px;
			border: 0;
		}
	}
	.inventory-details-list-item {
		padding: 14px 67px 14px 21px;
		background: #f7f6f6;
		position: relative;
		border: 0;
		span:nth-child(1) {
			color: #5f6361;
			font-weight: 600;
			margin-right: 7px;
		}
		span:nth-child(2) {
			color: #7f8185;
			font-weight: 500;
			margin-right: 7px;
		}
		label {
			color: #3d44c2;
		}
		p {
			margin: 0;
		}
		.inventory-buttons {
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -9px;
			height: 18px;
			img {
				width: 50%;
				height: 50%;
			}
			> *{
				display: inline-block;
			}
		}
		[data-value$=jpeg],[data-value$=png]{
			img{
				display: block;
				width: 100%;
				width: calc(100% + 46px);
				margin-top: 5px;
			}
			+ .inventory-buttons{
				position: static;
				margin-top: 10px;
			}
		}
		&.list-link{
			padding: 14px 67px 14px 21px;
			position: relative;
			border: 0;
			margin: 0;
			&:after {
				color:transparent;
				background: url('../imgs/icons/ico-inventory-next.png') no-repeat right center;
				background-size: 13px 21px;
				height: 21px;
				width: 13px;
				@include transform(rotate(0deg));
				top: 50%;
				margin-top: -11px;
			}
		}
	}
	.inventory-field-modal {
		label {
			color: #6B66CC;
			font-weight: 700;
			font-size: 15px;
		}
		input[type=radio] {
			height: 25px;
		}
	}
}
#body {
	.planning-list {
		padding: 1px;
		> li {
			padding: 0 0 4px 0;
			border-color: rgba(0,0,0,0.1);
		}
	}
	.red{
		background-color: #ffe6e6 !important;
	}
	.green{
		background-color: #ebfaeb !important;
	}
	.planning-list-item {
		@include regular-text();
		font-size: 16px;
		color: #9D969E;
		height: auto;
		margin: 0;
		padding: 9px 46px  9px 35px;
		.dot {
			display: inline-block;
			border: 1px solid black;
			height: 22px;
			width: 22px;
			border-radius: 50%;
			margin-top: 10px;
			vertical-align: top;
			&:before {
				content: "";
				background: black;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				display: block;
				margin: 2px 0 0 2px;
			}
			&.dot-red {
				border: 1px solid #D0021B;
				&:before {
					background: #D0021B;
				}
			}
			&.dot-green {
				border: 1px solid #149944;
				&:before {
					background: #149944;
				}
			}
			&.dot-grey {
				border: 1px solid #A6A7AA;
				&:before {
					background: #A6A7AA;
				}
			}
		}
		.text {
			display: inline-block;
			width: calc(100% - 30px);
			padding-left: 20px;
			.name {
				margin: 0;
				color: #5f6361;
			}
			.description {
				margin: 0;
				color: #7f8185;
			}
		}
	}
}
#body {
	.planning-details-list {
		color: #9D969E;
		width: 100%;
		> li {
			padding: 0;
			margin-bottom: 2px;
			border: 0;
		}
		&.no-bg-list  .planning-details-list-item {
			background: #f7f6f6;
			border-bottom: 1px solid #fff;
		}
		&.extra-pad {
			.planning-details-list-item {
				padding-top: 25px;
				padding-bottom: 25px;
			}
		}
	}
	.planning-details-list-item {
		padding: 14px 67px 14px 21px;
		background: #f7f6f6;
		position: relative;
		border: 0;
		> span {
			color: #5f6361;
			font-weight: 600;
			margin-right: 7px;
		}
		label {
			color: #3d44c2;
		}
		p {
			margin: 0;
		}
		.planning-buttons {
			display: block;
			position: absolute;
			right: 26px;
			top: 50%;
			margin-top: -11px;
			height: 23px;
			.delete-button {
				width: 20px;
				height: 20px;
			}
		}
		.edit-button{
			display: inline-block;
		}
		&.list-link{
			padding: 14px 67px 14px 21px;
			position: relative;
			border: 0;
			margin: 0;
			&:after {
				color:transparent;
				background: url('../imgs/icons/ico-inventory-next.png') no-repeat right center;
				background-size: 13px 21px;
				height: 21px;
				width: 13px;
				@include transform(rotate(0deg));
				top: 50%;
				margin-top: -11px;
			}
		}
	}
	.inventory-field-modal {
		label {
			color: #5f6361;
			font-weight: 700;
			font-size: 15px;
		}
		input[type=radio] {
			height: 25px;
		}
	}
	.planning-module .create-service.create-service-hidden {
		display: none;
	}
	.planning-module .regular-form label {
		font-size: 15px;
		white-space: pre-wrap;
	}
}
#body {
	.planning-noResources {
		text-align: center;
		padding: 0;
		width: 300px;
		margin: 0 auto;
		img {
			width: 92px;
		}
	}
	.resources-plus {
		text-align: center;
		margin-top: 23px;
		img {
			width: 45px;
		}
	}
	.resources-select-modal {
		.regular-form {
			margin-top: 0;
		}
		label {
			width: auto;
			color: inherit;
			font-weight: normal;
		}
	}
}
#body {
	.floats-list {
		> li {
			padding: 0 0 4px 0;
		}
	}
	.floats-list-item {
		@include regular-text();
		font-size: 16px;
		color: #9D969E;
		background: #F0F3F5;
		height: auto;
		margin: 0;
		padding: 9px 46px  9px 35px;
		position: relative;
		.dot {
			display: inline-block;
			border: 1px solid black;
			height: 22px;
			width: 22px;
			border-radius: 50%;
			margin-top: 10px;
			vertical-align: top;
			&:before {
				content: "";
				background: black;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				display: block;
				margin: 2px 0 0 2px;
			}
			&.dot-red {
				border: 1px solid #D0021B;
				&:before {
					background: #D0021B;
				}
			}
			&.dot-green {
				border: 1px solid #149944;
				&:before {
					background: #149944;
				}
			}
			&.dot-grey {
				border: 1px solid #A6A7AA;
				&:before {
					background: #A6A7AA;
				}
			}
		}
		.text {
			display: inline-block;
			width: calc(100% - 30px);
			padding-left: 20px;
			.name {
				margin: 0;
				color: #EF8407;
			}
			.description {
				margin: 0;
			}
		}
		.floats-buttons {
			display: block;
			position: absolute;
			right: 26px;
			top: 50%;
			margin-top: -11px;
			height: 23px;
			img {
				width: 18px;
			}
		}
	}
}
#body {
	.floats-details-list {
		color: #9D969E;
		width: 100%;
		> li {
			padding: 0;
			margin-bottom: 2px;
			border: 0;
		}
		&.no-bg-list  .floats-details-list-item {
			background: transparent;
			border-bottom: 1px solid #CCCCCC;
		}
		&.extra-pad {
			.floats-details-list-item {
				padding-top: 25px;
				padding-bottom: 25px;
			}
		}
	}
	.floats-details-list-item {
		padding: 14px 67px 14px 21px;
		background: #f0f3f5;
		position: relative;
		border: 0;
		> span {
			color: #EF8407;
			font-weight: 600;
			margin-right: 7px;
		}
		label {
			color: #3d44c2;
		}
		p {
			margin: 0;
		}
		.floats-buttons {
			display: block;
			position: absolute;
			right: 26px;
			top: 50%;
			margin-top: -11px;
			height: 23px;
			.delete-button {
				width: 20px;
				height: 20px;
			}
		}
		.edit-button{
			display: inline-block;
		}
		&.list-link{
			display: block;
			position: relative;
			border: 0;
			margin: 0;
			text-decoration: none;
			&:after {
				content: "";
				display: block;
				position: absolute;
				color:transparent;
				background: url('../imgs/icons/ico-inventory-next.png') no-repeat right center;
				background-size: 13px 21px;
				height: 21px;
				width: 13px;
				@include transform(rotate(0deg));
				top: 50%;
				right: 10px;
				margin-top: -11px;
			}
		}
	}
}
#body {
	.vehicles-filter {
		position: fixed;
		right: 0;
		background: rgba(0,0,0,0.4);
		width: 100%;
		height: calc(100% - 30px);
		text-align: right;
		display: none;
		&.active {
			display: block;
		}
	}
	.vehicles-filter-content {
		display: inline-block;
		background: #fff;
		padding: 20px 35px;
		width: 70%;
		text-align: left;
		label {
			width: 100%;
			margin: 10px 0;
		}
		.buttons {
			margin-top: 20px;
		}
	}
}
.frame{
	@extend .clearfix;
	padding: 21px;
	> * + *{
		margin: 10px 0;
	}
}
.button-at-bottom{
	@include display(flex);
	@include flex-direction(column);
	:first-child{
		@include flex-grow(1);
	}
	:last-child{
		height: 80px;
	}
}
.header{
	height: 65px;
	color: #3d44c2;
	background-color: #dcdfe1;
	border:0 none !important;
}
.main-title{
	line-height: 65px;
	height: 65px;
	background-color: #efefef;
	color: #1d1e58;
	font-size: 20px;
	margin: 0;
	text-align: center;
	font-weight: normal;
}
[data-role=view]{
	transition: filter 3s;
	transition: -webkit-filter 300ms;
	box-shadow: 4px 2px 15px 0 rgba(0,0,0,0.19);
}
#filtrosDrawer{
	width: calc(100% - 65px);
	.drawer-footer{
		height: 75px;
		background-color: #cecece;
	}
	.drawer-content{
		position: relative;
		//overflow: hidden;
		.km-listview-wrapper{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.filter-fields{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #fcfcfc;
			display: none;

		}
		&.show-fields{
			.km-listview-wrapper{
				@include animation(show-filter-fields2 300ms);
				@include transform(translateX(-100%));
			}
			.filter-fields{
				display: block;
				@include animation(show-filter-fields1 300ms);
				@include transform(translateX(0));
			}
		}
	}
	.buttons{
		@include clearfix;
		height: 65px;
		a{
			display: block;
			height: 100%;
			width: 75px;
			float: left;
		}
		.button-cancel{
			background: url(../imgs/icons/ico-cross.svg) center center no-repeat;
			background-size: 34% auto;
			opacity: 0;
			@include transition(opacity 300ms);
			&.show{
				opacity: 1;
			}
			.platform-blackberry10 &{
				background-image: url(../imgs/icons/ico-cross.png);
			}
		}
		.button-save{
			background: url(../imgs/icons/ico-save.svg) center center no-repeat;
			background-size: 37% auto;
			border-right: 2px solid white;
			opacity: 0;
			@include transition(opacity 300ms);
			&.show{
				opacity: 1;
			}
			.platform-blackberry10 &{
				background-image: url(../imgs/icons/ico-save.png);
			}
		}
		.button-add{
			background: url(../imgs/icons/ico-plus.svg) center center no-repeat;
			background-size: 37% auto;
			float: right;
			border-left: 2px solid white;
			.platform-blackberry10 &{
				background-image: url(../imgs/icons/ico-plus.png);
			}
		}
	}
	.filter-box{
		width: 100%;
		margin: 0 auto;
		border-radius: 5px;
		padding: 15px;
		margin-top: 20px;
		@include transition(opacity 300ms);
		&.hidden{
			opacity: 0;
			display: none;
		}
		&.visible{
			opacity: 1;
		}
		legend{
			color: #5f6361;
			font-size: 17px;
			margin-bottom: 20px;
		}
		select,input,.form-select{
			width: 100% !important;
			margin-left: 0 !important;
		}
		.form-select{
			margin-bottom: 12px;
		}
		.buttons{
			@include clearfix;
			> *{
				width: 45%;
				&:first-child{
					float: left;
				}
				&:last-child{
					float: right;
				}
			}
		}
		.values > *{
			display: none;
		}
	}
}
.blurred {
	//@include filter(blur(2px));
}
.darked{
	@include filter(brightness(0.4));
}
@include keyframes(show-filter-fields1){
	0%{
		@include transform(translateX(100%));
	}
	100%{
		@include transform(translateX(0));
	}
}
@include keyframes(show-filter-fields2){
	0%{
		@include transform(translateX(0));
	}
	100%{
		@include transform(translateX(-100%));
	}
}
#selectByMap{
	.frame{
		background-color: #fcfcfc;
		height: 110px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
	}
	.footer .button{
		//margin: 40px 30px !important;
	}
}
#select-map-buttons{
	width: 50px;
	right: 5% !important;
	bottom: 26px !important;
	a{
		display: block;
		margin-bottom: 10px;
	}
	img{
		width: 100%;
	}
}
#select-map{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 110px);
}
#select-map-search-box{
	position: relative;
	z-index: 999999;
	width: 100%;
	height: 60px;
  top: -2em !important;
	margin: 30px auto;
	input{
		display: block;
		width: 90%;
		height: 60px;
		margin: 0 auto;
		background-color: #fcfcfc;
		border: 0 none;
		border-radius: 15px;
		font-size: 18px;
		line-height: 60px;
		color: #3d44c2;
		padding-left: 10px;
		padding-right: 74px;
	}
	span{
		position: absolute;
		top: 0;
		right: 5%;
		height: 60px;
		width: 65px;
		border-left: 2px solid #3d44c2;
		background: url(../imgs/icons/ico-search.svg) no-repeat center center;
		background-size: 38% auto;
	}
}
.map-marker{
	transform: translateY(8px);
	img{
		width: 27px;
		display: block;
		margin: 0 auto 6px;
	}
	.button{
		display: block;
		margin:0 0 6px 0;
	}
	.options{
		visibility: hidden;
	}
}
#selectByRFID,#modals-readTag{
	.main.frame,.modal-frame{
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		.icon{
			width: 77px;
		}
		.label{
			color: #5f6361;
			font-size: 22px;
			font-weight: 600;
			margin-top: 30px;
			text-align: center;
			&.error{
				color: #d0021b;
			}
		}
	}
	.footer.frame{
		background-color: #fcfcfc;
		height: 110px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
	}
	.footer .button{
		margin: 0;
	}
}
.state-list-item{
	font-size: 16px;
	color: #3d44c2;
	background-color: rgb(240, 243, 245);
	padding: 10px 0;
	h1{
		color: #5f6361;
		border-bottom: 1px solid #5f6361;
		background-color: rgb(240, 243, 245);
		position: relative;
		font-size: 16px;
		margin-top: 0;
	}
	> p{
		margin-top: 20px;
    color: #7f8185;
	}
	.fecha{
		background: url(../imgs/icons/ico-calendar.svg) no-repeat center left;
		background-size: 24px auto;
		padding-left: 50px;
		height: 24px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-calendar.png);
		}
	}
	.nombre{
		background: url(../imgs/icons/ico-user-green.svg) no-repeat center left;
		background-size: 24px auto;
		padding-left: 50px;
		height: 24px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-user-green.png);
		}
	}
	strong{
		color: #5f6361;
		font-weight: bold;
	}
}
#states-list li{
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
}
.bluebox{
	background-color: rgb(240, 243, 245);
	padding: 10px 20px;
	margin-bottom: 2px;
	color: #7f8185;
	font-size: 16px;
	position: relative;
	strong{
		font-weight: 700;
		color: #5f6361;
		margin-right: 5px;
	}
	a{
		font-weight: 700;
		font-style: italic;
	}
	a.button{
		font-style: normal;
		margin: 0;
	}
	img{
		width: 100%;
		display: block;
		margin: 10px 0;
	}
	.priority{
		@include clearfix;
		position: absolute;
		right: 10px;
		top: 3px;
		img{
			width: 13px;
			margin-right: 1px;
			float: right;
		}
	}
	.state{
		position: absolute;
		right: 10px;
		top: 10px;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		margin: 7px auto 0;
		&.s1{
			background-color: #848688;
		}
		&.s2{
			background-color: #149a44;
		}
		&.s3{
			background-color: #D40C0C;
		}
		&.s4{
			background-color: #BA6007;
		}
		&.s5{
			background-color: #1d4a7b;
		}
	}
}
#selectByMap,#locations-map{
	.frame{
		background-color: #fcfcfc;
		height: 110px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
	}
	.footer{
		padding: 20px 10px;
		background-color: #fcfcfc;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
		.button{
		  margin: 0;
		}
	}
}
.map-buttons{
	width: 50px;
	right: 5% !important;
	top: 105px !important;
	a{
		margin-bottom: 10px;
	}
	img{
		width: 100%;
	}
}
.map-button{
	display: block;
	width: 50px;
	img{
		width: 100%;
	}
}
#botonCentrar{
  position: absolute;
  bottom: 2em;
  left: 7em;
}
#botonBuscar{
  position: absolute;
  bottom: 1em;
  right: 5em;
}
#inventory-search-map-buttons{
	width: 50px;
	bottom: 30px !important;
	left: 10px !important;
}
#select-map, #locations-map, #inventory-create-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 110px); }
#select-map-search-box,.map-search-box{
	position: relative;
	z-index: 999999;
	width: 100%;
  top: -2em !important;
	height: 60px;
	margin: 30px auto;
	input{
		display: block;
		width: 95%;
		height: 50px;
		margin: 0 auto;
		background-color: #fcfcfc;
		border: 0 none;
		border-radius: 4px;
		font-size: 18px;
		line-height: 60px;
		color: #1d4a7b;
		padding-left: 10px;
		padding-right: 74px;
	}
	span{
		position: absolute;
		top: 0;
		right: 2%;
		height: 50px;
		width: 65px;
		border-left: 2px solid #1d4a7b;
		background: url(../imgs/icons/ico-search.svg) no-repeat center center;
		background-size: 38% auto;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-search.png);
		}
	}
}
.map-marker{
	transform: translateY(8px);
	img{
		width: 27px;
		display: block;
		margin: 0 auto 6px;
	}
	.button{
		display: block;
		margin:0 0 6px 0;
	}
	.options{
		visibility: hidden;
	}
}
.login{
	.logo{
		width: 140px;
		display: block;
		margin: 65px auto 52px;
	}
}
