.bluebox{
	background-color: rgb(240, 243, 245);
	padding: 10px 20px;
	margin-bottom: 2px;
	color: $color-blue;
	font-size: 16px;
	position: relative;
	strong{
		font-weight: $fw-semibold;
		color: $color-green;
		margin-right: 5px;
	}
	a{
		font-weight: $fw-semibold;
		font-style: italic;
	}
	a.button{
		font-style: normal;
		margin: 0;
	}
	img{
		width: 100%;
		display: block;
		margin: 10px 0;
	}
	.priority{
		@include clearfix;
		position: absolute;
		right: 10px;
		top: 3px;
		img{
			width: 13px;
			margin-right: 1px;
			float: right;
		}
	}
	.state{
		position: absolute;
		right: 10px;
		top: 10px;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		margin: 7px auto 0;
		&.s1{
			background-color: $state-incident-1;
		}
		&.s2{
			background-color: $state-incident-2;
		}
		&.s3{
			background-color: $state-incident-3;
		}
		&.s4{
			background-color: $state-incident-4;
		}
		&.s5{
			background-color: $state-incident-5;
		}
	}
}
