[data-role=view]{
	transition: filter 3s;
	transition: -webkit-filter 300ms;
	box-shadow: 4px 2px 15px 0 rgba(0,0,0,0.19);
}
#filtrosDrawer{
	width: calc(100% - 65px);
	.drawer-footer{
		height: 75px;
		background-color: $color-blue;
	}
	.drawer-content{
		position: relative;
		//overflow: hidden;
		.km-listview-wrapper{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
		.filter-fields{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: $color-broken-white;
			display: none;

		}
		&.show-fields{
			.km-listview-wrapper{
				@include animation(show-filter-fields2 300ms);
				@include transform(translateX(-100%));
			}
			.filter-fields{
				display: block;
				@include animation(show-filter-fields1 300ms);
				@include transform(translateX(0));
			}
		}
	}
	.buttons{
		@include clearfix;
		height: 65px;
		a{
			display: block;
			height: 100%;
			width: 75px;
			float: left;
		}
		.button-cancel{
			background: url(../imgs/icons/ico-cross.svg) center center no-repeat;
			background-size: 34% auto;
			opacity: 0;
			@include transition(opacity 300ms);
			&.show{
				opacity: 1;
			}
			.platform-blackberry10 &{
				background-image: url(../imgs/icons/ico-cross.png);
			}
		}
		.button-save{
			background: url(../imgs/icons/ico-save.svg) center center no-repeat;
			background-size: 37% auto;
			border-right: 2px solid white;
			opacity: 0;
			@include transition(opacity 300ms);
			&.show{
				opacity: 1;
			}
			.platform-blackberry10 &{
				background-image: url(../imgs/icons/ico-save.png);
			}
		}
		.button-add{
			background: url(../imgs/icons/ico-plus.svg) center center no-repeat;
			background-size: 37% auto;
			float: right;
			border-left: 2px solid white;
			.platform-blackberry10 &{
				background-image: url(../imgs/icons/ico-plus.png);
			}
		}
	}
	.filter-box{
		width: 100%;
		margin: 0 auto;
		border: 2px solid $color-blue;
		border-radius: 5px;
		padding: 15px;
		margin-top: 20px;
		/*position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));*/
		@include transition(opacity 300ms);
		&.hidden{
			opacity: 0;
			display: none;
		}
		&.visible{
			opacity: 1;
		}
		legend{
			color: $color-blue;
			font-size: 17px;
			margin-bottom: 20px;
		}
		select,input,.form-select{
			width: 100% !important;
			margin-left: 0 !important;
		}
		.form-select{
			margin-bottom: 12px;
		}
		.buttons{
			@include clearfix;
			> *{
				width: 45%;
				&:first-child{
					float: left;
				}
				&:last-child{
					float: right;
				}
			}
		}
		.values > *{
			display: none;
		}
	}
}
.blurred {
	//@include filter(blur(2px));
}
.darked{
	@include filter(brightness(0.4));
}
@include keyframes(show-filter-fields1){
	0%{
		@include transform(translateX(100%));
	}
	100%{
		@include transform(translateX(0));
	}
}
@include keyframes(show-filter-fields2){
	0%{
		@include transform(translateX(0));
	}
	100%{
		@include transform(translateX(-100%));
	}
}
