#selectByMap,#locations-map{
	.frame{
		background-color: $color-broken-white;
		height: 110px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
	}
	.footer{
		padding: 20px 10px;
		background-color: $color-broken-white;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
		.button{
		  margin: 0;
		}
	}
}
.map-buttons{
	width: 50px;
	right: 5% !important;
	top: 105px !important;
	a{
		margin-bottom: 10px;
	}
	img{
		width: 100%;
	}
}
.map-button{
	display: block;
	width: 50px;
	img{
		width: 100%;
	}
}
#inventory-search-map-buttons{
	width: 50px;
	bottom: 30px !important;
	left: 10px !important;
}
#select-map{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100vh - 110px);
}
#locations-map{
	@extend #select-map;
	height: calc(100vh - 115px);
}
#inventory-create-map{
	@extend #select-map;
	height: calc(100vh - 115px);
	top: 110px;
}
#select-map-search-box,.map-search-box{
	position: relative;
	z-index: 999999;
	width: 100%;
	height: 60px;
	margin: 30px auto;
	input{
		display: block;
		width: 90%;
		height: 60px;
		margin: 0 auto;
		background-color: $color-broken-white;
		border: 0 none;
		border-radius: 15px;
		font-size: 18px;
		line-height: 60px;
		color: $color-blue;
		padding-left: 10px;
		padding-right: 74px;
	}
	span{
		position: absolute;
		top: 0;
		right: 5%;
		height: 60px;
		width: 65px;
		border-left: 2px solid $color-blue;
		background: url(../imgs/icons/ico-search.svg) no-repeat center center;
		background-size: 38% auto;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-search.png);
		}
	}
}
.map-marker{
	transform: translateY(8px);
	img{
		width: 27px;
		display: block;
		margin: 0 auto 6px;
	}
	.button{
		display: block;
		margin:0 0 6px 0;
	}
	.options{
		visibility: hidden;
	}
}
