#selectByMap{
	.frame{
		background-color: $color-broken-white;
		height: 110px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
	}
	.footer .button{
		margin: 40px 30px !important;
	}
}
#select-map-buttons{
	width: 50px;
	right: 5% !important;
	bottom: 26px !important;
	a{
		display: block;
		margin-bottom: 10px;
	}
	img{
		width: 100%;
	}
}
#select-map{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 110px);
}
#select-map-search-box{
	position: relative;
	z-index: 999999;
	width: 100%;
	height: 60px;
	margin: 30px auto;
	input{
		display: block;
		width: 90%;
		height: 60px;
		margin: 0 auto;
		background-color: $color-broken-white;
		border: 0 none;
		border-radius: 15px;
		font-size: 18px;
		line-height: 60px;
		color: $color-blue;
		padding-left: 10px;
		padding-right: 74px;
	}
	span{
		position: absolute;
		top: 0;
		right: 5%;
		height: 60px;
		width: 65px;
		border-left: 2px solid $color-blue;
		background: url(../imgs/icons/ico-search.svg) no-repeat center center;
		background-size: 38% auto;
	}
}
.map-marker{
	transform: translateY(8px);
	img{
		width: 27px;
		display: block;
		margin: 0 auto 6px;
	}
	.button{
		display: block;
		margin:0 0 6px 0;
	}
	.options{
		visibility: hidden;
	}
}
