#selectByRFID,#modals-readTag{
	.main.frame,.modal-frame{
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		.icon{
			width: 77px;
		}
		.label{
			color: $color-green;
			font-size: 22px;
			font-weight: 600;
			margin-top: 30px;
			text-align: center;
			&.error{
				color: $color-red;
			}
		}
	}
	.footer.frame{
		background-color: $color-broken-white;
		height: 110px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.12);
	}
	.footer .button{
		margin: 0;
	}
}
