.state-list-item{
	font-size: 16px;
	color: $color-blue;
	background-color: rgb(240, 243, 245);
	padding: 10px 0;
	h1{
		color: $color-green;
		border-bottom: 1px solid $color-green;
		background-color: rgb(240, 243, 245);
		position: relative;
		font-size: 16px;
		margin-top: 0;
		//&:after{
		//	content: "";
		//	width: 10px;
		//	height: 10px;
		//	background-color: $color-green;
		//	position: absolute;
		//	bottom: 0;
		//	right: 10px;
		//}

	}
	> p{
		margin-top: 20px;
	}
	.fecha{
		background: url(../imgs/icons/ico-calendar.svg) no-repeat center left;
		background-size: 24px auto;
		padding-left: 50px;
		height: 24px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-calendar.png);
		}
	}
	.nombre{
		background: url(../imgs/icons/ico-user-green.svg) no-repeat center left;
		background-size: 24px auto;
		padding-left: 50px;
		height: 24px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-user-green.png);
		}
	}
	strong{
		color: $color-green;
		font-weight: normal;
	}
}
#states-list li{
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
}
