<div id="{{viewId}}"
	 data-role="view"
	 data-layout="default"
	 data-model="app.viewModels.views.{{id}}"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<h1>{{id}}</h1>
</div>
