<div id="modal-alarmMessage"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.alarmMessage"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="390"
	 class="floats-module"

>
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">
			<p class="title">Alarma</p>
			<p class="alarm-message"></p>
		</div>
		<div class="modal-footer">
			<a data-bind="click:onClose" class="button block">Aceptar</a>
		</div>
	</div>
</div>
