<div id="modal-confirmDeleteFilter"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.confirmDeleteFilter"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="modal-frame">
		<h1 class="modal-title">
			<img src="content/imgs/modalheader-cross.svg" />
			<span data-i18n="views.modals.confirmDeleteFilter.attention">Atención</span>
		</h1>
		<div class="modal-body">
			<p data-i18n="views.modals.confirmDeleteFilter.deleteFilter">¿Seguro que deseas eliminar ese filtro?</p>
			<p><strong class="filter-to-delete"></strong></p>
		</div>
		<div class="modal-footer">
			<a data-bind="click:onCloseYes" class="condensed button" data-i18n="views.modals.confirmDeleteFilter.yes">Si</a>
			<a data-bind="click:onCloseNo" class="condensed button fright" data-i18n="views.modals.confirmDeleteFilter.no">No</a>
		</div>
	</div>
</div>
