<div id="modal-editFieldBoolean" class="inventory-module inventory-field-modal"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.editFieldBoolean"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="190">
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">
			<label data-bind="text:name">Editar:</label>
			<form class="regular-form full-width text-left">
				<input type="radio" id="field-boolean-true" name="rgroup"> <label for="field-boolean-true">Sí</label>
				<input type="radio" id="field-boolean-false" name="rgroup"> <label for="field-boolean-false">No</label>
			</form>
		</div>
		<div class="modal-footer">
			<a data-bind="click:onCloseCancel" class="button condensed grey">Cancelar</a>
			<a data-bind="click:onCloseSave" class="button condensed inventory fright">Guardar</a>
		</div>

	</div>
</div>

