<div id="modal-editFieldDate" class="inventory-module inventory-field-modal"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.editFieldDate"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="190">
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">
			<label data-bind="text:name">Editar:</label>
			<form class="regular-form full-width text-left">
				<input type="date" class="full-width" data-bind="value:value">
			</form>

		</div>
		<div class="modal-footer">
			<a data-bind="click:onCloseCancel" class="button condensed grey">Cancelar</a>
			<a data-bind="click:onCloseSave" class="button condensed inventory fright">Guardar</a>
		</div>

	</div>
</div>

