<div id="modal-mapHelp"
	 data-role="modalview"
	>
	<div class="modal-frame">
		<h1 class="modal-title">
			<img src="content/imgs/map-add-location.svg" />
			<span data-i18n="views.modals.mapHelp.selectLocation">Seleccionar ubicación</span>
		</h1>
		<div class="modal-body">
			<p data-i18n="views.modals.mapHelp.instructions">Toca este icono para seleccionar ubicación.</p>
			<p data-i18n="views.modals.mapHelp.instructions2">A continuación toca la zona del mapa que quieras marcar.</p>
			<p data-i18n="views.modals.mapHelp.instructions3">Una vez marcada guarda esa ubicación.</p>
		</div>
		<div class="modal-footer">
			<a onclick="onClose()" class="button block" data-i18n="views.modals.mapHelp.close">Cerrar</a>
		</div>
	</div>
	<script>
		function onClose(){
			$("#modal-mapHelp").kendoMobileModalView("close");
		}
	</script>
</div>
