<div id="modal-noOffline"
	 data-role="modalview"
	>
	<div class="modal-frame">
		<h1 class="modal-title">
			<img src="content/imgs/modalheader-offline.svg" />
			<span data-i18n="views.modals.noOffline.offline">Sin conexión</span>
		</h1>
		<div class="modal-body">
			<p data-i18n="views.modals.noOffline.text1">En este momento no hay conexión a internet.</p>
			<p data-i18n="views.modals.noOffline.text2">Esta funcionalidad solo se puede usar cuando estas conectado a internet.</p>
		</div>
		<div class="modal-footer">
			<a onclick="onCloseOffline()" class="button block" data-i18n="views.modals.noOffline.close">Cerrar</a>
		</div>
	</div>
	<script>
		function onCloseOffline(){
			$("#modal-noOffline").kendoMobileModalView("close");
			console.log("BB")
		}
	</script>
</div>
