<div id="modal-resourcesSelect"
	 class="planning-module resources-select-modal"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.resourcesSelect"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="550"
	>
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">
			<form class="regular-form full-width text-left">

				<input type="radio" id="create-planning-human-resource" name="planning-resource" class="changeResourceType" value="1" /> <label for="create-planning-human-resource">Recurso humano</label>
				<br/>
				<input type="radio" id="create-planning-material-resource" name="planning-resource" class="changeResourceType" value="2" /> <label for="create-planning-material-resource">Recurso material</label>
				<br/>
				<input type="radio" id="create-planning-machine-resource" name="planning-resource" class="changeResourceType" value="3" /> <label for="create-planning-machine-resource">Recurso maquinaria</label>
				<p>
					<span class="form-select">
						<select class="select-resources"
								data-bind="source:resources,value:selectedResource"
								data-text-field="CategoriaRecurso"
								data-value-field="IdCategoriaRecurso"
						></select>
					</span>
				</p>

			</form>
		</div>
		<div class="modal-footer">
			<a data-bind="click:onCloseCancel" class="button condensed grey">Cancelar</a>
			<a data-bind="click:onCloseSave" class="button condensed planning fright">Aceptar</a>
		</div>

	</div>
</div>
