<div id="modal-save-filter"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.saveFilter"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="modal-frame">
		<form class="box regular-form">
			<input type="text" id="filter-name" placeholder="Nombre del filtro" data-bind="value:filtro.Nombre">
			<a href="#" class="block button" data-bind="click: onSave" data-i18n="views.modals.saveFilter.save">Guardar</a>
		</form>
	</div>
</div>
