<div id="modal-vehiclesFilter"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.vehiclesFilter"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="390"
	 class="floats-module"
>
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">

		</div>
		<div class="modal-footer">

		</div>
	</div>
</div>
