<div id="blank"
	 data-role="view"
	 data-title="Nueva incidencia"
	 data-layout="default"
	 data-model="app.viewModels.views.incidencias.blank"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="blank frame">
		<ol class="form-progress">
			<li class="current"><span>1</span></li>
			<li><span>2</span></li>
			<li><span>3</span></li>
		</ol>
		<form class="regular-form">
			<div>
				<label>Fecha:</label><input type="date" />
			</div>
			<div>
				<label>Contrato:</label><span class="form-select"><select>
				<option value="0">Contrato</option>
			</select></span>
			</div>
			<div>
				<label>Prioridad:</label><span class="form-select"><select>
				<option value="0">Prioridad</option>
			</select></span>
			</div>
			<div>
				<label>Provincia:</label><span class="form-select"><select>
				<option value="0">Provincia</option>
				<option value="&#193;lava">&#193;lava</option>
				<option value="Albacete">Albacete</option>
				<option value="Alicante">Alicante</option>
				<option value="Almer&#237;a">Almer&#237;a</option>
				<option value="Asturias">Asturias</option>
				<option value="&#193;vila">&#193;vila</option>
				<option value="Badajoz">Badajoz</option>
				<option value="Baleares">Baleares</option>
				<option value="Barcelona">Barcelona</option>
				<option value="Burgos">Burgos</option>
				<option value="C&#225;ceres">C&#225;ceres</option>
				<option value="C&#225;diz">C&#225;diz</option>
				<option value="Cantabria">Cantabria</option>
				<option value="Castell&#243;n">Castell&#243;n</option>
				<option value="Ceuta">Ceuta</option>
				<option value="Ciudad Real">Ciudad Real</option>
				<option value="C&#243;rdoba">C&#243;rdoba</option>
				<option value="Cuenca">Cuenca</option>
				<option value="Gerona">Gerona</option>
				<option value="Granada">Granada</option>
				<option value="Guadalajara">Guadalajara</option>
				<option value="Guip&#250;zcoa">Guip&#250;zcoa</option>
				<option value="Huelva">Huelva</option>
				<option value="Huesca">Huesca</option>
				<option value="Ja&#233;n">Ja&#233;n</option>
				<option value="La Coru&#241;a">La Coru&#241;a</option>
				<option value="La Rioja">La Rioja</option>
				<option value="Las Palmas">Las Palmas</option>
				<option value="Le&#243;n">Le&#243;n</option>
				<option value="L&#233;rida">L&#233;rida</option>
				<option value="Lugo">Lugo</option>
				<option value="Madrid">Madrid</option>
				<option value="M&#225;laga">M&#225;laga</option>
				<option value="Melilla">Melilla</option>
				<option value="Murcia">Murcia</option>
				<option value="Navarra">Navarra</option>
				<option value="Orense">Orense</option>
				<option value="Palencia">Palencia</option>
				<option value="Pontevedra">Pontevedra</option>
				<option value="Salamanca">Salamanca</option>
				<option value="Santa Cruz de Tenerife">Santa Cruz de Tenerife</option>
				<option value="Segovia">Segovia</option>
				<option value="Sevilla">Sevilla</option>
				<option value="Soria">Soria</option>
				<option value="Tarragona">Tarragona</option>
				<option value="Teruel">Teruel</option>
				<option value="Toledo">Toledo</option>
				<option value="Valencia">Valencia</option>
				<option value="Valladolid">Valladolid</option>
				<option value="Vizcaya">Vizcaya</option>
				<option value="Zamora">Zamora</option>
				<option value="Zaragoza">Zaragoza</option>
			</select></span>
			</div>
			<div>
				<label>Municipio:</label><span class="form-select"><select>
				<option value="0">Municipio</option>
			</select></span>
			</div>
			<div>
				<label>Estado:</label><span class="form-select"><select>
				<option value="0">Estado</option>
			</select></span>
			</div>
			<div>
				<label>Grupo:</label><span class="form-select"><select>
				<option value="0">Grupo</option>
			</select></span>
			</div>
			<div>
				<label>Tipo:</label><span class="form-select"><select>
				<option value="0">Tipo</option>
			</select></span>
			</div>
			<div>
				<label>Descripcion:</label>
				<textarea></textarea>
			</div>
			<div>
				<label>Imagen:</label><span class="form-file"><input type="file">
					<span>
						<img src="content/imgs/icons/ico-image.svg">
						<button class="condensed button">Añadir imagen</button>
					</span>
				</span>
			</div>
			<div>
				<label>Observaciones:</label>
				<textarea></textarea>
			</div>
			<div>
				<button class="condensed button">Leer etiqueta</button>
			</div>
			<a class="block button" href="#selectLocation">Siguiente</a>
		</form>
	</div>
</div>
