<div id="detail"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.detail.title"
	 data-title="Detalle incidencia"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.detail"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<script id="detailTemplate" type="text/x-kendo-template">
		<div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.code">Código:</strong><span>#=CodigoIncidencia || "n/a"#</span>
			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.state">Estado:</strong>#=estado() ? estado().EstadoIncidencia : "-"# #if(!hideHistory){#<a href="\\#historicoEstados" data-i18n="views.incidencias.detail.historical">(Histórico)</a>#}#
				<div class="state s${IdEstado}"></div>
			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.priority">Prioridad:</strong>#=prioridad() ? prioridad().Prioridad : ""#
				<div class="priority">
					# if (IdPrioridad == 1){ #
					<img src="content/imgs/priority.svg">
					<img src="content/imgs/priority.svg">
					# } #
					# if (IdPrioridad == 2){ #
					<img src="content/imgs/priority.svg">
					# } #
				</div>
			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.group">Grupo:</strong>#=grupo() ? grupo().GrupoIncidencia : ""#
			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.type">Tipo:</strong>#=tipo() ? tipo().TipoIncidencia : ""#
			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.description">Descripcion:</strong>#=descripcion() ? descripcion().DescripcionIncidencia : ""#
			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.date">Fecha:</strong>#= kendo.toString(FechaAlta, "dd/MM/yyyy HH:mm") #
			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.location">Localización:</strong>#= localizaciones() #
			</div>
			# if(hasMap()){ #
			<div class="bluebox">
				<a data-i18n="views.incidencias.detail.map" class="condensed button" href="\\#locationsMap">ver mapa</a>
			</div>
			# } #
			<div class="bluebox" class="imagen-container" # if (!Imagen && !CargandoImagen){  # style="display:none" #}#>
				<strong data-i18n="views.incidencias.detail.image">Imagen:</strong>
				# if(CargandoImagen){#
				<span>Imagen todavía no cargada</span>
				#}else{#
				<img src="#= Imagen + '&r=' + Math.random() #" class="imagen-incidencia normal">
				#}#

			</div>
			<div class="bluebox" class="imagen-container" # if (!ImagenCierre && !CargandoImagenCierre){  # style="display:none" #}#>
				<strong data-i18n="views.incidencias.detail.closingImage">Imagen de cierre:</strong>
				# if(CargandoImagenCierre){#
				<span>Imagen todavía no cargada</span>
				#}else{#
				<img src="#= ImagenCierre #" class="imagen-incidencia">
				#}#

			</div>
			<div class="bluebox">
				<strong data-i18n="views.incidencias.detail.observations">Observaciones:</strong>
				<span>#= Observaciones || "N/D" #</span>
			</div>
		</div>
	</script>
	<hr class="pattern">
	<div id="detail-container"></div>
	<hr class="pattern">
	<div class="frame options">
		<a href="#edit" class="button block icon" data-icon="ico-document-edit" data-i18n="views.incidencias.detail.incidence" data-role-visibility="Incidencias.ModificarIncidencia">Editar incidencia</a>
		<a data-bind="click:openModal" data-rel="modalview" class="button block icon" data-icon="ico-document-reload" data-i18n="views.incidencias.detail.changeState" data-role-visibility="Incidencias.CambioEstadoIncidencia">Cambiar estado</a>
    </div>
</div>
