<div
	id="incidencias-home"
	data-role="view"
	data-layout="default-burger"
	data-title="Incidencias"
	data-i18n="[data-title]views.incidencias.index.title"	
	data-model="app.viewModels.views.incidencias.index"
	data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="home frame">
		<img src="content/imgs/incidencias-logo.png" alt="" class="home-logo">
		<a id="rolNuevaIncidencia" href="#edit" class="button block icon" data-bind="click:onCreate" data-icon="ico-document-new" data-i18n="views.home.index.new" data-role-visibility="Incidencias.NuevIncidencia"><span>Nueva incidencia</span></a>
		<a id="rolListaIncidencias" href="#incidencias" class="button block icon incidencias-list-button" data-icon="ico-document-check" data-i18n="views.home.index.list" data-role-visibility="Incidencias.ListadoIncidencias">Gestionar incidencias</a>
    </div>
</div>
