<div id="incidencias"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.index.title"
	 data-title="Incidencias"
	 data-layout="default"
	 data-model="app.viewModels.views.incidencias.list"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<ul data-role="listview"
		data-template="incidencias-list-template"
		data-pull-to-refresh="true"
		data-endless-scroll="true"
		data-messages='{ "releaseTemplate": "Suelta para actualizar", "refreshTemplate": "Actualizando","pullTemplate": "Tira para actualizar" }'
		data-bind="source: source, events { click: onSelect }"></ul>

	<script id="incidencias-list-template" type="text/x-kendo-template">
		<div class="incidencia-list-item">
			<img class="cat-icon" src="content/imgs/icons/incidence-cat-${IdGrupo}.svg" onerror="this.src='content/imgs/icons/incidence-cat-0.svg'">
			<div class="text-content">
				<div>${titulo()}</div>
				<div>Código: ${CodigoIncidencia}</div>
				<div>#= kendo.toString(new Date(FechaAlta), "dd/MM/yyyy HH:mm")#</div>
			</div>
			<div class="icons">
				<div class="priority">
					# if (IdPrioridad == 1){ #
					<img src="content/imgs/priority.svg">
					<img src="content/imgs/priority.svg">
					# } #
					# if (IdPrioridad == 2){ #
					<img src="content/imgs/priority.svg">
					# } #
				</div>
				<div class="state s${IdEstado}"></div>
			</div>
		</div>
	</script>
</div>
