<div id="selectByAddress"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.selectByAddress.title"
	 data-title="Localizar por dirección"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.selectByAddress"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<form class="frame">
		<input type="text" id="select-address-address" class="blue text-input" placeholder="Dirección" data-i18n="[placeholder]views.incidencias.selectByAddress.address">
		<a class="condensed button fright" data-bind="events:{ click: addDir }" data-i18n="views.incidencias.selectByAddress.add">Añadir</a>
	</form>
	<div class="frame">
		<ul class="addressList" id="addressList">
			<script id="address-list-template" type="text/x-kendo-template">
				<li><span>#= title() #</span><a data-bind="events: { click: removeDir }" data-uid="#=uid#"><img src="content/imgs/button-close.svg"></a></li>
			</script>
		</ul>
		<a href="#resume" class="block button" data-i18n="views.incidencias.selectByAddress.next">Siguiente</a>
	</div>
</div>
