<div id="selectByInventary"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.selectByInventary.title"
	 data-title="Localizar por inventario"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.selectByInventary"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<form class="frame regular-form">
		<div>
			<label data-i18n="views.incidencias.selectByInventary.district">Distrito:</label><span class="form-select"><select class="select-distritos"
																	  data-bind="source:inventary.distritos,value:location.Distrito"
																	  data-text-field="Distrito"
																	  data-value-field="IdDistrito">
		</select></span>
		</div>
		<div>
			<label data-i18n="views.incidencias.selectByInventary.urban">E. urbano:</label><span class="form-select disabled"><select class="select-espacios"
																	   data-bind="source:inventary.espaciosUrbanos,value:location.EspacioUrbano"
																	   data-text-field="EspacioUrbano"
																	   data-value-field="IdEspacioUrbano"
																	   disabled>
			<option value="0" data-i18n="views.incidencias.selectByInventary.urban2">Espacio urbano</option>
		</select></span>
		</div>
		<div>
			<label data-i18n="views.incidencias.selectByInventary.zone">Zona / Ruta:</label><span class="form-select disabled"><select class="select-zonas"
																  data-bind="source:inventary.zonas,value:location.Zona"
																  data-text-field="Nombre"
																  data-value-field="Id"
																  disabled>
		</select></span>
		</div>
		<div>
			<label data-i18n="views.incidencias.selectByInventary.type">Tipo:</label><span class="form-select"><select class="select-tipos"
																  data-bind="source:inventary.tipos,value:location.Tipo"
																  data-text-field="Tipo"
																  data-value-field="IdTipoElemento">
		</select></span>
		</div>
		<div>
			<label data-i18n="views.incidencias.selectByInventary.element">Elemento:</label><span class="form-select disabled"><select class="select-elementos"
																	  data-bind="source:inventary.elementosLista,value:location.Elemento"
																	  data-text-field="NombreElemento"
																	  data-value-field="IdElemento"
																	  disabled>
		</select></span>
		</div>
		<a class="condensed button fright" data-bind="events:{ click: addDir }" data-i18n="views.incidencias.selectByInventary.add">Añadir</a>
	</form>
	<div class="frame">
		<ul class="addressList" id="addressListInventary">
			<script id="address-list-inventary-template" type="text/x-kendo-template">
				<li><span>#= title() #</span><a data-bind="events: { click: removeDir }" data-uid="#=uid#"><img src="content/imgs/button-close.svg"></a></li>
			</script>
		</ul>
		<a href="#resume" class="block button" data-i18n="views.incidencias.selectByInventary.next">Siguiente</a>
	</div>
</div>

