.parsley-errors-list {
  display: none; }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Open Sans regular.woff") format("woff"), url("../fonts/Open Sans regular.ttf") format("truetype"), url("../fonts/Open Sans regular.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Open Sans italic.woff") format("woff"), url("../fonts/Open Sans italic.ttf") format("truetype"), url("../fonts/Open Sans italic.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Open Sans 300.woff") format("woff"), url("../fonts/Open Sans 300.ttf") format("truetype"), url("../fonts/Open Sans 300.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Open Sans 300italic.woff") format("woff"), url("../fonts/Open Sans 300italic.ttf") format("truetype"), url("../fonts/Open Sans 300italic.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Open Sans 600.woff") format("woff"), url("../fonts/Open Sans 600.ttf") format("truetype"), url("../fonts/Open Sans 600.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Open Sans 600italic.woff") format("woff"), url("../fonts/Open Sans 600italic.ttf") format("truetype"), url("../fonts/Open Sans 600italic.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Open Sans 700.woff") format("woff"), url("../fonts/Open Sans 700.ttf") format("truetype"), url("../fonts/Open Sans 700.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Open Sans 700italic.woff") format("woff"), url("../fonts/Open Sans 700italic.ttf") format("truetype"), url("../fonts/Open Sans 700italic.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Open Sans 800.woff") format("woff"), url("../fonts/Open Sans 800.ttf") format("truetype"), url("../fonts/Open Sans 800.svg#Open Sans") format("svg"); }
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Open Sans 800italic.woff") format("woff"), url("../fonts/Open Sans 800italic.ttf") format("truetype"), url("../fonts/Open Sans 800italic.svg#Open Sans") format("svg"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-font-smoothing: antialiased; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  background-color: #fcfcfc;
  font-size: 16px !important;
  display: none; }

/* clearfix */
.clearfix:after, .frame:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.fleft {
  display: block;
  float: left; }

.fright {
  display: block;
  float: right; }

.pattern {
  border: 0 none;
  height: 10px;
  background: url(../imgs/bar-pattern.png) repeat-x;
  margin: 0; }

input[type=search] {
  -webkit-appearance: none; }

.show-version {
  position: absolute;
  top: 10px;
  left: 10px; }

.instructions {
  font-size: 15px;
  color: #1d4a7b; }

.instructions.last {
  margin-bottom: 20px; }

hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #cccccc; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

html:not(.contract-urbajardin) .urbajardin-only {
  display: none; }

html:not(.contract-smartus) .smartus-only {
  display: none; }

.km-flat {
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-shadow: transparent 0px 0px 0px;
  background-color: #fcfcfc; }

.km-flat .km-view .km-content {
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-shadow: transparent 0px 0px 0px;
  background-color: #fcfcfc; }

.km-button {
  border: 0 none !important; }

.km-flat .km-loader:before {
  background-color: #9d969e !important; }

.km-modalview .km-content {
  background-color: transparent !important; }

.km-flat .km-scroller-pull {
  background-color: #1aaa53; }

.km-modalview-root {
  background-color: white;
  width: 100%; }

.km-flat form.km-state-active {
  background-color: transparent !important; }

.km-widget.km-list .km-load-more, .km-widget .km-list .km-load-more {
  margin: 20px auto; }

.urbamovil-citizen #detail .options {
  display: none !important; }
.urbamovil-citizen .search {
  display: none !important; }
.urbamovil-citizen #selectLocation .inventary {
  display: none !important; }
.urbamovil-citizen .user-info {
  text-decoration: none !important;
  pointer-events: none; }
  .urbamovil-citizen .user-info .baloon {
    display: none; }

.frame {
  padding: 21px; }
  .frame > * + * {
    margin: 10px 0; }

.button-at-bottom {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  .button-at-bottom :first-child {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1; }
  .button-at-bottom :last-child {
    height: 80px; }

.header, .km-navbar {
  height: 65px;
  color: #1d4a7b;
  background-color: #dcdfe1;
  border: 0 none !important; }

.main-title, .km-view-title {
  line-height: 65px;
  height: 65px;
  background-color: #dcdfe1;
  color: #1d4a7b;
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-weight: normal; }

.text-input, .regular-form input, .regular-form select, .regular-form textarea {
  height: 68px;
  display: block;
  padding: 16px 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 12.5px !important;
  border: 1px solid #0c652b;
  color: #1d4a7b;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans";
  background-color: white; }
  .text-input::-webkit-input-placeholder, .regular-form input::-webkit-input-placeholder, .regular-form select::-webkit-input-placeholder, .regular-form textarea::-webkit-input-placeholder {
    color: #1d4a7b;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans"; }
  .text-input::-moz-placeholder, .regular-form input::-moz-placeholder, .regular-form select::-moz-placeholder, .regular-form textarea::-moz-placeholder {
    color: #1d4a7b;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans"; }
  .text-input:-moz-placeholder, .regular-form input:-moz-placeholder, .regular-form select:-moz-placeholder, .regular-form textarea:-moz-placeholder {
    color: #1d4a7b;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans"; }
  .text-input:-ms-input-placeholder, .regular-form input:-ms-input-placeholder, .regular-form select:-ms-input-placeholder, .regular-form textarea:-ms-input-placeholder {
    color: #1d4a7b;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans"; }
  .text-input.blue, .regular-form input.blue, .regular-form select.blue, .regular-form textarea.blue {
    border-color: #1d4a7b; }
  .text-input[data-icon], .regular-form input[data-icon], .regular-form select[data-icon], .regular-form textarea[data-icon] {
    padding-left: 50px; }

.text-input-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px; }
  .text-input-container .text-input-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    left: 12px; }

input.error, select.error, textarea.error {
  border-color: #D0021B !important; }

.regular-form {
  margin-top: 21px; }
  .regular-form > div {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    .regular-form > div:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    .regular-form > div.vertical {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-align: start;
      -moz-box-align: start;
      box-align: start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      align-items: flex-start;
      -ms-flex-align: start; }
      .regular-form > div.vertical label {
        margin-bottom: 10px; }
  .regular-form input, .regular-form select, .regular-form textarea {
    -webkit-appearance: none;
    display: inline-block;
    width: 66%;
    height: 45px;
    border-color: #1d4a7b;
    padding: 9px; }
    .regular-form input:disabled, .regular-form select:disabled, .regular-form textarea:disabled {
      opacity: 0.5; }
    .regular-form input + a, .regular-form select + a, .regular-form textarea + a {
      margin-left: 7px;
      height: 30px; }
      .regular-form input + a img, .regular-form select + a img, .regular-form textarea + a img {
        width: 100%; }
  .regular-form .fixedvalue {
    display: inline-block;
    width: 66%;
    margin: 0 0 0 7%;
    font-size: 15px;
    color: #1d4a7b; }
    .regular-form .fixedvalue.block {
      display: block;
      width: 100%;
      margin-left: 0; }
    .regular-form .fixedvalue img {
      width: 100%; }
    .inventory-module .regular-form .fixedvalue {
      color: #6B66CC; }
    .planning-module .regular-form .fixedvalue {
      color: #DC4437; }
    .floats-module .regular-form .fixedvalue {
      color: #EF8407; }
  .regular-form textarea {
    display: block;
    width: 100%;
    height: 85px;
    margin-bottom: 40px; }
  .regular-form label {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #1aaa53;
    font-size: 16px;
    font-weight: 700;
    width: 34%;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 34%;
    -moz-flex: 0 0 34%;
    -ms-flex: 0 0 34%;
    flex: 0 0 34%;
    display: inline-block; }
    .inventory-module .regular-form label {
      color: #6B66CC; }
    .planning-module .regular-form label {
      color: #DC4437; }
    .floats-module .regular-form label {
      color: #EF8407; }
  .regular-form .vertical label {
    width: auto; }
  .regular-form .form-file {
    position: relative;
    height: 100%;
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    align-self: flex-end;
    -ms-flex-item-align: end; }
    .regular-form .form-file input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2; }
    .regular-form .form-file img {
      height: 26px;
      vertical-align: middle;
      margin-right: 6px;
      -webkit-transition: -webkit-transform 300ms, opacity 300ms;
      -moz-transition: -moz-transform 300ms, opacity 300ms;
      transition: transform 300ms, opacity 300ms;
      -webkit-transform: translate(-10px, 0);
      -moz-transform: translate(-10px, 0);
      -ms-transform: translate(-10px, 0);
      -o-transform: translate(-10px, 0);
      transform: translate(-10px, 0);
      opacity: 0; }
      .regular-form .form-file img.visible {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1; }
    .regular-form .form-file span {
      height: 100%;
      display: inline-block;
      text-align: right; }
    .regular-form .form-file .button {
      margin: 0; }
  .regular-form .form-select {
    position: relative;
    height: 100%;
    display: inline-block;
    width: 66%; }
    .regular-form .form-select select {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      width: 100%;
      position: relative;
      z-index: 2;
      padding: 8px 49px 8px 16px;
      background-color: transparent; }
    .regular-form .form-select:after {
      content: "";
      display: inline-block;
      height: 39px;
      width: 39px;
      position: absolute;
      top: 3px;
      right: 3px;
      border-radius: 12.5px;
      background: url(../imgs/icons/ico-arrow-down.svg) no-repeat center center #C2D8CA;
      background-size: 16px auto; }
    .platform-blackberry10 .regular-form .form-select:after {
      background-image: url(../imgs/icons/ico-arrow-down.png); }
    .regular-form .form-select.disabled:after {
      opacity: 0.5; }
    .regular-form .form-select.loading:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 13px;
      top: 13px;
      z-index: 20;
      background: url(../imgs/mini-loading.gif); }
  .regular-form.full-width {
    width: 100%; }
    .regular-form.full-width .form-select {
      width: 100%; }
    .regular-form.full-width input[type=text], .regular-form.full-width input[type=date], .regular-form.full-width input[type=number], .regular-form.full-width input[type=file], .regular-form.full-width input[type=datetime-local] {
      width: 100%; }

.form-select.inventory:after, .inventory-module .form-select:after {
  background-color: #e3e3f6; }

.button {
  display: inline-block;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 700;
  padding: 0 15px;
  color: #fcfcfc !important;
  background-color: #209b49;
  border-radius: 12.5px;
  border: 0 none;
  position: relative;
  height: 68px;
  line-height: 68px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-decoration: none;
  text-align: center; }
  .button.disabled {
    pointer-events: none;
    opacity: 0.5; }

.button.blue {
  background-color: #1d4a7b; }

.button.grey {
  background-color: #a6a7aa !important; }

.button:active {
  background-color: #0c652b; }

.planning-module .button {
  background-color: #DC4437; }

.incidence-module .button {
  background-color: #149a44; }

.inventory-module .button {
  background-color: #6B66CC; }

.floats-module .button {
  background-color: #EF8407; }

.button.incidence {
  background-color: #149a44; }

.button.inventory {
  background-color: #6B66CC; }

.button.planning {
  background-color: #DC4437; }

.button.floats {
  background-color: #EF8407; }

.button.block {
  display: block;
  padding: 15px;
  line-height: 38px;
  width: 100%;
  max-width: 450px; }

.button.icon {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  padding: 0 10px; }
  .button.icon .label {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    -webkit-flex-basis: 200px;
    -moz-flex-basis: 200px;
    flex-basis: 200px;
    -ms-flex-preferred-size: 200px;
    width: calc(100% - 44px); }
  .button.icon .button-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding-right: 8px;
    flex-basis: 40px;
    border-right: 1px solid #fcfcfc; }
    .button.icon .button-icon img {
      width: 28px;
      height: 28px;
      vertical-align: middle; }
    .button.icon .button-icon.end {
      padding-right: 0;
      padding-left: 12px;
      border: 0; }
  .button.icon.text-left {
    text-align: left !important; }
    .button.icon.text-left .label {
      padding-left: 8px; }

.button.condensed {
  height: 47px;
  line-height: 23px;
  padding: 12px 10px; }
  .button.condensed .button-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-right: 8px;
    flex-basis: 40px;
    border-right: 1px solid #fcfcfc; }
    .button.condensed .button-icon img {
      width: 23px;
      height: 23px;
      vertical-align: middle; }

.km-navbar .navbar-button {
  display: inline-block;
  width: 60px;
  height: 40px;
  background: no-repeat center center;
  margin: 4px 0; }
  .km-navbar .navbar-button[data-align=right] {
    border-left: 2px solid #fcfcfc !important;
    margin-right: -5px; }
  .km-navbar .navbar-button[data-align=left] {
    border-right: 2px solid #fcfcfc !important;
    left: -5px; }
.km-navbar .exit {
  background-image: url(../imgs/icons/ico-exit.svg);
  background-size: 20px 25px; }
  .platform-blackberry10 .km-navbar .exit {
    background-image: url(../imgs/icons/ico-exit.png); }
.km-navbar .back {
  background-image: url(../imgs/icons/ico-arrow-back.svg);
  background-size: 15px 24px; }
  .platform-blackberry10 .km-navbar .back {
    background-image: url(../imgs/icons/ico-arrow-back.png); }
.km-navbar .search, .km-navbar .search-floats {
  background-image: url(../imgs/icons/ico-search.svg);
  background-size: 24px 24px;
  display: none; }
  .platform-blackberry10 .km-navbar .search, .platform-blackberry10 .km-navbar .search-floats {
    background-image: url(../imgs/icons/ico-search.png); }
.km-navbar .edit-planning-btn {
  background-image: url(../imgs/icons/ico-planning-edit.svg);
  background-size: 24px 24px;
  display: none; }
.km-navbar .search-btn {
  background-image: url(../imgs/icons/ico-search.svg);
  background-size: 24px 24px;
  display: none; }
.km-navbar .burger {
  background-image: url(../imgs/icons/ico-burger.png);
  background-size: 20px 18px; }

#incidencias .km-navbar .search {
  display: inline-block; }

.edit-planning-btn, .search-vehicles-btn, .search-alarms-btn {
  display: none; }

#planning-details .edit-planning-btn {
  display: inline-block; }

#floats-vehicles .search-btn, #floats-alarms .search-btn, #floats-routes .search-btn, #floats-signals .search-btn {
  display: inline-block; }

[data-role=view-title] {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: calc(100% - 130px); }

.incidencia-list-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-shadow: transparent 0px 0px 0px;
  font-size: 16px;
  color: #9d969e;
  height: 58px;
  margin: 10px auto 10px; }
  .incidencia-list-item .cat-icon {
    width: 47px;
    min-width: 47px;
    margin-right: 15px; }
  .incidencia-list-item .text-content {
    width: 70%;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1; }
    .incidencia-list-item .text-content > :nth-child(1) {
      font-weight: 700; }
    .incidencia-list-item .text-content > :nth-child(3) {
      font-style: italic; }
    .incidencia-list-item .text-content > * {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      display: block;
      padding-right: 8px;
      text-transform: lowercase; }
      .incidencia-list-item .text-content > *:first-letter {
        text-transform: uppercase; }
  .incidencia-list-item .icons {
    min-width: 40px;
    flex-basis: 40px;
    font-size: 0; }
    .incidencia-list-item .icons .priority {
      text-align: center; }
      .incidencia-list-item .icons .priority img {
        width: 13px;
        margin-right: 1px; }
    .incidencia-list-item .icons .state {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      margin: 7px auto 0; }
      .incidencia-list-item .icons .state.s1 {
        background-color: #848688; }
      .incidencia-list-item .icons .state.s2 {
        background-color: #149a44; }
      .incidencia-list-item .icons .state.s3 {
        background-color: #D40C0C; }
      .incidencia-list-item .icons .state.s4 {
        background-color: #BA6007; }
      .incidencia-list-item .icons .state.s5 {
        background-color: #1d4a7b; }

.form-progress {
  list-style-type: none;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 0; }
  .form-progress:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .form-progress li {
    width: 33.3%;
    float: left;
    height: 60px;
    background-color: #93A5C2;
    border-right: 2px solid #fcfcfc; }
    .form-progress li:first-child {
      border-radius: 12.5px 0 0 12.5px; }
    .form-progress li:last-child {
      border-radius: 0 12.5px 12.5px 0;
      border: 0 none; }
    .form-progress li span {
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 50%;
      margin-top: 10px;
      display: inline-block;
      background-color: #fcfcfc;
      font-size: 17px;
      font-weight: 700;
      color: #1aaa53; }
    .form-progress li.current span {
      background-color: #3A618D;
      color: #fcfcfc; }

#selectLocation .form-progress {
  margin-bottom: 30px; }

.addressList {
  list-style-type: none;
  padding: 0;
  width: 100%; }
  .addressList li {
    height: 48px;
    display: block;
    padding: 12px 12px 12px 20px;
    width: 100%;
    max-width: 450px;
    border-radius: 12.5px !important;
    border: 1px solid #1d4a7b;
    color: #1d4a7b;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans";
    background-color: white;
    margin-bottom: 3px; }
    .addressList li span {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      width: 87%; }
    .addressList li a {
      display: block;
      float: right; }
    .addressList li img {
      width: 23px;
      height: 24px; }

#filterFieldList li {
  font-size: 13px;
  font-weight: normal; }

.modal-frame {
  height: 100vh;
  width: 100%;
  width: 100vw;
  padding: 21px;
  background-color: #fcfcfc; }
  .modal-frame .modal-title {
    text-align: center;
    font-size: 23px;
    color: #1aaa53;
    margin-top: 18%;
    margin-bottom: 20px; }
    .modal-frame .modal-title img {
      width: 77px;
      height: 77px;
      display: block;
      margin: 0 auto 22px; }
  .modal-frame .buttons-line {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    .modal-frame .buttons-line .button {
      flex: 0 1 120px; }
      .modal-frame .buttons-line .button + .button {
        margin-left: 10px; }
  .modal-frame .modal-body {
    font-size: 17px;
    color: #1d4a7b;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    .modal-frame .modal-body.modal-align-left {
      -webkit-box-align: left;
      -moz-box-align: left;
      box-align: left;
      -webkit-align-items: left;
      -moz-align-items: left;
      -ms-align-items: left;
      -o-align-items: left;
      align-items: left;
      -ms-flex-align: left;
      text-align: left; }
  .modal-frame.custom-height {
    height: 100%; }

#modal-changeState .modal-title {
  margin-top: 20px; }
#modal-changeState .modal-body {
  text-align: left; }
#modal-changeState .button {
  height: 50px;
  line-height: 20px; }

#stageChangeSelector {
  margin: 0 auto; }

#modal-save-filter .modal-frame {
  background-color: rgba(252, 252, 252, 0.9);
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
#modal-save-filter .box {
  background-color: #fcfcfc;
  border: 1px solid #1d4a7b;
  border-radius: 12px;
  padding: 30px 8px;
  width: 100%;
  height: auto; }
  #modal-save-filter .box input {
    width: 100%;
    padding-left: 30px;
    height: 68px; }
#modal-save-filter .button {
  height: auto;
  width: auto;
  margin-left: 0; }

#modal-confirmDeleteFilter .modal-footer {
  margin: 40px auto 0;
  width: 300px; }
  #modal-confirmDeleteFilter .modal-footer .button {
    min-width: 100px; }

.floats-module .modal-frame .title {
  color: #EF8407; }

input[type=radio]:not(old) {
  width: 25px;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: relative !important;
  z-index: 2;
  margin-bottom: 10px;
  display: inline-block; }
  input[type=radio]:not(old) + label {
    display: inline-block;
    margin-left: -25px;
    line-height: 25px;
    padding-left: 38px;
    position: relative;
    font-size: 15px;
    color: #1d4a7b;
    margin-bottom: 10px; }
    input[type=radio]:not(old) + label:before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 1px solid #1d4a7b; }
    input[type=radio]:not(old) + label:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 9px;
      left: 9px;
      background-color: #C2D8CA;
      border-radius: 50%;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: -webkit-transform 300ms;
      -moz-transition: -moz-transform 300ms;
      transition: transform 300ms; }
  input[type=radio]:not(old):checked + label:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

.km-flat .km-switch-label-on, .km-flat .km-switch-label-off {
  overflow: hidden;
  text-indent: -300px; }

.km-flat .km-switch-container, .km-flat .km-switch-wrapper {
  border-radius: 12px;
  background: transparent;
  border-color: #9B9B9B; }

.km-flat .km-switch-handle {
  color: transparent;
  border-radius: 50%;
  background: #fff;
  border-color: #9B9B9B; }

.km-flat .km-switch-background {
  margin-left: -80px;
  background: #DC4437; }

.km-switch-on .km-switch-background {
  margin-left: 0 !important; }

#contracts-list li, #filter-list li {
  border-bottom-color: #fcfcfc !important;
  background-color: #f0f3f5;
  margin: 0;
  padding: 0; }

.contract-item, .filter-item {
  background: url(../imgs/icons/ico-contract.svg) no-repeat 12px center #f0f3f5;
  background-size: 19px auto;
  font-size: 16px;
  color: #1d4a7b;
  padding: 14px 20px 14px 40px; }
  .platform-blackberry10 .contract-item, .platform-blackberry10 .filter-item {
    background-image: url(../imgs/icons/ico-contract.png); }
  .contract-item span, .filter-item span {
    float: right;
    display: none; }
  .contract-item span.selected, .filter-item span.selected {
    display: block; }
  .contract-item a, .filter-item a {
    text-decoration: none;
    display: block; }

.filter-item {
  background: url(../imgs/icons/ico-filter.svg) no-repeat 12px center #f0f3f5;
  background-size: 20px auto;
  padding: 3px 0px 3px 40px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .platform-blackberry10 .filter-item {
    background-image: url(../imgs/icons/ico-filter.png); }
  .filter-item p {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .filter-item .close {
    display: block;
    height: 50px;
    width: 50px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 50px;
    -moz-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px; }
    .filter-item .close img {
      width: 23px;
      height: 24px;
      margin-top: 12px;
      margin-left: 12px; }
  .filter-item .icon {
    display: none;
    margin-right: 5px;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    -webkit-flex: 0 0 24px;
    -moz-flex: 0 0 24px;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px; }
    .filter-item .icon.selected {
      display: block; }
    .filter-item .icon img {
      display: block;
      height: 24px; }

.tipbox {
  width: 210px;
  height: 163px;
  position: absolute;
  bottom: 70px;
  padding: 15px;
  opacity: 0;
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  transform: translate(0, -20px);
  -webkit-transition: -webkit-transform 400ms;
  -moz-transition: -moz-transform 400ms;
  transition: transform 400ms;
  display: none; }
  .tipbox.visible {
    display: block;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .tipbox p {
    margin: 10px 0;
    font-size: 15px;
    color: #1d4a7b; }
  .tipbox .title-img {
    width: 30px;
    height: 30px; }
  .tipbox .close {
    position: absolute;
    right: 10px;
    top: 10px; }
    .tipbox .close img {
      width: 23px;
      height: 23px; }
  .tipbox.left {
    background: url(../imgs/filters-tipbox-left.svg);
    background-size: 210px auto;
    left: 10px; }
    .platform-blackberry10 .tipbox.left {
      background-image: url(../imgs/icons/filters-tipbox-left.png); }
  .tipbox.right {
    background: url(../imgs/filters-tipbox-right.svg);
    background-size: 210px auto;
    right: 10px; }
    .platform-blackberry10 .tipbox.right {
      background-image: url(../imgs/icons/filters-tipbox-right.png); }
  .tipbox .title {
    color: #1aaa53;
    font-size: 15px;
    font-style: italic;
    margin: 0; }

.platform-blackberry10 .lang-selection {
  background-image: url(../imgs/icons/downarrow.png); }
.lang-selection .lang-list-item {
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-shadow: transparent 0px 0px 0px;
  font-size: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  margin: 0 auto;
  min-height: 47px; }
  .lang-selection .lang-list-item img {
    width: 27px; }
  .lang-selection .lang-list-item.selected {
    opacity: 0.5; }
.lang-selection .text-content {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }
.lang-selection .km-listview {
  margin-top: 40px;
  background-color: transparent; }
  .lang-selection .km-listview li {
    border: 0 none;
    background-color: transparent;
    box-shadow: 0 0 0 transparent; }
.lang-selection .km-listview-wrapper {
  background-color: transparent; }

.home-logo {
  display: block;
  width: 140px;
  margin: 0px auto 32px; }
  .home-logo.sm {
    width: 70px; }

.user-info {
  background: url(../imgs/icons/ico-user-alt.svg) no-repeat left center;
  background-size: 24px 24px;
  padding-left: 30px;
  font-size: 17px;
  text-decoration: none; }
  .platform-blackberry10 .user-info {
    background-image: url(../imgs/icons/ico-user-alt.png); }
  .user-info .baloon {
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #1d4a7b;
    color: #fcfcfc;
    margin-left: 10px;
    font-size: 13px; }

#mainMenuDrawer {
  width: calc(100% - 80px); }
  #mainMenuDrawer .header, #mainMenuDrawer .km-navbar {
    padding: 10px 20px; }
    #mainMenuDrawer .header .user-info .name, #mainMenuDrawer .km-navbar .user-info .name {
      font-size: 12px; }
    #mainMenuDrawer .header .contract, #mainMenuDrawer .km-navbar .contract {
      font-size: 11px;
      color: #9e9f9e;
      margin-top: 5px; }
  #mainMenuDrawer .footer {
    background-color: #cccccc;
    font-size: 11px;
    line-height: 20px;
    padding-left: 10px;
    height: 20px; }
  #mainMenuDrawer .km-listview {
    padding: 16px 0; }
    #mainMenuDrawer .km-listview a {
      background: 20px center no-repeat;
      padding-left: 55px;
      font-size: 15px;
      line-height: 35px;
      font-weight: 600; }
    #mainMenuDrawer .km-listview li {
      border-bottom: none; }
    #mainMenuDrawer .km-listview .km-listview-link:after, #mainMenuDrawer .km-listview .km-listview-label:after {
      display: none; }
  #mainMenuDrawer .navigation-menu-list {
    border-bottom: 2px solid #dddfe2; }
    #mainMenuDrawer .navigation-menu-list a.incidences {
      background-image: url(../imgs/icons/ico-menu-incidences.png);
      background-size: 17px auto;
      color: #149a44; }
    #mainMenuDrawer .navigation-menu-list a.inventory {
      background-image: url(../imgs/icons/ico-menu-barcode.png);
      background-size: 18px auto;
      color: #6B66CC; }
    #mainMenuDrawer .navigation-menu-list a.planning {
      background-image: url(../imgs/icons/ico-menu-planning.png);
      background-size: 18px auto;
      color: #DC4437; }
    #mainMenuDrawer .navigation-menu-list a.floats {
      background-image: url(../imgs/icons/ico-menu-floats.png);
      background-size: 18px auto;
      color: #EF8407; }
  #mainMenuDrawer .tools-menu-list {
    color: #9e9f9e; }
    #mainMenuDrawer .tools-menu-list a {
      background-size: 20px auto; }
      #mainMenuDrawer .tools-menu-list a.language {
        background-image: url(../imgs/icons/ico-menu-lang.png); }
      #mainMenuDrawer .tools-menu-list a.contract {
        background-image: url(../imgs/icons/ico-menu-contracts.png); }
      #mainMenuDrawer .tools-menu-list a.close-session {
        background-image: url(../imgs/icons/ico-menu-close.png); }
      #mainMenuDrawer .tools-menu-list a.tag {
        background-image: url(../imgs/icons/ico-menu-tag.png); }

.subheader {
  margin: 0 !important;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  background-color: #a6a7aa;
  padding: 0;
  height: 30px;
  line-height: 30px;
  color: #fcfcfc; }

.slim-tab-strip.km-tabstrip {
  background-color: transparent;
  font-size: 0;
  table-layout: auto; }
  .slim-tab-strip.km-tabstrip .km-icon {
    display: none; }
  .slim-tab-strip.km-tabstrip .km-button {
    height: 29px;
    line-height: 29px;
    padding: 0;
    font-size: 13px;
    font-weight: 700;
    padding: 3px;
    background-color: transparent;
    border-right: 0 !important; }
    .slim-tab-strip.km-tabstrip .km-button:first-child {
      border-radius: 8px 0 0 8px; }
    .slim-tab-strip.km-tabstrip .km-button:last-child {
      border-radius: 0 8px 8px 0; }
    .slim-tab-strip.km-tabstrip .km-button.km-state-active {
      color: #fcfcfc; }
    .inventory-module .slim-tab-strip.km-tabstrip .km-button {
      color: #6B66CC;
      border: 2px solid #6B66CC !important;
      border-right: 0 !important; }
      .inventory-module .slim-tab-strip.km-tabstrip .km-button:last-child {
        border-right: 2px solid #6B66CC !important; }
      .inventory-module .slim-tab-strip.km-tabstrip .km-button.km-state-active {
        color: #fcfcfc;
        background-color: #6B66CC; }
    .planning-module .slim-tab-strip.km-tabstrip .km-button {
      color: #DC4437;
      border: 2px solid #DC4437 !important;
      border-right: 0 !important; }
      .planning-module .slim-tab-strip.km-tabstrip .km-button:last-child {
        border-right: 2px solid #DC4437 !important; }
      .planning-module .slim-tab-strip.km-tabstrip .km-button.km-state-active {
        color: #fcfcfc;
        background-color: #DC4437; }

.floats-module .slim-tab-strip.km-tabstrip .km-button {
  color: #EF8407;
  border: 2px solid #EF8407 !important; }
  .floats-module .slim-tab-strip.km-tabstrip .km-button:last-child {
    border-right: 2px solid #EF8407 !important; }
  .floats-module .slim-tab-strip.km-tabstrip .km-button.km-state-active {
    color: #fcfcfc;
    background-color: #EF8407; }

#body .inventory-list > li {
  padding: 0; }
#body .inventory-list-item {
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-shadow: transparent 0px 0px 0px;
  font-size: 16px;
  color: #6B66CC;
  height: auto;
  margin: 0;
  padding: 13px 43px 13px 16px;
  text-transform: capitalize;
  border-bottom: 1px solid #e3e3f6; }
  #body .inventory-list-item span {
    display: inline;
    color: #7f8185; }
  #body .inventory-list-item:after {
    display: none; }
#body .inventory-read-img {
  text-align: center;
  margin: 30px 0 25px; }
  #body .inventory-read-img img {
    width: 70px; }
#body .inventory-read-msg {
  text-align: center;
  font-size: 14px;
  margin: 20px 0 30px; }
  #body .inventory-read-msg span {
    font-weight: 600; }

#body .inventory-details-list > li {
  padding: 0;
  margin-bottom: 2px;
  border: 0; }
#body .inventory-details-list-item {
  padding: 14px 67px 14px 21px;
  background: #f0f3f5;
  position: relative;
  border: 0; }
  #body .inventory-details-list-item span:first-child {
    color: #6B66CC;
    font-weight: 600;
    margin-right: 7px; }
  #body .inventory-details-list-item label {
    color: #1d4a7b; }
  #body .inventory-details-list-item p {
    margin: 0; }
  #body .inventory-details-list-item .inventory-buttons {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    height: 18px; }
    #body .inventory-details-list-item .inventory-buttons img {
      width: 50%;
      height: 50%; }
    #body .inventory-details-list-item .inventory-buttons > * {
      display: inline-block; }
  #body .inventory-details-list-item [data-value$=jpeg] img, #body .inventory-details-list-item [data-value$=png] img {
    display: block;
    width: 100%;
    width: calc(100% + 46px);
    margin-top: 5px; }
  #body .inventory-details-list-item [data-value$=jpeg] + .inventory-buttons, #body .inventory-details-list-item [data-value$=png] + .inventory-buttons {
    position: static;
    margin-top: 10px; }
  #body .inventory-details-list-item.list-link {
    padding: 14px 67px 14px 21px;
    position: relative;
    border: 0;
    margin: 0; }
    #body .inventory-details-list-item.list-link:after {
      color: transparent;
      background: url("../imgs/icons/ico-inventory-next.png") no-repeat right center;
      background-size: 13px 21px;
      height: 21px;
      width: 13px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      top: 50%;
      margin-top: -11px; }
#body .inventory-field-modal label {
  color: #6B66CC;
  font-weight: 700;
  font-size: 15px; }
#body .inventory-field-modal input[type=radio] {
  height: 25px; }

#body .planning-list > li {
  padding: 0 0 4px 0; }
#body .planning-list-item {
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-shadow: transparent 0px 0px 0px;
  font-size: 16px;
  color: #9D969E;
  background: #F0F3F5;
  height: auto;
  margin: 0;
  padding: 9px 46px  9px 35px; }
  #body .planning-list-item .dot {
    display: inline-block;
    border: 1px solid black;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-top: 10px;
    vertical-align: top; }
    #body .planning-list-item .dot:before {
      content: "";
      background: black;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: block;
      margin: 2px 0 0 2px; }
    #body .planning-list-item .dot.dot-red {
      border: 1px solid #D0021B; }
      #body .planning-list-item .dot.dot-red:before {
        background: #D0021B; }
    #body .planning-list-item .dot.dot-green {
      border: 1px solid #149944; }
      #body .planning-list-item .dot.dot-green:before {
        background: #149944; }
    #body .planning-list-item .dot.dot-grey {
      border: 1px solid #A6A7AA; }
      #body .planning-list-item .dot.dot-grey:before {
        background: #A6A7AA; }
  #body .planning-list-item .text {
    display: inline-block;
    width: calc(100% - 30px);
    padding-left: 20px; }
    #body .planning-list-item .text .name {
      margin: 0;
      color: #DC4437; }
    #body .planning-list-item .text .description {
      margin: 0; }

#body .planning-details-list {
  color: #9D969E;
  width: 100%; }
  #body .planning-details-list > li {
    padding: 0;
    margin-bottom: 2px;
    border: 0; }
  #body .planning-details-list.no-bg-list .planning-details-list-item {
    background: transparent;
    border-bottom: 1px solid #CCCCCC; }
  #body .planning-details-list.extra-pad .planning-details-list-item {
    padding-top: 25px;
    padding-bottom: 25px; }
#body .planning-details-list-item {
  padding: 14px 67px 14px 21px;
  background: #f0f3f5;
  position: relative;
  border: 0; }
  #body .planning-details-list-item > span {
    color: #DC4437;
    font-weight: 600;
    margin-right: 7px; }
  #body .planning-details-list-item label {
    color: #1d4a7b; }
  #body .planning-details-list-item p {
    margin: 0; }
  #body .planning-details-list-item .planning-buttons {
    display: block;
    position: absolute;
    right: 26px;
    top: 50%;
    margin-top: -11px;
    height: 23px; }
    #body .planning-details-list-item .planning-buttons .delete-button {
      width: 20px;
      height: 20px; }
  #body .planning-details-list-item .edit-button {
    display: inline-block; }
  #body .planning-details-list-item.list-link {
    padding: 14px 67px 14px 21px;
    position: relative;
    border: 0;
    margin: 0; }
    #body .planning-details-list-item.list-link:after {
      color: transparent;
      background: url("../imgs/icons/ico-inventory-next.png") no-repeat right center;
      background-size: 13px 21px;
      height: 21px;
      width: 13px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      top: 50%;
      margin-top: -11px; }
#body .inventory-field-modal label {
  color: #DC4437;
  font-weight: 700;
  font-size: 15px; }
#body .inventory-field-modal input[type=radio] {
  height: 25px; }
#body .planning-create-steps {
  text-align: center;
  padding: 0; }
  #body .planning-create-steps li {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px solid #DC4437; }
    #body .planning-create-steps li.step-selected:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background: #DC4437;
      border-radius: 50%;
      margin: 1px; }
#body .planning-module .create-service.create-service-hidden {
  display: none; }
#body .planning-module .regular-form label {
  font-size: 15px;
  white-space: pre-wrap; }

#body .planning-noResources {
  text-align: center;
  padding: 0;
  width: 300px;
  margin: 0 auto; }
  #body .planning-noResources img {
    width: 92px; }
#body .resources-plus {
  text-align: center;
  margin-top: 23px; }
  #body .resources-plus img {
    width: 45px; }
#body .resources-select-modal .regular-form {
  margin-top: 0; }
#body .resources-select-modal label {
  width: auto;
  color: inherit;
  font-weight: normal; }

#body .floats-list > li {
  padding: 0 0 4px 0; }
#body .floats-list-item {
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-shadow: transparent 0px 0px 0px;
  font-size: 16px;
  color: #9D969E;
  background: #F0F3F5;
  height: auto;
  margin: 0;
  padding: 9px 46px  9px 35px;
  position: relative; }
  #body .floats-list-item .dot {
    display: inline-block;
    border: 1px solid black;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-top: 10px;
    vertical-align: top; }
    #body .floats-list-item .dot:before {
      content: "";
      background: black;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: block;
      margin: 2px 0 0 2px; }
    #body .floats-list-item .dot.dot-red {
      border: 1px solid #D0021B; }
      #body .floats-list-item .dot.dot-red:before {
        background: #D0021B; }
    #body .floats-list-item .dot.dot-green {
      border: 1px solid #149944; }
      #body .floats-list-item .dot.dot-green:before {
        background: #149944; }
    #body .floats-list-item .dot.dot-grey {
      border: 1px solid #A6A7AA; }
      #body .floats-list-item .dot.dot-grey:before {
        background: #A6A7AA; }
  #body .floats-list-item .text {
    display: inline-block;
    width: calc(100% - 30px);
    padding-left: 20px; }
    #body .floats-list-item .text .name {
      margin: 0;
      color: #EF8407; }
    #body .floats-list-item .text .description {
      margin: 0; }
  #body .floats-list-item .floats-buttons {
    display: block;
    position: absolute;
    right: 26px;
    top: 50%;
    margin-top: -11px;
    height: 23px; }
    #body .floats-list-item .floats-buttons img {
      width: 18px; }

#body .floats-details-list {
  color: #9D969E;
  width: 100%; }
  #body .floats-details-list > li {
    padding: 0;
    margin-bottom: 2px;
    border: 0; }
  #body .floats-details-list.no-bg-list .floats-details-list-item {
    background: transparent;
    border-bottom: 1px solid #CCCCCC; }
  #body .floats-details-list.extra-pad .floats-details-list-item {
    padding-top: 25px;
    padding-bottom: 25px; }
#body .floats-details-list-item {
  padding: 14px 67px 14px 21px;
  background: #f0f3f5;
  position: relative;
  border: 0; }
  #body .floats-details-list-item > span {
    color: #EF8407;
    font-weight: 600;
    margin-right: 7px; }
  #body .floats-details-list-item label {
    color: #1d4a7b; }
  #body .floats-details-list-item p {
    margin: 0; }
  #body .floats-details-list-item .floats-buttons {
    display: block;
    position: absolute;
    right: 26px;
    top: 50%;
    margin-top: -11px;
    height: 23px; }
    #body .floats-details-list-item .floats-buttons .delete-button {
      width: 20px;
      height: 20px; }
  #body .floats-details-list-item .edit-button {
    display: inline-block; }
  #body .floats-details-list-item.list-link {
    display: block;
    position: relative;
    border: 0;
    margin: 0;
    text-decoration: none; }
    #body .floats-details-list-item.list-link:after {
      content: "";
      display: block;
      position: absolute;
      color: transparent;
      background: url("../imgs/icons/ico-inventory-next.png") no-repeat right center;
      background-size: 13px 21px;
      height: 21px;
      width: 13px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      top: 50%;
      right: 10px;
      margin-top: -11px; }

#body .vehicles-filter {
  position: fixed;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: calc(100% - 30px);
  text-align: right;
  display: none; }
  #body .vehicles-filter.active {
    display: block; }
#body .vehicles-filter-content {
  display: inline-block;
  background: #fff;
  padding: 20px 35px;
  width: 70%;
  text-align: left; }
  #body .vehicles-filter-content label {
    width: 100%;
    margin: 10px 0; }
  #body .vehicles-filter-content .buttons {
    margin-top: 20px; }

.login .logo {
  width: 140px;
  display: block;
  margin: 65px auto 52px; }

.bluebox {
  background-color: #f0f3f5;
  padding: 10px 20px;
  margin-bottom: 2px;
  color: #1d4a7b;
  font-size: 16px;
  position: relative; }
  .bluebox strong {
    font-weight: 700;
    color: #1aaa53;
    margin-right: 5px; }
  .bluebox a {
    font-weight: 700;
    font-style: italic; }
  .bluebox a.button {
    font-style: normal;
    margin: 0; }
  .bluebox img {
    width: 100%;
    display: block;
    margin: 10px 0; }
  .bluebox .priority {
    position: absolute;
    right: 10px;
    top: 3px; }
    .bluebox .priority:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    .bluebox .priority img {
      width: 13px;
      margin-right: 1px;
      float: right; }
  .bluebox .state {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 7px auto 0; }
    .bluebox .state.s1 {
      background-color: #848688; }
    .bluebox .state.s2 {
      background-color: #149a44; }
    .bluebox .state.s3 {
      background-color: #D40C0C; }
    .bluebox .state.s4 {
      background-color: #BA6007; }
    .bluebox .state.s5 {
      background-color: #1d4a7b; }

#selectByMap .frame, #locations-map .frame {
  background-color: #fcfcfc;
  height: 110px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.12); }
#selectByMap .footer, #locations-map .footer {
  padding: 20px 10px;
  background-color: #fcfcfc;
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.12); }
  #selectByMap .footer .button, #locations-map .footer .button {
    margin: 0; }

.map-buttons {
  width: 50px;
  right: 5% !important;
  top: 105px !important; }
  .map-buttons a {
    margin-bottom: 10px; }
  .map-buttons img {
    width: 100%; }

.map-button {
  display: block;
  width: 50px; }
  .map-button img {
    width: 100%; }

#inventory-search-map-buttons {
  width: 50px;
  bottom: 30px !important;
  left: 10px !important; }

#select-map, #locations-map, #inventory-create-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100vh - 110px); }

#locations-map {
  height: calc(100vh - 115px); }

#inventory-create-map {
  height: calc(100vh - 115px);
  top: 110px; }

#select-map-search-box, .map-search-box {
  position: relative;
  z-index: 999999;
  width: 100%;
  height: 60px;
  margin: 30px auto; }
  #select-map-search-box input, .map-search-box input {
    display: block;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    background-color: #fcfcfc;
    border: 0 none;
    border-radius: 15px;
    font-size: 18px;
    line-height: 60px;
    color: #1d4a7b;
    padding-left: 10px;
    padding-right: 74px; }
  #select-map-search-box span, .map-search-box span {
    position: absolute;
    top: 0;
    right: 5%;
    height: 60px;
    width: 65px;
    border-left: 2px solid #1d4a7b;
    background: url(../imgs/icons/ico-search.svg) no-repeat center center;
    background-size: 38% auto; }
    .platform-blackberry10 #select-map-search-box span, .platform-blackberry10 .map-search-box span {
      background-image: url(../imgs/icons/ico-search.png); }

.map-marker {
  transform: translateY(8px); }
  .map-marker img {
    width: 27px;
    display: block;
    margin: 0 auto 6px; }
  .map-marker .button {
    display: block;
    margin: 0 0 6px 0; }
  .map-marker .options {
    visibility: hidden; }

[data-role=view] {
  transition: filter 3s;
  transition: -webkit-filter 300ms;
  box-shadow: 4px 2px 15px 0 rgba(0, 0, 0, 0.19); }

#filtrosDrawer {
  width: calc(100% - 65px); }
  #filtrosDrawer .drawer-footer {
    height: 75px;
    background-color: #1d4a7b; }
  #filtrosDrawer .drawer-content {
    position: relative; }
    #filtrosDrawer .drawer-content .km-listview-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    #filtrosDrawer .drawer-content .filter-fields {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fcfcfc;
      display: none; }
    #filtrosDrawer .drawer-content.show-fields .km-listview-wrapper {
      -webkit-animation: show-filter-fields2 300ms;
      -moz-animation: show-filter-fields2 300ms;
      animation: show-filter-fields2 300ms;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
    #filtrosDrawer .drawer-content.show-fields .filter-fields {
      display: block;
      -webkit-animation: show-filter-fields1 300ms;
      -moz-animation: show-filter-fields1 300ms;
      animation: show-filter-fields1 300ms;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  #filtrosDrawer .buttons {
    height: 65px; }
    #filtrosDrawer .buttons:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    #filtrosDrawer .buttons a {
      display: block;
      height: 100%;
      width: 75px;
      float: left; }
    #filtrosDrawer .buttons .button-cancel {
      background: url(../imgs/icons/ico-cross.svg) center center no-repeat;
      background-size: 34% auto;
      opacity: 0;
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      transition: opacity 300ms; }
      #filtrosDrawer .buttons .button-cancel.show {
        opacity: 1; }
      .platform-blackberry10 #filtrosDrawer .buttons .button-cancel {
        background-image: url(../imgs/icons/ico-cross.png); }
    #filtrosDrawer .buttons .button-save {
      background: url(../imgs/icons/ico-save.svg) center center no-repeat;
      background-size: 37% auto;
      border-right: 2px solid white;
      opacity: 0;
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      transition: opacity 300ms; }
      #filtrosDrawer .buttons .button-save.show {
        opacity: 1; }
      .platform-blackberry10 #filtrosDrawer .buttons .button-save {
        background-image: url(../imgs/icons/ico-save.png); }
    #filtrosDrawer .buttons .button-add {
      background: url(../imgs/icons/ico-plus.svg) center center no-repeat;
      background-size: 37% auto;
      float: right;
      border-left: 2px solid white; }
      .platform-blackberry10 #filtrosDrawer .buttons .button-add {
        background-image: url(../imgs/icons/ico-plus.png); }
  #filtrosDrawer .filter-box {
    width: 100%;
    margin: 0 auto;
    border: 2px solid #1d4a7b;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));*/
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms; }
    #filtrosDrawer .filter-box.hidden {
      opacity: 0;
      display: none; }
    #filtrosDrawer .filter-box.visible {
      opacity: 1; }
    #filtrosDrawer .filter-box legend {
      color: #1d4a7b;
      font-size: 17px;
      margin-bottom: 20px; }
    #filtrosDrawer .filter-box select, #filtrosDrawer .filter-box input, #filtrosDrawer .filter-box .form-select {
      width: 100% !important;
      margin-left: 0 !important; }
    #filtrosDrawer .filter-box .form-select {
      margin-bottom: 12px; }
    #filtrosDrawer .filter-box .buttons:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
    #filtrosDrawer .filter-box .buttons > * {
      width: 45%; }
      #filtrosDrawer .filter-box .buttons > *:first-child {
        float: left; }
      #filtrosDrawer .filter-box .buttons > *:last-child {
        float: right; }
    #filtrosDrawer .filter-box .values > * {
      display: none; }

.darked {
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4); }

@-webkit-keyframes show-filter-fields1 {
  0% {
    -webkit-transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes show-filter-fields1 {
  0% {
    -moz-transform: translateX(100%); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes show-filter-fields1 {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes show-filter-fields2 {
  0% {
    -webkit-transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%); } }
@-moz-keyframes show-filter-fields2 {
  0% {
    -moz-transform: translateX(0); }
  100% {
    -moz-transform: translateX(-100%); } }
@keyframes show-filter-fields2 {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }
.state-list-item {
  font-size: 16px;
  color: #1d4a7b;
  background-color: #f0f3f5;
  padding: 10px 0; }
  .state-list-item h1 {
    color: #1aaa53;
    border-bottom: 1px solid #1aaa53;
    background-color: #f0f3f5;
    position: relative;
    font-size: 16px;
    margin-top: 0; }
  .state-list-item > p {
    margin-top: 20px; }
  .state-list-item .fecha {
    background: url(../imgs/icons/ico-calendar.svg) no-repeat center left;
    background-size: 24px auto;
    padding-left: 50px;
    height: 24px; }
    .platform-blackberry10 .state-list-item .fecha {
      background-image: url(../imgs/icons/ico-calendar.png); }
  .state-list-item .nombre {
    background: url(../imgs/icons/ico-user-green.svg) no-repeat center left;
    background-size: 24px auto;
    padding-left: 50px;
    height: 24px; }
    .platform-blackberry10 .state-list-item .nombre {
      background-image: url(../imgs/icons/ico-user-green.png); }
  .state-list-item strong {
    color: #1aaa53;
    font-weight: normal; }

#states-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 1px; }

#selectByRFID .main.frame, #selectByRFID .modal-frame, #modals-readTag .main.frame, #modals-readTag .modal-frame {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  #selectByRFID .main.frame .icon, #selectByRFID .modal-frame .icon, #modals-readTag .main.frame .icon, #modals-readTag .modal-frame .icon {
    width: 77px; }
  #selectByRFID .main.frame .label, #selectByRFID .modal-frame .label, #modals-readTag .main.frame .label, #modals-readTag .modal-frame .label {
    color: #1aaa53;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    text-align: center; }
    #selectByRFID .main.frame .label.error, #selectByRFID .modal-frame .label.error, #modals-readTag .main.frame .label.error, #modals-readTag .modal-frame .label.error {
      color: #d0021b; }
#selectByRFID .footer.frame, #modals-readTag .footer.frame {
  background-color: #fcfcfc;
  height: 110px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.12); }
#selectByRFID .footer .button, #modals-readTag .footer .button {
  margin: 0; }

/*# sourceMappingURL=global.css.map */
