<div id="citizenPass"
	 data-role="view"
	 data-layout="fullscreen"
	 data-model="app.viewModels.views.home.citizenPass"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<p class="show-version"></p>
	<form class="login frame">
		<img src="content/imgs/logo.svg" alt="" class="logo">
		<p data-i18n="views.home.citizenPass.instructions1" class="instructions" id="register-thanks">Gracias por completar el registro.</p>
		<p data-i18n="views.home.citizenPass.instructions2" class="last instructions">En breve recibira un correo en su buzon, por favor escriba su código recibido y pulse en continuar.</p>
		<input type="text" class="text-input" data-icon="ico-user" placeholder="Contraseña" data-bind="value:password" data-i18n="[placeholder]views.home.citizenPass.pass">
		<button class="button block" data-bind="events: { click: send }" data-i18n="views.home.citizenPass.send">Aceptar</button>
		<a class="button block"  href="#loginCitizen" data-i18n="views.home.citizenPass.back">Aceptar</a>
	</form>
</div>
