<div id="contracts"
	 data-role="view"
	 data-i18n="[data-title]views.home.contracts.title"
	 data-title="Seleccionar contrato"
	 data-layout="default"
	 data-model="app.viewModels.views.home.contracts"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<ul data-role="listview"
		id="contracts-list"
		data-template="contracts-list-template"
		data-dataBound="onBound"
		data-bind="source: source, events { click: onSelect }"></ul>

	<script id="contracts-list-template" type="text/x-kendo-template">
		<div class="contract-item" data-id="#=IdContrato#">${Nombre}<span><img src="content/imgs/icons/ico-selected-contracts.svg" width="13"></span></div>
	</script>
</div>

