<div id="languages"
	 data-role="view"
	 data-i18n="[data-title]views.home.notifications.title"
	 data-title="Idiomas"
	 data-layout="default-burger"
	 data-model="app.viewModels.views.home.languages"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<ul data-role="listview"
		data-template="langs-list-template"
		class="lang-selection"
		data-bind="source: langs, events { click: onLangSelect }"></ul>
	<script id="langs-list-template" type="text/x-kendo-template">
		<div class="lang-list-item" data-code="#=code#">
			<img class="lang-icon" src="content/imgs/flags/#=code#.svg">
			<div class="text-content">
				<div>#=title#</div>
			</div>
		</div>
	</script>
</div>
