<div id="login"
	 data-role="view"
	 data-layout="fullscreen"
	 data-model="app.viewModels.views.home.login"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<p class="show-version"></p>
	<form class="login frame">
		<img src="content/imgs/logo.svg" alt="" class="logo">
		<input type="text" class="text-input" data-icon="ico-user" placeholder="Nombre usuario" data-bind="value:user" data-i18n="[placeholder]views.home.login.user">
		<input type="password" class="text-input" data-icon="ico-key" placeholder="Contraseña" data-bind="value:password" data-i18n="[placeholder]views.home.login.pass">
		<button class="button block" data-bind="events: { click: send }" data-i18n="views.home.login.send">Aceptar</button>
	</form>
</div>
