<div id="home-tagReaderSelector"
	 data-role="view"
	 data-layout="default"
	 data-title="Seleccionar lector"
	 data-model="app.viewModels.views.home.tagReaderSelector"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<ul data-role="listview"
		data-template="tags-list-template"
		class="lang-selection"
		data-bind="source: readers, events { click: onReaderSelect }"></ul>
	<script id="tags-list-template" type="text/x-kendo-template">
		<div class="lang-list-item" data-id="#=code#">
			<div class="text-content">
				<div>#=title#</div>
			</div>
			#if(selected){#
			<img class="lang-icon" src="content/imgs/icons/ico-selected-contracts.png">
			#}#
		</div>
	</script>
</div>
