* {

	@include box-sizing(border-box);
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-font-smoothing: antialiased;
}

body {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;

	background-color: $color-broken-white;
	font-size: $base-font-size !important;
	display: none;
}
/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.fleft {
	display: block;
	float: left;
}

.fright {
	display: block;
	float: right;
}
.pattern{
	border: 0 none;
	height: 10px;
	background: url(../imgs/bar-pattern.png) repeat-x;
	margin: 0;
}

input[type=search] {
	-webkit-appearance: none;
}
.show-version{
	position: absolute;
	top: 10px;
	left: 10px;
}
.instructions{
	font-size: 15px;
	color: $color-blue;
}
.instructions.last{
	margin-bottom: 20px;
}
hr{
	margin: 0;
	border:0;
	border-bottom: 1px solid $color-silver;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

html:not(.contract-urbajardin) .urbajardin-only{
	display: none;
}
html:not(.contract-smartus) .smartus-only{
	display: none;
}
