
.urbamovil-citizen {
	// Options in detail page
	#detail .options{
		display: none !important;
	}

	// Filterbutton in navbar
	.search{
		display: none !important;
	}

	// Select by inventary editing incidence
	#selectLocation .inventary{
		display: none !important;
	}
	.user-info{
		text-decoration: none !important;
		pointer-events: none;
		.baloon{
			display: none;
		}
		.name{
		}
	}
}
