@include font-face("Open Sans", "../fonts/Open Sans regular",normal,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans italic",normal,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 300",300,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 300italic",300,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 600",600,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 600italic",600,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 700",700,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 700italic",700,italic,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 800",800,$file-formats: svg ttf woff);
@include font-face("Open Sans", "../fonts/Open Sans 800italic",800,italic,$file-formats: svg ttf woff);
