

.km-flat{
	@include regular-text();
	background-color: $color-broken-white;
}
.km-flat .km-view .km-content {
	@include regular-text;
	background-color: $color-broken-white;
}
.km-navbar{
	@extend .header;
}
.km-view-title{
	@extend .main-title;
}
.km-button{
	border: 0 none !important;
}
.km-flat .km-loader:before{
	background-color: $color-purple-light !important;
}
.km-modalview .km-content{
	background-color: transparent !important;
}
.km-flat .km-scroller-pull{
	background-color: $color-green;
}
.km-modalview-root{
	background-color: white;
	width: 100%;
}
.km-flat form.km-state-active{
	background-color: transparent !important;
}
.km-widget.km-list .km-load-more, .km-widget .km-list .km-load-more{
	margin: 20px auto;
}
