
.addressList{
	list-style-type: none;
	padding: 0;
	width: 100%;
	li{
		height: 48px;
		display: block;
		padding: 12px 12px 12px 20px;
		width: 100%;
		max-width: 450px;
		border-radius: 12.5px !important;
		border:1px solid $color-blue;
		color: $color-blue;
		font-size: 16px;
		font-weight: 600;
		font-family: "Open Sans";
		background-color: white;
		margin-bottom: 3px;
		span{
			@include ellipsis();
			width: 87%;
		}
		a{
			display: block;
			float: right;
		}
		img{
			width: 23px;
			height: 24px;
		}
	}
}
#filterFieldList{
	li{
		font-size: 13px;
		font-weight: $fw-regular;
	}
}
