.button{
	display: inline-block;
	font-size: 20px;
	font-family: "Open Sans";
	font-weight: 700;
	padding: 0 15px;
	color: $color-broken-white !important;
	background-color: rgb(32, 155, 73);
	border-radius: 12.5px;
	border: 0 none;
	position: relative;
	height: 68px;
	line-height: 68px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-decoration: none;
	text-align: center;
	&.disabled{
		pointer-events: none;
		opacity: 0.5;
	}
}
.button.blue{
	background-color: $color-blue;
}
.button.grey{
	background-color: $color-grey-2 !important;
}
.button:active{
	background-color: $color-green-dark;
}
.planning-module .button{
	background-color: $color-planning;
}
.incidence-module .button{
	background-color: $color-incidences;
}
.inventory-module .button{
	background-color: $color-inventory;
}
.floats-module .button{
	background-color: $color-floats;
}
.button.incidence {
	background-color: $color-incidences;
}
.button.inventory {
	background-color: $color-inventory;
}
.button.planning {
	background-color: $color-planning;
}
.button.floats {
	background-color: $color-floats;
}
.button.block{
	display: block;
	padding: 15px;
	line-height: 38px;
	width: 100%;
	max-width: 450px;
}
.button.icon{
	@include display(flex);
	@include align-items(center);
	padding: 0 10px;
	.label{
		@include ellipsis();
		@include flex-grow(1);
		@include flex-shrink(0);
		@include flex-basis(200px);
		width: calc(100% - 44px);
	}
	.button-icon{
		width: 40px;
		height: 40px;
		line-height: 40px;
		padding-right: 8px;
		img{
			width: 28px;
			height: 28px;
			vertical-align: middle;
		}
		flex-basis: 40px;
		border-right: 1px solid $color-broken-white;
		&.end {
			padding-right: 0;
			padding-left: 12px;
			border: 0;
		}
	}
	&.text-left {
		text-align: left !important;
		.label {
			padding-left: 8px;
		}
	}
}
.button.condensed{
	height: 47px;
	line-height: 23px;
	padding: 12px 10px;
	.button-icon{
		width: 30px;
		height: 30px;
		line-height: 30px;
		padding-right: 8px;
		img{
			width: 23px;
			height: 23px;
			vertical-align: middle;
		}
		flex-basis: 40px;
		border-right: 1px solid $color-broken-white;
	}
}

