input[type=radio]:not(old){
	width     : 25px;
	margin    : 0;
	padding   : 0;
	opacity   : 0;
	position: relative !important;
	z-index: 2;
	margin-bottom: 10px;
	display: inline-block;
	& + label{
		display      : inline-block;
		margin-left  : -25px;
		line-height  : 25px;
		padding-left: 38px;
		position: relative;
		font-size : 15px;
		color: $color-blue;
		margin-bottom: 10px;
		&:before{
			content: "";
			display: block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			border: 1px solid $color-blue;
		}
		&:after{
			content: "";
			display: block;
			width: 10px;
			height: 10px;
			position: absolute;
			top: 9px;
			left: 9px;
			background-color: $color-green-light;
			border-radius: 50%;
			@include transform(scale(0));
			@include transition(transform 300ms);
		}
	}
	&:checked + label:after{
		@include transform(scale(1));
	}
}

.km-flat .km-switch-label-on, .km-flat .km-switch-label-off {
	overflow: hidden;
	text-indent: -300px;
}
.km-flat .km-switch-container, .km-flat .km-switch-wrapper {

	border-radius: 12px;
	background: transparent;
	border-color: #9B9B9B;
}
.km-flat .km-switch {

}
.km-flat .km-switch-handle {
	color: transparent;
	border-radius: 50%;
	background: #fff;
	border-color: #9B9B9B;
}
.km-flat .km-switch-background {
	margin-left: -80px;
	background: $color-planning;
}
.km-switch-on .km-switch-background {
	margin-left: 0 !important;
}
