#contracts-list,#filter-list{
	li{
		border-bottom-color: $color-broken-white !important;
		background-color: #f0f3f5;
		margin: 0;
		padding: 0;
	}
}
.contract-item{
	background: url(../imgs/icons/ico-contract.svg) no-repeat 12px center #f0f3f5;
	background-size: 19px auto;
	font-size: 16px;
	color: $color-blue;
	padding: 14px 20px 14px 40px;
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/ico-contract.png);
	}
	span{
		float: right;
		display: none;
	}
	span.selected{
		display: block;
	}
	a{
		text-decoration: none;
		display: block;
	}
}
.filter-item{
	@extend .contract-item;
	background: url(../imgs/icons/ico-filter.svg) no-repeat 12px center #f0f3f5;
	background-size: 20px auto;
	padding: 3px 0px 3px 40px;
	@include display(flex);
	@include justify-content(flex-start);
	@include align-items(center);
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/ico-filter.png);
	}
	p{
		@include ellipsis();
		margin: 0;
		@include flex(1 1 auto);
	}
	.close{
		display: block;
		height: 50px;
		width: 50px;
		@include flex(0 0 50px);
		img{
			width: 23px;
			height: 24px;
			margin-top: 12px;
			margin-left: 12px;
		}
	}
	.icon{
		display: none;
		margin-right: 5px;
		@include flex(0 0 24px);
		&.selected{
			display: block;
		}
		img{
			display: block;
			height: 24px;
		}
	}

}
