#body {
	.floats-details-list {
		color: #9D969E;
		width: 100%;
		> li {
			padding: 0;
			margin-bottom: 2px;
			border: 0;
		}
		&.no-bg-list  .floats-details-list-item {
			background: transparent;
			border-bottom: 1px solid #CCCCCC;
		}
		&.extra-pad {
			.floats-details-list-item {
				padding-top: 25px;
				padding-bottom: 25px;
			}
		}
	}
	.floats-details-list-item {
		padding: 14px 67px 14px 21px;
		background: $color-blue-light;
		position: relative;
		border: 0;
		> span {
			color: $color-floats;
			font-weight: 600;
			margin-right: 7px;
		}
		label {
			color: $color-blue;
		}
		p {
			margin: 0;
		}
		.floats-buttons {
			display: block;
			position: absolute;
			right: 26px;
			top: 50%;
			margin-top: -11px;
			height: 23px;
			.delete-button {
				width: 20px;
				height: 20px;
			}
		}
		.edit-button{
			display: inline-block;

		}
		&.list-link{
			display: block;
			position: relative;
			border: 0;
			margin: 0;
			text-decoration: none;
			&:after {
				content: "";
				display: block;
				position: absolute;
				color:transparent;
				background: url('../imgs/icons/ico-inventory-next.png') no-repeat right center;
				background-size: 13px 21px;
				height: 21px;
				width: 13px;
				@include transform(rotate(0deg));
				top: 50%;
				right: 10px;
				margin-top: -11px;
			}
		}

	}

}

