.form-progress{
	@include clearfix;
	list-style-type: none;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	li{

		width: 33.3%;
		float: left;
		height: 60px;
		background-color: $color-purple;
		border-right: 2px solid $color-broken-white;
		&:first-child{
			border-radius: 12.5px 0 0 12.5px;
		}
		&:last-child{
			border-radius: 0 12.5px 12.5px 0;
			border: 0 none;
		}
		span{
			height: 40px;
			width: 40px;
			line-height: 40px;
			border-radius: 50%;
			margin-top: 10px;
			display: inline-block;
			background-color: $color-broken-white;
			font-size: 17px;
			font-weight: 700;
			color: $color-green;
		}
		&.current{
			span{
				background-color: $color-blue-alternate;
				color: $color-broken-white;
			}
		}
	}
}
#selectLocation .form-progress{
	margin-bottom: 30px;
}
