$form-col1-width:34%;
$form-col2-width:66%;

.text-input{
	height: 68px;
	display: block;
	padding: 16px 30px;
	width: 100%;
	max-width: 450px;
	border-radius: 12.5px !important;
	border:1px solid $color-green-dark;
	color: $color-blue;
	font-size: 16px;
	font-weight: 600;
	font-family: "Open Sans";
	background-color: white;
	@include placeholder {
		color: $color-blue;
		font-size: 16px;
		font-weight: 600;
		font-family: "Open Sans";
	}
	&.blue{
		border-color: $color-blue;
	}
	&[data-icon]{
		padding-left: 50px;
	}
}
.text-input-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 450px;
	.text-input-icon{
		width: 24px;
		height: 24px;
		position: absolute;
		top: 20px;
		left: 12px;
	}
}
input,select,textarea{
	&.error{
		border-color: #D0021B !important;
	}
}
.regular-form{
	margin-top: 21px;
	> div{
		@include clearfix;
		margin-bottom: 15px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		&.vertical{
			@include flex-direction(column);
			@include align-items(flex-start);
			label{
				margin-bottom: 10px;
			}
		}
	}
	input,select,textarea{
		@extend .text-input;
		-webkit-appearance:none;
		display: inline-block;
		width: $form-col2-width;
		height: 45px;
		border-color: $color-blue;
		padding: 9px;
		&:disabled{
			opacity: 0.5;
		}
		+ a{
			margin-left: 7px;
			height: 30px;
			img{
				width: 100%;
			}
		}
	}
	.fixedvalue{
		display: inline-block;
		width: $form-col2-width;
		margin: 0 0 0 7%;
		font-size: 15px;
		color: $color-blue;
		&.block{
			display: block;
			width: 100%;
			margin-left: 0;
		}
		img{
			width: 100%;
		}
		.inventory-module &{
			color: $color-inventory;
		}
		.planning-module &{
			color: $color-planning;
		}
		.floats-module &{
			color: $color-floats;
		}

	}
	select{
	}
	textarea{
		display: block;
		width: 100%;
		height: 85px;
		margin-bottom: 40px;
	}
	label{
		@include ellipsis();
		color: $color-green;
		font-size: 16px;
		font-weight: 700;
		width: $form-col1-width;
		@include flex(0 0 $form-col1-width);
		display: inline-block;
		//margin-bottom: 10px;
		.inventory-module &{
			color: $color-inventory;
		}
		.planning-module &{
			color: $color-planning;
		}
		.floats-module &{
			color: $color-floats;
		}
		//&:active{
		//	width: 100%;
		//	@include flex(0 0 100%);
		//	+ input{
		//		width: 0;
		//		@include flex(0 0 0);
		//	}
		//}
	}

	.vertical label{
		width: auto;
	}
	.form-file{
		position: relative;
		height: 100%;
		@include align-self(flex-end);
		input{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
		}
		img{
			height: 26px;
			vertical-align: middle;
			margin-right: 6px;
			@include transition(transform 300ms, opacity 300ms);
			@include transform(translate(-10px,0));
			opacity: 0;
			&.visible{
				@include transform(translate(0,0));
				opacity: 1;
			}
		}
		span{
			height: 100%;
			display: inline-block;
			text-align: right;
		}
		.button{
			margin: 0;
		}
	}
	.form-select{
		position: relative;
		height: 100%;
		display: inline-block;
		width: $form-col2-width;
		select{
			@include ellipsis();
			width: 100%;
			position: relative;
			z-index: 2;
			padding: 8px 49px 8px 16px;
			background-color: transparent;

		}
		&:after{
			content:"";
			display: inline-block;
			height: 39px;
			width: 39px;
			position:absolute;
			top: 3px;
			right: 3px;
			border-radius: 12.5px;
			background: url(../imgs/icons/ico-arrow-down.svg) no-repeat center center $color-green-light;
			background-size: 16px auto;
		}
		.platform-blackberry10 &:after{
			background-image: url(../imgs/icons/ico-arrow-down.png);
		}
		&.disabled:after{
			opacity: 0.5;
		}
		&.loading:before{
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 13px;
			top: 13px;
			z-index: 20;
			background: url(../imgs/mini-loading.gif);
		}
	}
	&.full-width {
		width: 100%;
		.form-select{
			width: 100%;
		}
		input[type=text],input[type=date],input[type=number],input[type=file],input[type=datetime-local]{
			width: 100%;
		}
	}
}
.form-select.inventory, .inventory-module .form-select{
	&:after {
		background-color: $color-grey-light;
	}

}
