.incidencia-list-item{
	@include display(flex);
	@include regular-text();
	font-size: 16px;
	color: $color-purple-light;
	height: 58px;
	margin:10px auto 10px;
	.cat-icon{
		width: 47px;
		min-width: 47px;
		margin-right: 15px;
	}
	.text-content{
		width:70%;
		@include flex-grow(1);
		> :nth-child(1){
			font-weight: 700;
		}
		> :nth-child(3){
			font-style: italic;
		}
		> *{
			@include ellipsis();
			display: block;
			padding-right: 8px;
			text-transform: lowercase;
			&:first-letter{
				text-transform: uppercase;
			}
		}
	}
	.icons{
		min-width: 40px;
		flex-basis: 40px;
		font-size: 0;
		.priority{
			text-align: center;
			img{
				width: 13px;
				margin-right: 1px;
			}
		}
		.state{
			width: 11px;
			height: 11px;
			border-radius: 50%;
			margin: 7px auto 0;
			&.s1{
				background-color: $state-incident-1;
			}
			&.s2{
				background-color: $state-incident-2;
			}
			&.s3{
				background-color: $state-incident-3;
			}
			&.s4{
				background-color: $state-incident-4;
			}
			&.s5{
				background-color: $state-incident-5;
			}
		}
	}
}
