#body {
	.inventory-details-list {
		> li {
			padding: 0;
			margin-bottom: 2px;
			border: 0;
		}
	}
	.inventory-details-list-item {
		padding: 14px 67px 14px 21px;
		background: $color-blue-light;
		position: relative;
		border: 0;
		span:first-child {
			color: $color-inventory;
			font-weight: 600;
			margin-right: 7px;
		}
		label {
			color: $color-blue;
		}
		p {
			margin: 0;
		}
		.inventory-buttons {
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -9px;
			height: 18px;
			img {
				width: 50%;
				height: 50%;
			}
			> *{
				display: inline-block;
			}
		}
		[data-value$=jpeg],[data-value$=png]{
			img{
				display: block;
				width: 100%;
				width: calc(100% + 46px);
				margin-top: 5px;
			}
			+ .inventory-buttons{
				position: static;
				margin-top: 10px;
			}
		}
		&.list-link{
			padding: 14px 67px 14px 21px;
			position: relative;
			border: 0;
			margin: 0;
			&:after {
				color:transparent;
				background: url('../imgs/icons/ico-inventory-next.png') no-repeat right center;
				background-size: 13px 21px;
				height: 21px;
				width: 13px;
				@include transform(rotate(0deg));
				top: 50%;
				margin-top: -11px;
			}
		}
	}
	.inventory-field-modal {
		label {
			color: $color-inventory;
			font-weight: $fw-semibold;
			font-size: 15px;
		}
		input[type=radio] {
			height: 25px;
		}
	}
}
