#body {
	.inventory-list {
		> li {
			padding: 0;
		}
	}
	.inventory-list-item {
		@include regular-text();
		font-size: 16px;
		color: $color-inventory;
		height: auto;
		margin: 0;
		padding: 13px 43px 13px 16px ;
		text-transform: capitalize;
		span {
			display: inline;
			color: $color-grey;
		}
		&:after {
			display: none;
		}
		border-bottom: 1px solid $color-grey-light;
	}
	.inventory-read-img {
		text-align: center;
		margin: 30px 0 25px;
		img {
			width: 70px;
		}
	}
	.inventory-read-msg {
		text-align: center;
		font-size: 14px;
		margin: 20px 0 30px;
		span {
			font-weight: 600;
		}
	}
}
