.lang-selection{
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/downarrow.png);
	}
	.lang-list-item{
		@include regular-text();
		font-size: 16px;
		@include display(flex);
		@include align-items(center);
		@include justify-content(flex-start);
		width: 100%;
		text-align: left;
		padding: 10px 20px;
		margin: 0 auto;
		min-height: 47px;
		img{
			width: 27px;
		}
		&.selected{
			opacity: 0.5;
		}
	}
	.text-content{
		margin-left: 10px;
		@include flex(1 0 auto);
	}
	.km-listview{
		margin-top: 40px;
		background-color: transparent;
		li{
			border:0 none;
			background-color: transparent;
			box-shadow: 0 0 0 rgba(0,0,0,0);
		}
	}
	.km-listview-wrapper{
		background-color: transparent;
	}
}
