#mainMenuDrawer{
	width: calc(100% - 80px);
	.header{
		padding: 10px 20px;
		.user-info .name{
			font-size: 12px;
		}
		.contract{
			font-size: 11px;
			color: #9e9f9e;
			margin-top: 5px;
		}
	}
	.footer{
		background-color: $color-silver;
		font-size: 11px;
		line-height: 20px;
		padding-left: 10px;
		height: 20px;
	}
	.km-listview{
		padding: 16px 0;
		a{
			background: 20px center no-repeat;
			padding-left: 55px;
			font-size: 15px;
			line-height: 35px;
			font-weight: 600;
		}
		li{
			border-bottom: none;
		}
		.km-listview-link:after, .km-listview-label:after{
			display: none;
		}
	}
	.navigation-menu-list{
		border-bottom: 2px solid #dddfe2;
		a{
			&.incidences{
				background-image: url(../imgs/icons/ico-menu-incidences.png);
				background-size: 17px auto;
				color: $color-incidences;
			}
			&.inventory{
				background-image: url(../imgs/icons/ico-menu-barcode.png);
				background-size: 18px auto;
				color: $color-inventory;
			}
			&.planning{
				background-image: url(../imgs/icons/ico-menu-planning.png);
				background-size: 18px auto;
				color: $color-planning;
			}
			&.floats{
				background-image: url(../imgs/icons/ico-menu-floats.png);
				background-size: 18px auto;
				color: $color-floats;
			}
		}
	}
	.tools-menu-list{
		color: #9e9f9e;
		a{
			background-size: 20px auto;
			&.language{
				background-image: url(../imgs/icons/ico-menu-lang.png);
			}
			&.contract{
				background-image: url(../imgs/icons/ico-menu-contracts.png);
			}
			&.close-session{
				background-image: url(../imgs/icons/ico-menu-close.png);
			}
			&.tag{
				background-image: url(../imgs/icons/ico-menu-tag.png);
			}
		}
	}
}
