
.modal-frame{
	height: 100vh;
	width: 100%;
	width: 100vw;
	padding: 21px;
	background-color: $color-broken-white;
	.modal-title{
		text-align: center;
		font-size: 23px;
		color: $color-green;
		margin-top: 18%;
		margin-bottom: 20px;
		img{
			width: 77px;
			height: 77px;
			display: block;
			margin: 0 auto 22px;
		}
	}
	.modal-footer{
	}
	.buttons-line{
		@include display(flex);
		@include justify-content(space-between);
		.button{
			flex: 0 1 120px;
			+ .button{
				margin-left: 10px;
			}
		}
	}
	.modal-body{
		font-size: 17px;
		color: $color-blue;
		text-align: center;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);
		&.modal-align-left {
			@include align-items(left);
			text-align: left;
		}
	}
	&.custom-height {
		height: 100%;
	}
}
#modal-changeState{
	.modal-title{
		margin-top: 20px;
	}
	.modal-body{
		text-align: left;
	}
	.button{
		height: 50px;
		line-height: 20px;
	}
}
#stageChangeSelector{
	margin: 0 auto;
}
#modal-save-filter{
	.modal-frame{
		background-color: rgba($color-broken-white,0.9);
		@include display(flex);
		@include align-items(center);
	}
	.box{
		background-color: $color-broken-white;
		border: 1px solid $color-blue;
		border-radius: 12px;
		padding: 30px 8px;
		width: 100%;
		height: auto;
		input{
			width: 100%;
			padding-left: 30px;
			height: 68px;
		}
	}
	.button{
		height: auto;
		width: auto;
		margin-left: 0;
	}
}
#modal-confirmDeleteFilter .modal-footer{
	margin: 40px auto 0;
	width: 300px;
	.button{
		min-width: 100px;
	}
}


.floats-module .modal-frame .title {
	color: $color-floats;
}
