.km-navbar{
	.navbar-button{
		display: inline-block;
		width: 60px;
		height: 40px;
		background: no-repeat center center;
		margin: 4px 0;
		&[data-align=right]{
			border-left: 2px solid $color-broken-white !important;
			margin-right: -5px;
		}
		&[data-align=left]{
			border-right: 2px solid $color-broken-white !important;
			left: -5px;
		}
	}
	.exit{
		background-image: url(../imgs/icons/ico-exit.svg);
		background-size: 20px 25px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-exit.png);
		}
	}
	.back{
		background-image: url(../imgs/icons/ico-arrow-back.svg);
		background-size: 15px 24px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-arrow-back.png);
		}
	}
	.search, .search-floats{
		background-image: url(../imgs/icons/ico-search.svg);
		background-size: 24px 24px;
		display: none;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/ico-search.png);
		}
	}
	.edit-planning-btn {
		background-image: url(../imgs/icons/ico-planning-edit.svg);
		background-size: 24px 24px;
		display: none;
	}
	.search-btn {
		background-image: url(../imgs/icons/ico-search.svg);
		background-size: 24px 24px;
		display: none;
	}
	.burger{
		background-image: url(../imgs/icons/ico-burger.png);
		background-size: 20px 18px;
	}
}
#incidencias .km-navbar .search{
	display: inline-block;
}
.edit-planning-btn, .search-vehicles-btn, .search-alarms-btn {
	display: none;
}
#planning-details .edit-planning-btn {
	display: inline-block;
}
#floats-vehicles .search-btn, #floats-alarms .search-btn, #floats-routes .search-btn, #floats-signals .search-btn {
	display: inline-block;
}


[data-role=view-title]{
	@include ellipsis();
	width: calc(100% - 130px);
}
