#body {
	.planning-noResources {
		text-align: center;
		padding: 0;
		width: 300px;
		margin: 0 auto;
		img {
			width: 92px;
		}
	}
	.resources-plus {
		text-align: center;
		margin-top: 23px;
		img {
			width: 45px;
		}
	}
	.resources-select-modal {
		.regular-form {
			margin-top: 0;
		}
		label {
			width: auto;
			color: inherit;
			font-weight: normal;
		}
	}
}
