#body {
	.planning-list {
		> li {
			padding: 0 0 4px 0;
		}
	}


	.planning-list-item {
		@include regular-text();
		font-size: 16px;
		color: #9D969E;
		background: #F0F3F5;
		height: auto;
		margin: 0;
		padding: 9px 46px  9px 35px;
		.dot {
			display: inline-block;
			border: 1px solid black;
			height: 22px;
			width: 22px;
			border-radius: 50%;
			margin-top: 10px;
			vertical-align: top;
			&:before {
				content: "";
				background: black;
				border-radius: 50%;
				width: 16px;
				height: 16px;
				display: block;
				margin: 2px 0 0 2px;
			}
			&.dot-red {
				border: 1px solid #D0021B;
				&:before {
					background: #D0021B;
				}
			}
			&.dot-green {
				border: 1px solid #149944;
				&:before {
					background: #149944;
				}
			}
			&.dot-grey {
				border: 1px solid #A6A7AA;
				&:before {
					background: #A6A7AA;
				}
			}
		}
		.text {
			display: inline-block;
			width: calc(100% - 30px);
			padding-left: 20px;
			.name {
				margin: 0;
				color: $color-planning;
			}
			.description {
				margin: 0;
			}
		}
	}

}
