#body {
	.planning-details-list {
		color: #9D969E;
		width: 100%;
		> li {
			padding: 0;
			margin-bottom: 2px;
			border: 0;
		}
		&.no-bg-list  .planning-details-list-item {
			background: transparent;
			border-bottom: 1px solid #CCCCCC;
		}
		&.extra-pad {
			.planning-details-list-item {
				padding-top: 25px;
				padding-bottom: 25px;
			}
		}
	}
	.planning-details-list-item {
		padding: 14px 67px 14px 21px;
		background: $color-blue-light;
		position: relative;
		border: 0;
		> span {
			color: $color-planning;
			font-weight: 600;
			margin-right: 7px;
		}
		label {
			color: $color-blue;
		}
		p {
			margin: 0;
		}
		.planning-buttons {
			display: block;
			position: absolute;
			right: 26px;
			top: 50%;
			margin-top: -11px;
			height: 23px;
			.delete-button {
				width: 20px;
				height: 20px;
			}
		}
		.edit-button{
			display: inline-block;

		}
		&.list-link{
			padding: 14px 67px 14px 21px;
			position: relative;
			border: 0;
			margin: 0;
			&:after {
				color:transparent;
				background: url('../imgs/icons/ico-inventory-next.png') no-repeat right center;
				background-size: 13px 21px;
				height: 21px;
				width: 13px;
				@include transform(rotate(0deg));
				top: 50%;
				margin-top: -11px;
			}
		}

	}
	.inventory-field-modal {
		label {
			color: $color-planning;
			font-weight: $fw-semibold;
			font-size: 15px;
		}
		input[type=radio] {
			height: 25px;
		}
	}
	.planning-create-steps {
		text-align: center;
		padding: 0;
		li {
			width: 14px;
			height: 14px;
			display: inline-block;
			margin: 0 3px;
			border-radius: 50%;
			border: 1px solid $color-planning;
			&.step-selected:before {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				background: $color-planning;
				border-radius: 50%;
				margin: 1px;
			}
		}
	}
	.planning-module .create-service.create-service-hidden {
		display: none;
	}
	.planning-module .regular-form label {
		font-size: 15px;
		white-space: pre-wrap;
	}
}

