.slim-tab-strip.km-tabstrip{
	background-color: transparent;
	font-size: 0;
	table-layout: auto;
	.km-icon {
		display: none;
	}
	.km-button{
		height: 29px;
		line-height: 29px;
		padding: 0;
		font-size: 13px;
		font-weight: $fw-semibold;
		padding: 3px;
		background-color: transparent;
		border-right: 0 !important;
		&:first-child{
			border-radius: 8px 0 0 8px;
		}
		&:last-child{
			border-radius: 0 8px 8px 0;
		}
		&.km-state-active{
			color: $color-broken-white;
		}

		.inventory-module  &{
			color: $color-inventory;
			border: 2px solid $color-inventory !important;
			border-right: 0 !important;
			&:last-child{
				border-right: 2px solid $color-inventory !important;
			}
			&.km-state-active{
				color: $color-broken-white;
				background-color: $color-inventory;
			}
		}

		.planning-module &{
			color: $color-planning;
			border: 2px solid $color-planning !important;
			border-right: 0 !important;
			&:last-child{
				border-right: 2px solid $color-planning !important;
			}
			&.km-state-active{
				color: $color-broken-white;
				background-color: $color-planning;
			}
		}
	}

}
.floats-module .slim-tab-strip.km-tabstrip .km-button {
	color: $color-floats;
	border: 2px solid $color-floats !important;
	&:last-child{
		border-right: 2px solid $color-floats !important;
	}
	&.km-state-active{
		color: $color-broken-white;
		background-color: $color-floats;
	}
}
