.subheader{
	margin: 0 !important;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	background-color: #a6a7aa;
	padding: 0;
	height: 30px;
	line-height: 30px;
	color: $color-broken-white;
}
