.tipbox{
	width: 210px;
	height: 163px;
	position: absolute;
	bottom: 70px;
	padding: 15px;
	opacity: 0;
	@include transform(translate(0,-20px));
	@include transition(transform 400ms);
	display: none;
	&.visible{
		display: block;
		opacity: 1;
		@include transform(translate(0,0));
	}
	p{
		margin: 10px 0;
		font-size: 15px;
		color: $color-blue;
	}
	.title-img{
		width: 30px;
		height: 30px;
	}
	.close{
		position: absolute;
		right: 10px;
		top: 10px;
		img{
			width: 23px;
			height: 23px;
		}
	}
	&.left{
		background: url(../imgs/filters-tipbox-left.svg);
		background-size: 210px auto;
		left: 10px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/filters-tipbox-left.png);
		}
	}
	&.right{
		background: url(../imgs/filters-tipbox-right.svg);
		background-size: 210px auto;
		right: 10px;
		.platform-blackberry10 &{
			background-image: url(../imgs/icons/filters-tipbox-right.png);
		}
	}
	.title{
		color: $color-green;
		font-size: 15px;
		font-style: italic;
		margin: 0;
	}
}
