.user-info{
	background: url(../imgs/icons/ico-user-alt.svg) no-repeat left center;
	background-size: 24px 24px;
	padding-left: 30px;
	font-size: 17px;
	text-decoration: none;
	.platform-blackberry10 &{
		background-image: url(../imgs/icons/ico-user-alt.png);
	}
	.baloon{
		text-decoration: none;
		display: inline-block;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		background-color: $color-blue;
		color: $color-broken-white;
		margin-left: 10px;
		font-size: 13px;
	}
}
