#body {
	.vehicles-filter {
		position: fixed;
		right: 0;
		background: rgba(0,0,0,0.4);
		width: 100%;
		height: calc(100% - 30px);
		text-align: right;
		display: none;
		&.active {
			display: block;
		}
	}
	.vehicles-filter-content {
		display: inline-block;
		background: #fff;
		padding: 20px 35px;
		width: 70%;
		text-align: left;
		label {
			width: 100%;
			margin: 10px 0;
		}
		.buttons {
			margin-top: 20px;
		}
	}
}
