<div id="closure"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.closure.title"
	 data-title="Añadir imagen de cierre"
	 data-layout="default"
	 data-model="app.viewModels.views.incidencias.closure"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="blank frame">
		<form class="regular-form">
			<div class="form-file-container">
				<label data-i18n="views.incidencias.closure.image">Imagen:</label><span class="form-file"><input type="file" data-bind="events: { change: imageChange }" accept="image/x-png, image/gif, image/jpeg">
						<span>
							<img src="content/imgs/icons/ico-image.svg">
							<button id="add-closure-image" class="condensed button" data-i18n="views.incidencias.closure.addImage">Añadir imagen</button>
						</span>
					</span>
			</div>
			<div class="vertical">
				<label data-i18n="views.incidencias.closure.obs">Observaciones:</label>
				<textarea data-bind="value:model.Observaciones"></textarea>
			</div>
			<!--<div>
				<button class="condensed button">Leer etiqueta</button>
			</div>-->
			<a class="block button" data-bind="events: { click: send }" href="#home" data-i18n="views.incidencias.closure.save">Guardar incidencia</a>
		</form>
	</div>
</div>
