<div id="edit"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.edit.title"
	 data-title="Incidencia"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.edit"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="blank frame">
		<ol class="form-progress">
			<li class="current"><span>1</span></li>
			<li><span>2</span></li>
			<li><span>3</span></li>
		</ol>
		<form class="regular-form">
			<!--<div>
				<label data-i18n="views.incidencias.edit.date">Fecha:</label><input type="text" disabled class="fecha" data-bind="value:model.fechaAltaFormatted" />
			</div>
			<div>
				<label>Contrato:</label><span class="form-select"><select data-bind="source:source">
				<option value="0">Contrato</option>
			</select></span>
			</div>-->
			<div>
				<label data-i18n="views.incidencias.edit.priority">Prioridad:</label><span class="form-select"><select class="select-prioridades"
																		   data-bind="source:tables.prioridades,value:model.IdPrioridad,text:Prioridad"
																		   data-text-field="Prioridad"
																		   data-value-field="IdPrioridad"
				>
			</select></span>
			</div>
			<div>
				<label data-i18n="views.incidencias.edit.province">Provincia:</label><span class="form-select"><select class="select-provincias"
																		   data-bind="source:tables.provincias,value:model.IdProvincia,events: { change: provinciaChange }"
																		   data-text-field="NombreProvincia"
																		   data-value-field="IdProvincia"
				>
			</select></span>
			</div>
			<div>
				<label data-i18n="views.incidencias.edit.town">Municipio:</label><span class="form-select disabled"><select class="select-municipios"
																		   data-bind="source:tables.municipios,value:model.IdMunicipio"
																		   data-text-field="NombreMunicipio"
																		   data-value-field="IdMunicipio"
																		   disabled>
				<option value="0" data-i18n="views.incidencias.edit.town2">Municipio</option>
			</select></span>
			</div>
			<!--<div>
				<label>Estado:</label><span class="form-select"><select data-bind="source:tables.estados,value:IdEstado"
																		data-text-field="EstadoIncidencia"
																		data-value-field="IdEstado">
				<option value="0">Estado</option>
			</select></span>
			</div>-->
			<div>
				<label data-i18n="views.incidencias.edit.group">Grupo:</label><span class="form-select"><select class="select-grupos"
																	   data-text-field="GrupoIncidencia"
																	   data-bind="source:tables.grupos,value:model.IdGrupo,events: { change: grupoChange }"
																	   data-value-field="IdGrupo">
				<option value="0" data-i18n="views.incidencias.edit.group2">Grupo</option>
			</select></span>
			</div>
			<div>
				<label data-i18n="views.incidencias.edit.type">Tipo:</label><span class="form-select disabled"><select class="select-tipos"
																	  data-bind="source:tables.tipos,value:model.IdTipo,events: { change: tipoChange }"
																	  data-text-field="TipoIncidencia"
																	  data-value-field="IdTipo"
																	  disabled>
				<option value="0" data-i18n="views.incidencias.edit.type2">Tipo</option>
			</select></span>
			</div>
			<div>
				<label data-i18n="views.incidencias.edit.description">Descripción:</label><span class="form-select disabled"><select class="select-descripciones"
																			 data-bind="source:tables.descripciones,value:model.IdDescripcion"
																			 data-text-field="DescripcionIncidencia"
																			 data-value-field="IdDescripcion"
																			 disabled>
				<option value="0" data-i18n="views.incidencias.edit.type2">Tipo</option>
			</select></span>
			</div>
			<div class="form-file-container">
				<label data-i18n="views.incidencias.edit.image">Imagen:</label><span class="form-file"><input type="file" data-bind="events: { change: imageChange }" accept="image/x-png, image/gif, image/jpeg">
					<span>
						<img src="content/imgs/icons/ico-image.svg">
						<button class="condensed button" data-i18n="views.incidencias.edit.addImage" id="add-image">Añadir imagen</button>
					</span>
				</span>
			</div>
			<div class="vertical">
				<label data-i18n="views.incidencias.edit.observations">Observaciones:</label>
				<textarea data-bind="value:model.Observaciones"></textarea>
			</div>
			<!--<div>
				<button class="condensed button">Leer etiqueta</button>
			</div>-->
			<a class="block button" data-bind="events: { click: validate }" href="#selectLocation" data-i18n="views.incidencias.edit.next">Siguiente</a>
		</form>
	</div>
</div>
