<div id="locationsMap"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.locationsMap.title"
	 data-title="Localización"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.locationsMap"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div id="locations-map"></div>
	<div id="locations-map-buttons" class="map-buttons">
		<a href="#" data-bind="events:{click:center}"><img src="content/imgs/map-current-location.svg"></a>
	</div>
	<script type="text/x-kendo-template" id="locations-marker-template">
		<div class="map-marker" data-index="#=index#">
			<img src="content/imgs/map-marker.svg" width="55" cl>
			<div class="options">
				<a class="condensed button" data-i18n="views.incidencias.selectByMap.delete">Eliminar</a>
			</div>
		</div>
	</script>
</div>
