<div id="resume"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.resume.title"
	 data-title="Resumen de incidencia"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.resume"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="blank frame">
		<ol class="form-progress">
			<li><span>1</span></li>
			<li><span>2</span></li>
			<li class="current"><span>3</span></li>
		</ol>
		<form class="regular-form">
			<div>
				<label data-i18n="views.incidencias.resume.date">Fecha:</label><p class="fixedvalue" data-bind="text:fechaFormatted"></p>
			</div>
			<div>
				<label data-i18n="views.incidencias.resume.contract">Contrato:</label><p class="fixedvalue" data-bind="text: contrato"></p>
			</div>
			<div>
				<label data-i18n="views.incidencias.resume.priority">Prioridad:</label><p class="fixedvalue" data-bind="text: prioridad"></p>
			</div>
			<div>
				<label data-i18n="views.incidencias.resume.province">Provincia:</label><p class="fixedvalue" data-bind="text:model.provincia"></p>
			</div>
			<div>
				<label data-i18n="views.incidencias.resume.town">Municipio:</label><p class="fixedvalue" data-bind="text:model.municipio"></p>
			</div>
			<div>
				<label data-i18n="views.incidencias.resume.state">Estado:</label><p class="fixedvalue" data-bind="text:nombreEstado"></p>
			</div>
			<div>
				<label data-i18n="views.incidencias.resume.group">Grupo:</label><p class="fixedvalue" data-bind="text:nombreGrupo"></p>
			</div>
			<div>
				<label data-i18n="views.incidencias.resume.type">Tipo:</label><p class="fixedvalue" data-bind="text:nombreTipo"></p>
			</div>
			<div class="vertical">
				<label data-i18n="views.incidencias.resume.description">Descripcion:</label><p class="fixedvalue" data-bind="text:nombreDesc"></p>
			</div>
			<div class="vertical">
				<label data-i18n="views.incidencias.resume.image">Imagen:</label><p class="fixedvalue block">
					<img id="resume-preview">
				</p>
			</div>
			<div class="vertical">
				<label data-i18n="views.incidencias.resume.observations">Observaciones:</label><p class="fixedvalue block" data-bind="text:model.Observaciones"></p>
			</div>
			<div class="vertical">
				<label data-i18n="views.incidencias.resume.locations">Localizaciones:</label>
				<ul class="addressList" id="addressListResume">
					<script id="address-list-resume-template" type="text/x-kendo-template">
						<li><span>#= title() #</span></li>
					</script>
				</ul>
			</div>

			<a class="block button" href="#selectLocation" data-bind="events:{ click: onGuardar }" data-i18n="views.incidencias.resume.saveIncidence">Guardar Inicidencia</a>
		</form>
	</div>
</div>
