<div id="selectLocation"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.selectLocation.title"
	 data-title="Localizar ubicación"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.selectLocation"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="blank frame">
		<ol class="form-progress">
			<li><span>1</span></li>
			<li class="current"><span>2</span></li>
			<li><span>3</span></li>
		</ol>
		<div>
			<a class="block button with icon" data-icon="ico-map" href="#selectByMap" data-i18n="views.incidencias.selectLocation.locateByMap">Localizar en mapa</a>
			<a class="block button with icon" data-icon="ico-map-alt" href="#selectByAddress" data-i18n="views.incidencias.selectLocation.locateByAddress">Localizar por dirección</a>
			<a class="block button with icon inventary" data-icon="ico-world" href="#selectByInventary" data-i18n="views.incidencias.selectLocation.locateByinventary">Localizar por inventario</a>
			<a class="block button with icon selectByRFID" data-icon="ico-rfid" href="#selectByRFID" data-i18n="views.incidencias.selectLocation.locateByRFID">Localizar por RFID</a>
			<a href="#resume" class="block button blue" data-i18n="views.incidencias.selectLocation.noLocation">Sin localización</a>
		</div>
	</div>
</div>
