<div id="selectByMap"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.selectBymap.title"
	 data-stretch="true"
	 data-title="Localizar en mapa"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.selectByMap"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div id="select-map"></div>
	<div id="select-map-search-box"><input type="search" id="select-map-search" /><span></span></div>
	<div id="select-map-buttons" class="map-buttons">
		<a href="#" data-bind="events:{click:center}"><img src="content/imgs/map-current-location.svg"></a>
		<a href="#" id="map-switch-add" data-bind="events:{click:switchAdd}"><img src="content/imgs/map-add-location.svg"></a>
		<a href="#" data-bind="events:{click:showHelp}"><img src="content/imgs/map-help.svg"></a>
	</div>
	<script type="text/x-kendo-template" id="marker-template">
		<div class="map-marker" data-index="#=index#">
			<img src="content/imgs/map-marker.svg" width="55" cl>
			<div class="options">
				<a class="condensed button" data-i18n="views.incidencias.selectByMap.delete">Eliminar</a>
			</div>
		</div>
	</script>
	<footer data-role="footer" class="footer">
		<a href="#resume" class="block button">Siguiente</a>
	</footer>
</div>
