<div id="selectByRFID"
	 data-role="view"
	 data-stretch="true"
	 data-i18n="[data-title]views.incidencias.selectByRFID.title"
	 data-title="Localizar por RFID"
	 data-layout="default"
	 data-transition="slide"
	 data-model="app.viewModels.views.incidencias.selectByRFID"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>

	<div class="main frame">
		<img src="content/imgs/rfid.svg" class="icon">
		<p class="label">Esperando escaneo</p>
	</div>
	<form class="footer frame" data-role="footer">
		<a class="block button" href="#resume" data-i18n="views.incidencias.selectByMap.next" data-bind="click:onNext">Siguiente</a>
	</form>
</div>
