<div id="historicoEstados"
	 data-role="view"
	 data-i18n="[data-title]views.incidencias.stateHistory.title"
	 data-title="Histórico estados"
	 data-layout="default"
	 data-model="app.viewModels.views.incidencias.stateHistory"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<ul data-role="listview"
		id="states-list"
		data-template="states-list-template"
		data-bind="source: source, events { click: onSelect }"></ul>

	<script id="states-list-template" type="text/x-kendo-template">
		<div class="state-list-item">
			<h1>#=estado()#</h1>
			<p class="fecha">#= kendo.toString(Fecha,"dd/MM/yyyy") #</p>
			<p class="nombre">#=Usuario#</p>
			<p><strong data-i18n="views.incidencias.stateHistory.observations">Observaciones:</strong> #=Observaciones#</p>
		</div>
	</script>
</div>
