@mixin regular-text(){
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	text-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}
@mixin clearfix(){
	&:after{
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
@mixin one-line-text(){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
