$base-font-size: 16px;


$color-green-dark: #0c652b;
$color-green: #1aaa53;
$color-green-light: #C2D8CA;
$color-purple: #93A5C2;
$color-purple-light: #9d969e;
$color-blue: #1d4a7b;
$color-blue-alternate: #3A618D;
$color-broken-white: #fcfcfc;
$color-red: #d0021b;
$color-green-alternate: #149a44;
$color-silver: #cccccc;
$color-grey: #7f8185;
$color-grey-light: #e3e3f6;
$color-blue-light: #f0f3f5;
$color-grey-2: #a6a7aa;

$color-incidences: #149a44;
$color-inventory: #6B66CC;
$color-planning: #DC4437;
$color-floats: #EF8407;


//
//$color-estado-eliminado:
//$color-estado-aceptado:
//$color-estado-recibido:
//$color-estado-pendiente:
//$color-estado-rechazado:

$fw-regular: normal;
$fw-semibold: 700;

$state-incident-1: #848688;
$state-incident-2: #149a44;
$state-incident-3: #D40C0C;
$state-incident-4: #BA6007;
$state-incident-5: #1d4a7b;


