.frame{
	@extend .clearfix;
	padding: 21px;
	> * + *{
		margin: 10px 0;
	}
}
.button-at-bottom{
	@include display(flex);
	@include flex-direction(column);
	:first-child{
		@include flex-grow(1);
	}
	:last-child{
		height: 80px;
	}
}
