.header{
	height: 65px;
	color: $color-blue;
	background-color: #dcdfe1;
	border:0 none !important;
}
.main-title{
	line-height: 65px;
	height: 65px;
	background-color: #dcdfe1;
	color: $color-blue;
	font-size: 20px;
	margin: 0;
	text-align: center;
	font-weight: $fw-regular;
}
