<div id="modal-changeState"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.changeState"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 style="width:100vw"
	>
	<div class="modal-frame">
		<h1 class="modal-title">
			<img src="content/imgs/modalheader-state.svg" />
			<span data-i18n="views.modals.changeState.changeState">Cambiar Estado</span>
		</h1>
		<div class="modal-body">
			<form id="stageChangeSelector"></form>
			<script id="state-change-template" type="text/x-kendo-template">
				<div data-id="#=IdEstado#">
					<input type="radio" name="state" value="#=IdEstado#" id="state#=IdEstado#" />
        			<label for="state#=IdEstado#">#=EstadoIncidencia#</label>
				</div>
			</script>

		</div>
		<div class="modal-footer">
			<a data-bind="click:onSubmit" class="button block" data-i18n="views.modals.changeState.accept">Aceptar</a>
			<a data-bind="click:onClose" class="button block" data-i18n="views.modals.changeState.cancel">Cancelar</a>
		</div>
	</div>
</div>
