<div id="modal-editFieldBoolean" class="inventory-module inventory-field-modal"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.editFieldBoolean"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="190">
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">
			<label data-bind="text:name" data-i18n="views.modals.edit.edit">Editar:</label>
			<form class="regular-form full-width text-left">
				<input data-bind="checked: value" value=true type="radio" id="field-boolean-true" name="rgroup"> <label for="field-boolean-true" data-i18n="views.modals.edit.yes">Sí</label>
				<input data-bind="checked: value" value=false type="radio" id="field-boolean-false" name="rgroup"> <label for="field-boolean-false" data-i18n="views.modals.edit.no">No</label>
			</form>
		</div>
		<div class="modal-footer">
			<a data-bind="click:onCloseCancel" class="button condensed grey" data-i18n="views.modals.edit.cancel">Cancelar</a>
			<a data-bind="click:onCloseSave" class="button condensed inventory fright" data-i18n="views.modals.edit.save">Guardar</a>
		</div>

	</div>
</div>
