<div id="modal-editFieldFile" class="inventory-module inventory-field-modal"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.editFieldFile"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="190">
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">
			<label data-bind="text:name" data-i18n="views.modals.edit.edit">Editar:</label>
			<form class="regular-form full-width text-left">
				<input type="file" class="full-width" data-bind="value:value">
			</form>

		</div>
		<div class="modal-footer">
			<a data-bind="click:onCloseCancel" class="button condensed grey" data-i18n="views.modals.edit.cancel">Cancelar</a>
			<a data-bind="click:onCloseSave" class="button condensed inventory fright" data-i18n="views.modals.edit.save">Guardar</a>
		</div>

	</div>
</div>
