<div id="modal-editFieldSelect" class="inventory-module inventory-field-modal"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.editFieldSelect"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 data-height="190">
	<div class="modal-frame custom-height">
		<div class="modal-body modal-align-left">
			<label data-bind="text:name" data-i18n="views.modals.edit.edit">Editar:</label>
			<form class="regular-form full-width">
				<span class="form-select">
						<select data-bind="source:source, value:selected"
								data-text-field="Text"
								data-value-field="Id"
						></select>
				</span>
			</form>
		</div>
		<div class="modal-footer">
			<a data-bind="click:onCloseCancel" class="button condensed grey" data-i18n="views.modals.edit.cancel">Cancelar</a>
			<a data-bind="click:onCloseSave" class="button condensed inventory fright" data-i18n="views.edit.edit.save">Guardar</a>
		</div>

	</div>
</div>
