<div id="modal-offline"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.offline"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<div class="modal-frame">
		<h1 class="modal-title">
			<img src="content/imgs/modalheader-offline.svg" />
			<span data-i18n="views.modals.offline.offline">Sin conexión</span>
		</h1>
		<div class="modal-body">
			<p data-i18n="views.modals.offline.text">En este momento no hay conexión a internet.</p>
			<p data-i18n="views.modals.offline.text2">Los cambios se harán efectivos cuando el dispositivo este conectado.</p>
		</div>
		<div class="modal-footer">
			<a data-bind="click:onClose" class="button block" data-i18n="views.modals.offline.close">Cerrar</a>
		</div>
	</div>
</div>
