<div id="modals-readTag"
	 data-role="modalview"
	 data-stretch=""
	 data-model="app.viewModels.views.modals.readTag"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>

	<div class="modal-frame">
		<img src="content/imgs/rfid.svg" class="icon">
		<p class="label" data-i18n="views.modals.changeState.waiting">Esperando escaneo</p>
		<div class="modal-footer buttons-line">
			<a data-bind="click:onSubmit" class="button block" data-i18n="views.modals.changeState.accept">Aceptar</a>
			<a data-bind="click:onClose" class="button block cancel" data-i18n="views.modals.changeState.cancel">Cancelar</a>
		</div>
	</div>
</div>
