<div id="modal-selectBTDevice"
	 data-role="modalview"
	 data-model="app.viewModels.views.modals.selectBTDevice"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	 style="width:100vw"
	>
	<div class="modal-frame">
		<h1 class="modal-title">
			<img src="content/imgs/modalheader-state.svg" />
			<span data-i18n="views.modals.selectBTDevice.title">Seleccionar dispositivo</span>
		</h1>
		<div class="modal-body">
			<form id="deviceChangeSelector"></form>
			<script id="select-device-template" type="text/x-kendo-template">
				<div data-id="#=address#">
					<input type="radio" name="state" value="#=address#" id="state#=address#" />
        			<label for="state#=address#">#=name#</label>
				</div>
			</script>

		</div>
		<div class="modal-footer">
			<a data-bind="click:onSubmit" class="button block" data-i18n="views.modals.changeState.accept">Aceptar</a>
			<a data-bind="click:onClose" class="button block" data-i18n="views.modals.changeState.cancel">Cancelar</a>
		</div>
	</div>
</div>
