<div id="floats-routes"
	 data-role="view"
	 data-i18n="[data-title]views.floats.index.title"
	 data-title="Control de flotas"
	 data-layout="floats-routes-filter"
	 data-model="app.viewModels.views.floats.routes"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="floats-module"
>
	<h1 class="subheader"></h1>
	<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
		<li class="km-button" data-i18n="views.floats.routes.map">Mapa</li>
		<li class="km-button" data-i18n="views.floats.routes.list">Lista</li>
	</ul>

	<div class="buttongroup-content">
		<div id="vehicle-routes-map"></div>
	</div>

	<ul class="floats-details-list buttongroup-content km-widget km-listview km-list routes-list" data-role="listview" style="display: none;">
		<script id="route-list-template" type="text/x-kendo-template">
			<li>
				<div class="floats-details-list-item">
					#= kendo.toString(kendo.parseDate(Fecha), "dd/MM/yyyy HH:mm") # #= (Ubicacion) ? Ubicacion : "" #
				</div>
			</li>
		</script>
	</ul>

</div>
