<div id="floats-signals"
	 data-role="view"
	 data-i18n="[data-title]views.floats.index.title"
	 data-title="Control de flotas"
	 data-layout="floats-signals-filter"
	 data-model="app.viewModels.views.floats.signals"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="floats-module"
>
	<h1 class="subheader"></h1>
	<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
		<li class="km-button" data-i18n="views.floats.routes.map">Mapa</li>
		<li class="km-button" data-i18n="views.floats.routes.list">Listado</li>
	</ul>
	<div class="buttongroup-content">
		<div id="signal-list-map"></div>
	</div>
	<ul class="floats-details-list buttongroup-content km-widget km-listview km-list" data-role="listview" style="display: none;">
		<li>
			<script id="signal-list-template" type="text/x-kendo-template">
				<li>
					<a href="" class="floats-details-list-item list-link km-listview-link goToDetails" data-signal-id="#= uid #">
						<span>#= TypeSignal # / #= Descripcion #</span>
						<p>Ubicacion: #= Ubicacion #</p>
						<p>Fecha Inicio: #= kendo.toString(kendo.parseDate(FechaInicio), "dd/MM/yyyy HH:mm:ss") #</p>
						<p>Fecha fin: #= kendo.toString(kendo.parseDate(FechaFin), "dd/MM/yyyy HH:mm:ss") #</p>
					</a>
				</li>
			</script>
		</li>
	</ul>

</div>
