<div id="floats-vehicleDetails"
	 data-role="view"
	 data-layout="default"
	 data-i18n="[data-title]views.floats.index.title"
	 data-title="Control de flotas"
	 data-model="app.viewModels.views.floats.vehicleDetails"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="floats-module"
	>
	<script id="vehicle-details-template" type="text/x-kendo-template">
		<h1 class="subheader">#= vehiculo() #</h1>
		<br/><br/>
		<ul class="floats-details-list km-widget km-listview km-list" data-role="listview">
			<li>
				<div class="floats-details-list-item">
					<span data-i18n="views.floats.details.type">Tipo:</span> #= Tipo #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span data-i18n="views.floats.details.code">Código:</span> #= Codigo #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span data-i18n="views.floats.details.mark">Marca:</span> #= Marca #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span data-i18n="views.floats.details.model">Modelo:</span> #= Modelo #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span data-i18n="views.floats.details.location">Ubicación:</span> #= Ubicacion #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span data-i18n="views.floats.details.date">Fecha:</span> #= kendo.toString(kendo.parseDate(Fecha), "dd/MM/yyyy HH:mm:ss") #
				</div>
			</li>
			<li>
				<a href="" class="floats-details-list-item list-link km-listview-link goToSignals">
					<span data-i18n="views.floats.details.signal">Señales</span>
				</a>
			</li>
			<li>
				<a href="" class="floats-details-list-item list-link km-listview-link goToAlarms">
					<span data-i18n="views.floats.details.alarm">Alarmas</span>
				</a>
			</li>
		</ul>
	</script>

	<div class="vehicle-details-container"></div>
	<div class="blank frame">
		<a class="block button goToRoutes" href="#floats-routes" data-i18n="views.floats.details.route">Ver ruta</a>
	</div>
</div>
