<div id="floats-vehicles"
	 data-role="view"
	 data-i18n="[data-title]views.floats.index.title"
	 data-title="Control de flotas"
	 data-layout="floats-vehicles-filter"
	 data-model="app.viewModels.views.floats.vehicles"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="floats-module"
>
	<h1 class="subheader" data-i18n="views.floats.index.title">Vehículos y rutas</h1>
	<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
		<li class="km-button" data-i18n="views.floats.routes.map">Mapa</li>
		<li class="km-button" data-i18n="views.floats.routes.list">Listado</li>
	</ul>

	<div class="buttongroup-content">
		<div id="vehicle-list-map"></div>
	</div>

	<ul class="floats-details-list no-bg-list buttongroup-content km-widget km-listview km-list" data-role="listview" style="display: none;">
		<li>
			<script id="vehicle-list-template" type="text/x-kendo-template">
				<li>
					<a href="" class="floats-details-list-item list-link goToDetails km-listview-link" data-vehicle-cod="${Codigo}">
						<span>#= vehiculo() #</span>
						<p>#= Tipo #</p>
					</a>
				</li>
			</script>
		</li>
	</ul>

</div>
