<div data-role="drawer"
	 id="filtrosDrawer"
	 data-model="app.viewModels.views.filtrosDrawer"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 data-views="['incidencias']"
	 data-position="right">
	<header class="header" data-role="header">
		<h1 class="main-title" data-i18n="layouts.filtrosDrawer.title">Filtros</h1>
	</header>
	<section class="drawer-content">
		<ul data-role="listview"
			id="filter-list"
			data-pull-to-refresh="true"
			data-messages='{ "releaseTemplate": "Suelta para actualizar", "refreshTemplate": "Actualizando","pullTemplate": "Tira para actualizar" }'
			data-template="filter-list-template"
			data-bind="source: filtros, events { click: onFiltroSelect }"></ul>

		<script id="filter-list-template" type="text/x-kendo-template">
			<div class="filter-item" data-id="#=IdFiltroUsuario#">
				<p>${Nombre}</p>
				<span class="icon"><img src="content/imgs/icons/ico-selected-contracts.svg"></span>
				<a data-bind="events: { click: removeFilter }" data-uid="#=uid#" class="close"><img src="content/imgs/button-close.svg"></a>
			</div>
		</script>
		<div class="filter-fields">
			<div class="frame">
				<form class="filter-box regular-form hidden">
					<legend data-i18n="layouts.filtrosDrawer.newParameter">Nuevo parámetro</legend>
				<span class="form-select"><select class="select-tipo-filtro" data-bind="events: {change:onTipoFiltroChange}">
					<option value="" data-i18n="layouts.filtrosDrawer.selectFilter">Selecciona tipo filtro</option>
					<option value="ESTADO_INCIDENCIA" data-i18n="layouts.filtrosDrawer.state">Estado</option>
					<option value="GRUPO_TIPO_DESCRIPCION" data-i18n="layouts.filtrosDrawer.groupTypeDescription">Grupo/Tipo/Desc</option>
					<option value="FECHA_DESDE" data-i18n="layouts.filtrosDrawer.fromDate">Desde fecha</option>
					<option value="FECHA_HASTA" data-i18n="layouts.filtrosDrawer.toDate">Hasta fecha</option>
					<option value="ULTIMOS_DIAS" data-i18n="layouts.filtrosDrawer.daysSince">Días desde</option>
					<!--<option value="CONTRATO" data-i18n="layouts.filtrosDrawer.contract">Contrato</option>-->
					<option value="PRIORIDAD" data-i18n="layouts.filtrosDrawer.priority">Prioridad</option>
					<option value="PROVINCIA/MUNICIPIO" data-i18n="layouts.filtrosDrawer.provinceTown">Provincia/Municipio</option>
					<option value="DIRECCION" data-i18n="layouts.filtrosDrawer.adress">Dirección</option>
					<option value="ELEMENTO_INVENTARIO" data-i18n="layouts.filtrosDrawer.inventory">Inventario</option>
				</select></span>
					<div class="values">
						<div data-option="ESTADO_INCIDENCIA">
					<span class="form-select"><select class="select-estados"
													  data-bind="source:tables.estados,value:currentFilterField.IdEstado"
													  data-text-field="EstadoIncidencia"
													  data-value-field="IdEstado"></select></span>
						</div>
						<div data-option="GRUPO_TIPO_DESCRIPCION">
					<span class="form-select"><select class="select-grupos"
													  data-text-field="GrupoIncidencia"
													  data-bind="source:tables.grupos,value:currentFilterField.IdGrupo,events: { change: grupoChange }"
													  data-value-field="IdGrupo"></select></span>
					<span class="form-select"><select class="select-tipos"
													  data-bind="source:tables.tipos,value:currentFilterField.IdTipo,events: { change: tipoChange }"
													  data-text-field="TipoIncidencia"
													  data-value-field="IdTipo"
													  disabled></select></span>
					<span class="form-select"><select class="select-descripciones"
													  data-bind="source:tables.descripciones,value:currentFilterField.IdDescripcion"
													  data-text-field="DescripcionIncidencia"
													  data-value-field="IdDescripcion"
													  disabled></select></span>
						</div>
						<div data-option="FECHA_DESDE">
							<input type="date" data-bind="value:FromDate" id="filter-date-from">
						</div>
						<div data-option="FECHA_HASTA">
							<input type="date" data-bind="value:ToDate" id="filter-date-to">
						</div>
						<div data-option="ULTIMOS_DIAS">
							<input type="number" data-bind="value:FromDate" id="filter-days">
						</div>
						<div data-option="CONTRATO">
							<span class="form-select"><select class="select-tipo-filtro"></select></span>
						</div>
						<div data-option="PRIORIDAD">
					<span class="form-select"><select class="select-prioridades"
													  data-bind="source:tables.prioridades,value:currentFilterField.IdPrioridad,text:Prioridad"
													  data-text-field="Prioridad"
													  data-value-field="IdPrioridad"></select></span>
						</div>
						<div data-option="PROVINCIA/MUNICIPIO">
					<span class="form-select"><select class="select-provincias"
													  data-bind="source:tables.provincias,value:currentFilterField.IdProvincia,events: { change: provinciaChange }"
													  data-text-field="NombreProvincia"
													  data-value-field="IdProvincia"></select></span>
					<span class="form-select"><select class="select-municipios"
													  data-bind="source:tables.municipios,value:currentFilterField.IdMunicipio"
													  data-text-field="NombreMunicipio"
													  data-value-field="IdMunicipio"
													  disabled></select></span>
						</div>
						<div data-option="DIRECCION">
							<input type="text" data-bind="value:Address" id="filter-address">
						</div>
						<div data-option="ELEMENTO_INVENTARIO">
					<span class="form-select"><select class="select-tipos"
													  data-bind="source:inventary.tipos,value:currentFilterField.IdTipoElemento,events: { change: tipoElementoChange }"
													  data-text-field="Tipo"
													  data-value-field="IdTipoElemento"></select></span>
					<span class="form-select"><select class="select-elementos"
													  data-bind="source:inventary.elementosLista,value:currentFilterField.IdElemento"
													  data-text-field="NombreElemento"
													  data-value-field="IdElemento"></select></span>
						</div>
					</div>
					<div class="buttons">
						<button class="condensed button" data-bind="click: onCancelCreateFilter" data-i18n="layouts.filtrosDrawer.close">cerrar</button>
						<button class="condensed button" data-bind="click: onCreateFilter" data-i18n="layouts.filtrosDrawer.ok">ok</button>
					</div>
				</form>
				<ul class="addressList" id="filterFieldList">
					<script id="filter-field-list-template" type="text/x-kendo-template">
						<li><span>#= title() #</span><a data-bind="events: { click: removeFilter }" data-uid="#=uid#"><img src="content/imgs/button-close.svg"></a></li>
					</script>
				</ul>
			</div>
		</div>
	</section>

	<footer data-role="footer" class="drawer-footer">
		<section class="right tipbox" id="filter-add-tip">
			<a href="#" class="close"><img src="content/imgs/close.svg"></a>
			<img class="title-img" src="content/imgs/light.svg">
			<p data-i18n="layouts.filtrosDrawer.addFilters">Para empezar a añadir
				filtros utiliza este botón</p>
		</section>
		<section class="left tipbox" id="filter-save-tip">
			<a href="#" class="close"><img src="content/imgs/close.svg"></a>
			<h1 class="title" data-i18n="layouts.filtrosDrawer.didYouKnow">¿Sabías que?</h1>
			<p data-i18n="layouts.filtrosDrawer.saveFilters">Puedes usar este botón
				para guardar tus filtros
				seleccionados y recuperarlos
				más tarde.</p>
		</section>
		<hr class="pattern">
		<div class="buttons">
			<a href="#" class="button-save" data-rel="modalview"  data-bind="events: {click:onSaveFilter}"></a>
			<a href="#" class="button-cancel"  data-bind="events: {click:onCancelFilter}"></a>
			<a href="#" class="button-add" data-bind="events: {click:onCreateFilterField}"></a>
		</div>
	</footer>
</div>
