<section data-role="layout" data-id="floats-signals-filter" data-show="onInit">
	<header data-role="header">
		<div data-role="navbar" class=".navbar">
			<a data-align="left" class="navbar-button back" data-role="backbutton"></a>
			<span data-role="view-title"></span>
			<a href="#filtrosDrawer"
			   data-role="button"
			   data-align="right"
			   class="navbar-button search"
			   data-rel="drawer"
				></a>
			<a href=""
			   data-role="button"
			   data-align="right"
			   class="navbar-button search-floats"
			></a>
			<a href="#planning-edit"
			   data-role="button"
			   data-align="right"
			   class="navbar-button edit-planning-btn"
			   data-role-visibility="Planificación.ModificarOT"
			></a>
			<a href=""
			   data-align="right"
			   class="navbar-button search-btn"
			></a>
		</div>
		<div id="signals-filter" class="vehicles-filter">
			<div class="vehicles-filter-content">
				<form class="regular-form full-width text-left">
					<label>Tipo de señal</label>
					<span class="form-select">
					<select class="select-typeSignals"
							data-bind="source: typeSignals, value: filter.TypeSignal"
							data-text-field="TypeSignal"
							data-value-field="IdTypeSignal"
					></select>
				</span>
					<label>Desde:</label>
					<input class="form-input fecha-desde" type="datetime-local" data-bind="date:filter.FechaDesde" data-format="dd/MM/yyyy HH:mm" />
					<label>Hasta:</label>
					<input class="form-input fecha-hasta" type="datetime-local" data-bind="date:filter.FechaHasta" data-format="dd/MM/yyyy HH:mm" />

					<div class="buttons">
						<a class="button condensed fright ok-btn">Ok</a>
						<a class="button condensed grey reset-btn">Reset</a>
					</div>
				</form>
			</div>
		</div>
	</header>


</section>
