<section data-role="layout" data-id="home" data-show="onShowHomeLayout">
	<header data-role="header">
		<div data-role="navbar">
			<a href="#mainMenuDrawer"
			   data-role="button"
			   data-align="left"
			   class="navbar-button burger"
			   data-rel="drawer"
			></a>
			<a href="#notifications" class="user-info"><span class="name"></span><span class="baloon">0</span></a>
		</div>
	</header>
	<script>
		function onShowHomeLayout(e){

			if(window.app.user != null){
				e.layout.header.find(".user-info .name").text(window.app.user.nombreCompleto).show();
			}
			else{
				e.layout.header.find(".user-info").hide();
			}
		}
	</script>
</section>
