<div id="floats-alarms"
	 data-role="view"
	 data-title="Control de flotas"
	 data-layout="floats-alarms-filter"
	 data-model="app.viewModels.views.floats.alarms"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="floats-module"
>
	<h1 class="subheader"></h1>
	<br/><br/>
	<ul class="floats-list km-widget km-listview km-list" data-role="listview">
		<script id="alarm-list-template" type="text/x-kendo-template">
			<li>
				<div class="floats-list-item">
					<div class="dot #= criticidadClass() #"></div>
					<div class="text">
						<p class="name">#= kendo.toString(new Date(Fecha), "dd/MM/yyyy HH:mm:ss") #</p>
						<p class="description">#= TipoAlarma # / #= Dispositivo #</p>
					</div>
					<div class="floats-buttons">
						<a href="" class="open-alarmMessage" data-alarm-id="${uid}"><img src="content/imgs/icons/ico-field-dots.svg"/></a>
					</div>
				</div>
			</li>
		</script>
	</ul>

</div>
