<div id="floats-index"
	 data-role="view"
	 data-title="Control de flotas"
	 class="floats-module"
	 data-layout="default-burger"
	 data-model="app.viewModels.views.floats.index"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<div class="home frame">
		<img src="content/imgs/flotas-logo.svg" alt="" class="home-logo">

		<a href="#floats-vehicles" class="button block icon text-left" data-icon="icon-floats-vehicles" data-role-visibility="Flota.ConsultarFlota">Vehiculos y rutas</a>
	</div>
</div>
