<div id="floats-signalDetails"
	 data-role="view"
	 data-title="Control de flotas"
	 data-layout="default"
	 data-model="app.viewModels.views.floats.signalDetails"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="floats-module"
>
	<h1 class="subheader"></h1>

	<div id="signalPosition-list-map"></div>



</div>
