<div id="floats-vehicleDetails"
	 data-role="view"
	 data-layout="default"
	 data-title="Control de flotas"
	 data-model="app.viewModels.views.floats.vehicleDetails"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="floats-module"
	>
	<script id="vehicle-details-template" type="text/x-kendo-template">
		<h1 class="subheader">#= vehiculo() #</h1>
		<br/><br/>
		<ul class="floats-details-list km-widget km-listview km-list" data-role="listview">
			<li>
				<div class="floats-details-list-item">
					<span>Tipo:</span> #= Tipo #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span>Código:</span> #= Codigo #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span>Marca:</span> #= Marca #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span>Modelo:</span> #= Modelo #
				</div>
			</li>
			<li>
				<div class="floats-details-list-item">
					<span>Ubicación:</span> #= Ubicacion #
				</div>
			</li>
			<li>
				<a href="" class="floats-details-list-item list-link km-listview-link goToSignals">
					<span>Señales</span>
				</a>
			</li>
			<li>
				<a href="" class="floats-details-list-item list-link km-listview-link goToAlarms">
					<span>Alarmas</span>
				</a>
			</li>
		</ul>
	</script>

	<div class="vehicle-details-container"></div>
	<div class="blank frame">
		<a class="block button goToRoutes" href="#floats-routes">Ver ruta</a>
	</div>
</div>
