<div id="planning-details"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.details"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Orden de trabajo</h1>



	<script id="planning-details-template" type="text/x-kendo-template">
		<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
			<li class="km-button">General</li>
			<li class="km-button">Tareas</li>
			# if (instalacion() == "SmarTools") { #
			<li class="km-button">Localizaciones</li>
			# } #
			<li class="km-button">Recursos</li>
			<li class="km-button">Documentación</li>
		</ul>
		<ul class="buttongroup-content planning-details-list km-widget km-listview km-list" data-role="listview">
			<li>
				<div class="planning-details-list-item">
					<span>Código:</span> #= (CodigoOT) ? CodigoOT : "(sin asignar)" #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Estado:</span> #= EstadoOT #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Fecha:</span> #= kendo.toString(new Date(FechaOT), "dd/MM/yyyy HH:mm") #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Observaciones:</span> #= (Observaciones) ? Observaciones : "(ninguna)" #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Tipo de servicio:</span> #= DatosServicio.TipoServicio #
				</div>
			</li>
			<li class="smartus-only">
				<div class="planning-details-list-item">
					<span>Contrato Administrativo:</span> #= DatosServicio.ContratoAdmv #
				</div>
			</li>
			<li class="smartus-only">
				<div class="planning-details-list-item">
					<span>Fase creación:</span> #= DatosServicio.FaseCreacion #
				</div>
			</li>
			<li class="smartus-only">
				<div class="planning-details-list-item">
					<span>Tipo de actividad:</span> #= DatosServicio.Caracter #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Servicio:</span> #= DatosServicio.Servicio #
				</div>
			</li>
			<li class="urbajardin-only">
				<div class="planning-details-list-item">
					<span>Provincia:</span> #= provincia() #
				</div>
			</li>
			<li class="urbajardin-only">
				<div class="planning-details-list-item">
					<span>Municipio:</span> #= municipio() #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Calendario:</span> #= DatosServicio.Calendario #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Periodo:</span> #= DatosServicio.Periodo #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Turno:</span> #= DatosServicio.Turno #
				</div>
			</li>

			<li>
				<div class="planning-details-list-item">
					<span>Fecha inicio:</span> #= kendo.toString(new Date(DatosServicio.FechaInicio), "dd/MM/yyyy HH:mm") #
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Fecha fin:</span> #= kendo.toString(new Date(DatosServicio.FechaFin), "dd/MM/yyyy HH:mm") #
				</div>
			</li>
		</ul>
		<ul class="buttongroup-content planning-details-list no-bg-list km-widget km-listview km-list" style="display: none;">
			# for (var i = 0; i < Tareas.length; i++) { #
			<li>
				<div class="planning-details-list-item">
					<span>#= (Tareas[i].Tarea) ? Tareas[i].Tarea : "" #</span>
					<p>#= (Tareas[i].Distrito) ? Tareas[i].Distrito + " |" : "" #  #= (Tareas[i].EspacioUrbano) ? Tareas[i].EspacioUrbano : "" #</p>
				</div>
			</li>
			# } #
		</ul>
		# if (instalacion() == "SmarTools") { #
		<ul class="buttongroup-content planning-details-list no-bg-list km-widget km-listview km-list" style="display: none;">
			# for (var i = 0; i < Localizacion.length; i++) { #
			<li>
				<div class="planning-details-list-item">
					<span>#= (Localizacion[i].Zona) ? Localizacion[i].Zona : "" #</span>
					<p>#= (Localizacion[i].RutaSector) ? Localizacion[i].RutaSector : "" #</p>
				</div>
			</li>
			# } #
		</ul>
		# } #
		<ul class="buttongroup-content planning-details-list no-bg-list km-widget km-listview km-list" style="display: none;">
			# for (var i = 0; i < Recursos.length; i++) { #
			<li>
				<div class="planning-details-list-item">
					<span>#= (Recursos[i].Recurso) ? Recursos[i].Recurso : "" #</span>
					<p>#= (Recursos[i].CategoriaRecurso) ? Recursos[i].CategoriaRecurso : "" #</p>
				</div>
			</li>
			# } #
		</ul>
		<ul class="buttongroup-content planning-details-list no-bg-list km-widget km-listview km-list" style="display: none;">
			# for (var i = 0; i < Documentos.length; i++) { #
			<li>
				<div class="planning-details-list-item">
					#= Documentos[i].Nombre #
					<div class="planning-buttons">
						<a href="#= Documentos[i].URL #"><img src="content/imgs/icons/ico-download.svg" width="23" height="23"/></a>
					</div>
				</div>
			</li>
			# } #
		</ul>
	</script>
	<div class="planning-details-container"></div>
</div>
