<div id="planning-editService"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.editService"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Nueva OT/Datos Generales</h1>
	<ul class="planning-create-steps urbajardin-only">
		<li class="step-selected"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="planning-create-steps smartus-only">
		<li class="step-selected"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<div class="blank frame">
		<form class="regular-form">
			<div class="create-service create-service-hidden">
				<label>Nombre de <br/>servicio:</label>
				<input class="form-input servicio-nombre" type="text" data-bind="value:model.DatosServicio.Servicio" disabled />
			</div>
			<div class="smartus-only">
				<label>Contrato <br/>Administrativo:</label>
					<span class="form-select">
						<select data-bind="source:contratosAdmin, value:model.DatosServicio.IdContratoAdmv, events: { change: contratoAdminChange }"
								data-text-field="ContratoAdmv"
								data-value-field="IdContratoAdmv"
								class="select-contratosAdmin"
								disabled
						>
						</select>
					</span>
			</div>
			<div class="smartus-only">
				<label>Fase de <br/>Creacion:</label>
					<span class="form-select">
						<select data-bind="source:tables.fasesCreacion, value:model.DatosServicio.IdFaseCreacion, events: { change: faseCreacionChange }"
								data-text-field="FaseCreacion"
								data-value-field="IdFase"
								class="select-fasesCreacion"
								disabled
						>
						</select>
					</span>
			</div>
			<div class="smartus-only">
				<label>Tipo de <br/>actividad:</label>
					<span class="form-select">
						<select data-bind="source:tables.tiposActividad, value:model.DatosServicio.IdTipoActividad, events: { change: tipoActividadChange }"
								data-text-field="TipoActividad"
								data-value-field="IdTipoActividad"
								class="select-tiposActividad"
								disabled
						>
						</select>
					</span>
			</div>
			<div class="urbajardin-only">
				<label>Provincia:</label>
					<span class="form-select disabled">
						<select data-bind="source:tables.provincias, value:model.DatosServicio.IdProvincia, events: { change: provinciaChange }"
								data-text-field="NombreProvincia"
								data-value-field="IdProvincia"
								class="select-provincias"
								disabled
						>
						</select>
					</span>
			</div>
			<div class="urbajardin-only">
				<label>Municipio:</label>
					<span class="form-select disabled">
						<select data-bind="source:tables.municipios, value:model.DatosServicio.IdMunicipio, events: { change: municipioChange }"
								data-text-field="NombreMunicipio"
								data-value-field="IdMunicipio"
								class="select-municipios"
								disabled
						>
						</select>
					</span>
			</div>
			<div>
				<label>Calendario:</label>
					<span class="form-select disabled">
						<select data-bind="source:tables.calendarios, value:model.DatosServicio.IdCalendario, events: { change: calendarioChange }"
								data-text-field="Nombre"
								data-value-field="IdCalendario"
								class="select-calendarios"
								disabled
						>
						</select>
					</span>
			</div>
			<div>
				<label>Turno:</label>
					<span class="form-select disabled">
						<select data-bind="source:tables.turnosServicio, value:model.DatosServicio.IdTurno, events: { change: turnosChange }"
								data-text-field="Turno"
								data-value-field="IdTurno"
								class="select-turnos"
								disabled
						>
						</select>
					</span>
			</div>
			<div>
				<label>Periodo:</label>
					<span class="form-select disabled">
						<select data-bind="source:tables.periodosServicio, value:model.DatosServicio.IdPeriodo, events: { change: periodosChange }"
								data-text-field="Periodo"
								data-value-field="IdPeriodo"
								class="select-periodos"
								disabled
						>
						</select>
					</span>
			</div>

			<div>
				<label>Fecha Inicio:</label>
				<input class="form-input servicio-fechaInicio" type="date" data-bind="events: { change: fechaInicioChange }" disabled />
			</div>
			<div>
				<label>Fecha Fin:</label>
				<input class="form-input servicio-fechaFin" type="date" data-bind="events: { change: fechaFinChange }" disabled />
			</div>
			<div class="vertical">
				<label data-i18n="views.incidencias.edit.observations">Observaciones:</label>
				<textarea data-bind="value:model.Observaciones"></textarea>
			</div>

			<a class="block button goToStep2" href="#planning-editStep2">Siguiente</a>
		</form>
	</div>
</div>
