<div id="planning-editStep5"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.editStep5"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Nueva OT/Revisión</h1>
	<ul class="planning-create-steps urbajardin-only">
		<li></li>
		<li></li>
		<li></li>
		<li class="step-selected"></li>
	</ul>
	<ul class="planning-create-steps smartus-only">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li class="step-selected"></li>
	</ul>

	<script id="planning-review-template" type="text/x-kendo-template">
		<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
			<li class="km-button">General</li>
			<li class="km-button">Tareas</li>
			# if (Localizacion.length > 0) { #
			<li class="km-button">Localizaciones</li>
			# } #
			<li class="km-button">Recursos</li>
		</ul>

		<ul class="buttongroup-content planning-details-list extra-pad no-bg-list km-list">
			<li>
				<div class="planning-details-list-item">
					<span>Fecha</span>
					<p>#= kendo.toString(new Date(FechaOT), "dd/MM/yyyy HH:mm") #</p>
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Tipo de servicio</span>
					<p>#= DatosServicio.TipoServicio #</p>
				</div>
			</li>
			<li class="smartus-only">
				<div class="planning-details-list-item">
					<span>Contrato Administrativo</span>
					<p>#= DatosServicio.ContratoAdmv #</p>
				</div>
			</li>
			<li class="smartus-only">
				<div class="planning-details-list-item">
					<span>Fase de creación</span>
					<p>#= DatosServicio.FaseCreacion #</p>
				</div>
			</li>
			<li class="smartus-only">
				<div class="planning-details-list-item">
					<span>Tipo de actividad</span>
					<p>#= DatosServicio.TipoActividad #</p>
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Servicio</span>
					<p>#= DatosServicio.Servicio #</p>
				</div>
			</li>
			<li class="urbajardin-only">
				<div class="planning-details-list-item">
					<span>Provincia</span>
					<p>#= provincia() #</p>
				</div>
			</li>
			<li class="urbajardin-only">
				<div class="planning-details-list-item">
					<span>Municipio</span>
					<p>#= municipio() #</p>
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Calendario</span>
					<p>#= DatosServicio.Calendario #</p>
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Turno</span>
					<p>#= DatosServicio.Turno #</p>
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Periodo</span>
					<p>#= DatosServicio.Periodo #</p>
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Fecha inicio</span>
					<p>#= kendo.toString(new Date(DatosServicio.FechaInicio), "dd/MM/yyyy HH:mm") #</p>
				</div>
			</li>
			<li>
				<div class="planning-details-list-item">
					<span>Fecha fin</span>
					<p>#=  kendo.toString(new Date(DatosServicio.FechaFin), "dd/MM/yyyy HH:mm") #</p>
				</div>
			</li>
		</ul>
		<ul class="buttongroup-content planning-details-list extra-pad no-bg-list km-list">
			# for (var i = 0; i < Tareas.length; i++) { #
			<li>
				<div class="planning-details-list-item">
					<span>#= Tareas[i].Tarea #</span>
					# if (Tareas[i].Distrito) { #
					<p>#= Tareas[i].Distrito # #= (Tareas[i].EspacioUrbano) ? " | " + Tareas[i].EspacioUrbano : "" #</p>
					# } #
				</div>
			</li>
			# } #
		</ul>
		# if (Localizacion.length > 0) { #
		<ul class="buttongroup-content planning-details-list extra-pad no-bg-list km-list">
			# for (var i = 0; i < Localizacion.length; i++) { #
			<li>
				<div class="planning-details-list-item">
					<span>#= (Localizacion[i].RutaSector) ? Localizacion[i].RutaSector : "" #</span>
					<p>#= (Localizacion[i].Zona) ? Localizacion[i].Zona : "" #</p>
				</div>
			</li>
			# } #
		</ul>
		# } #
		<ul class="buttongroup-content planning-details-list extra-pad no-bg-list km-list">
			# for (var i = 0; i < Recursos.length; i++) { #
			<li>
				<div class="planning-details-list-item">
					<span>#= (Recursos[i].Recurso) ? Recursos[i].Recurso : "" #</span>
					<p>#=(Recursos[i].TipoRecurso) ? Recursos[i].TipoRecurso + " | " : "" # #= (Recursos[i].CategoriaRecurso) ? Recursos[i].CategoriaRecurso : "" #</p>
				</div>
			</li>
			# } #
		</ul>
	</script>
	<div class="review-container"></div>
	<div class="blank frame">
		<a class="block button save-planning" href="">Guardar y programar</a>
	</div>
</div>
