<div id="planning-edit"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.edit"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Nueva OT/Datos Generales</h1>
	<ul class="planning-create-steps urbajardin-only">
		<li class="step-selected"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<ul class="planning-create-steps smartus-only">
		<li class="step-selected"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<div class="blank frame">
		<form class="regular-form">
			<div>
				<label>Fecha:</label>
				<input class="form-input servicio-fecha" type="date" data-bind="events: { change: fechaOTChange }" />
			</div>
			<div class="edit-only">
				<label>Estado:</label>
				<span class="form-select">
					<select data-bind="source:tables.estadosOT, value:model.IdEstadoOT, events: { change: estadoChange }"
							data-text-field="Estado"
							data-value-field="IdEstado"
							class="select-estados"
					>
					</select>
				</span>
			</div>
			<div>
				<label>Tipo de <br/>servicio:</label>
				<span class="form-select">
					<select data-bind="source:tables.tiposServicio, value:model.DatosServicio.IdTipoServicio, events: { change: tiposServicioChange }"
							data-text-field="TipoServicio"
							data-value-field="IdTipoServicio"
							class="select-tiposServicio"
					>
					</select>
				</span>
			</div>
			<div>
				<label>Servicio:</label>
				<span class="form-select">
					<select data-bind="source:services, value:service, events: { change: serviciosChange }"
							data-text-field="Servicio"
							data-value-field="IdServicio"
							class="select-servicios"
							disabled
					>
					</select>
				</span>
			</div>

			<a class="block button goToStep2" href="#planning-editService">Siguiente</a>

		</form>
	</div>
</div>
