<div id="planning-editStep2B"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.editStep2B"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Nueva OT/Tareas</h1>
	<ul class="planning-create-steps">
		<li></li>
		<li class="step-selected"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<form class="regular-form">
		<ul data-role="listview"
			data-template="tareas2-list-template"
			data-bind="source: tareas"
			class="planning-details-list extra-pad no-bg-list"></ul>

		<script id="tareas2-list-template" type="text/x-kendo-template">


			<div class="planning-details-list-item">
				${Tarea}
				<input type="checkbox" class="tareas-item" data-field-id="${IdTarea}" data-text-field="${Tarea}" data-tipo-id="${IdTipoServicio}" data-role="switch" data-checked="false" />
			</div>

		</script>

		<div class="no-tasks" style="display: none;">
				<p>No existen tareas para este servicio.</p>
		</div>

		<div class="blank frame">
			<a class="block button goToStep3" href="#planning-editStep3">Siguiente</a>
		</div>
	</form>
</div>
