<div id="planning-editStep4"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.editStep4"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Nueva OT/Recursos</h1>
	<ul class="planning-create-steps urbajardin-only">
		<li></li>
		<li></li>
		<li class="step-selected"></li>
		<li></li>
	</ul>
	<ul class="planning-create-steps smartus-only">
		<li></li>
		<li></li>
		<li></li>
		<li class="step-selected"></li>
		<li></li>
	</ul>
	<div class="blank frame">

		<div class="planning-noResources">
			<img src="content/imgs/planning-book.svg" alt=""/>
			<p>Añade recursos a esta orden de trabajo usando el botón + inferior</p>
		</div>
	</div>

	<ul class="planning-details-list extra-pad no-bg-list km-list">
		<script id="resources-selected-list-template" type="text/x-kendo-template">
			<li>
				<div class="planning-details-list-item">
					<span>${Recurso}</span>
					<p>${CategoriaRecurso}</p>
					<div class="planning-buttons">
						<a href="" class="edit-button edit-select-modal remove-resource"><img class="delete-button" src="content/imgs/icons/icon-planning-delete.svg"/></a>
					</div>
				</div>
			</li>
		</script>
	</ul>
	<div class="blank frame">
		<a class="block button" href="#planning-editStep5">Siguiente</a>
		<p class="resources-plus"><a href="#" class="open-resources-select"><img src="content/imgs/icons/ico-planning-plus.svg" alt=""/></a></p>
	</div>

</div>
