<div id="planning-editStep3"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.editStep3"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Nueva OT/Localizaciones</h1>
	<ul class="planning-create-steps">
		<li></li>
		<li></li>
		<li class="step-selected"></li>
		<li></li>
		<li></li>
	</ul>
	<div class="blank frame">

		<div class="planning-noResources">
			<img src="content/imgs/planning-book.svg" alt=""/>
			<p>Añade ubicaciones a esta orden de trabajo usando el botón + inferior</p>
		</div>
	</div>

	<ul class="planning-details-list extra-pad no-bg-list km-list">
		<script id="location-list-template" type="text/x-kendo-template">
			<li>
				<div class="planning-details-list-item">
					<span>${RutaSector}</span>
					<p>${Zona}</p>
					<div class="planning-buttons">
						<a href="" class="edit-button edit-select-modal remove-location"><img class="delete-button" src="content/imgs/icons/icon-planning-delete.svg"/></a>
					</div>
				</div>
			</li>
		</script>
	</ul>


	<div class="blank frame">
		<a class="block button goToStep4" href="#planning-editStep4">Siguiente</a>
		<p class="resources-plus"><a href="#planning-locationSelect" class="open-locations-select"><img src="content/imgs/icons/ico-planning-plus.svg" alt=""/></a></p>
	</div>

</div>
