<div id="planning-index"
	 data-role="view"
	 data-title="Planificación"
	 class="planning-module"
	 data-layout="default-burger"
	 data-model="app.viewModels.views.planning.index"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<div class="home frame">
		<img src="content/imgs/planning-logo.svg" alt="" class="home-logo sm">

		<a href="#planning-search" class="button block icon text-left" data-icon="ico-planning-search" data-role-visibility="Planificación.ConsultarOT">Consultar OT</a>
		<a href="#planning-edit" class="button block icon text-left planning-edit" data-icon="ico-planning-create" data-role-visibility="Planificación.NuevoOT">Crear nueva OT</a>
	</div>
</div>
