<div id="planning-resourcesList"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.resourcesList"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Nueva OT/Datos Generales</h1>

	<form class="regular-form">
		<p class="title">Seleccionar recurso: <span id="resource-category-name"></span></p>
		<ul data-role="listview"
			data-template="resources-list-template"
			data-bind="source: resources"
			class="planning-details-list extra-pad no-bg-list"></ul>

		<script id="resources-list-template" type="text/x-kendo-template">


			<div class="planning-details-list-item">
				${Recurso}
				<input type="checkbox" class="resources-item" data-field-id="${IdRecurso}" data-role="switch" data-checked="false" />
			</div>

		</script>
		<div class="no-resources" style="display: none;">
			<p>No existen recursos de este tipo.</p>
		</div>
		<div class="blank frame add-btn">
			<a class="block button goToStep4">Añadir</a>
		</div>
		<div class="blank frame no-resources">
			<a class="block button" data-role="backbutton">Volver</a>
		</div>
	</form>
</div>
