<div id="planning-results"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.results"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader">Consultar</h1>

	<ul class="planning-list"data-role="listview"
		data-endless-scroll="true"
		data-template="planning-results-list-template"
		data-bind="source: model, events { click: goToDetails }">
	</ul>
	<script id="planning-results-list-template" type="text/x-kendo-template">
		<a href="" class="planning-list-item km-listview-link goToDetails">
			# if (IdEstadoOT == 1){ #
			<div class="dot dot-green"></div>
			# } else if (IdEstadoOT == 2) { #
			<div class="dot dot-red"></div>
			# } else { #
			<div class="dot dot-grey"></div>
			# } #
			<div class="text">
				<p class="name">Código #= (CodigoOT) ? CodigoOT : "(sin asignar)" # (#= kendo.toString(new Date(FechaOT), "dd/MM/yyyy") #)</p>
				<p class="description">${DatosServicio.Servicio} en ${localizacion()}</p>
			</div>
		</a>
	</script>
</div>
