<div id="home"
	 data-role="view"
	 data-layout="home"
	 data-model="app.viewModels.views.home.index"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<div class="home frame">
		<img src="content/imgs/logo.svg" alt="" class="home-logo">
		<div id="homeShortcuts"></div>
		<script id="home-shortcuts-template" type="text/x-kendo-template">
			<a href="#=Path#" class="button block #=Style#" data-icon="#=Icon#"><span>#=Label#</span></a>
		</script>
	</div>
</div>
