<div id="loginCitizen"
	 data-role="view"
	 data-layout="fullscreen"
	 data-model="app.viewModels.views.home.loginCitizen"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<p class="show-version"></p>
	<form class="login frame">
		<img src="content/imgs/logo.svg" alt="" class="logo">
		<p data-i18n="views.home.loginCitizen.instructions1" class="last instructions">En breve recibira un correo en su buzon, por favor escriba su código recibido y pulse en continuar.</p>
		<input type="text" class="text-input" data-icon="ico-user" placeholder="Email" data-bind="value:user" data-i18n="[placeholder]views.home.loginCitizen.email">
		<button class="button block" data-bind="events: { click: send }" data-i18n="views.home.loginCitizen.send">Aceptar</button>
		<a href="#signin" data-i18n="views.home.loginCitizen.newuser">¿No eres usuario? Registrate</a>
	</form>
</div>
