<div id="notifications"
	 data-role="view"
	 data-i18n="[data-title]views.home.notifications.title"
	 data-title="Ajustes / Notificaciones"
	 data-layout="settings"
	 data-model="app.viewModels.views.home.notifications"
	 data-bind="events: { init: onViewInit, show: onViewShow }"
	>
	<ul data-role="listview"
		data-template="incidencias-list-template"
		data-bind="source: source, events { click: onSelect }"></ul>
</div>
