<div id="signin"
	 data-role="view"
	 data-layout="fullscreen"
	 data-model="app.viewModels.views.home.signin"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<p class="show-version"></p>
	<form class="login frame">
		<img src="content/imgs/logo.svg" alt="" class="logo">
		<input type="text" class="text-input" data-icon="ico-user" placeholder="Nombre" data-bind="value:profile.Nombre" data-i18n="[placeholder]views.home.signin.name" required>
		<input type="text" class="text-input" data-icon="ico-user" placeholder="Primer apellido" data-bind="value:profile.Apellido1" data-i18n="[placeholder]views.home.signin.lastname1" required>
		<input type="text" class="text-input" data-icon="ico-user" placeholder="Segundo Apellido" data-bind="value:profile.Apellido2" data-i18n="[placeholder]views.home.signin.lastname2" required>
		<input type="email" class="text-input" data-icon="ico-email" placeholder="Email" data-bind="value:profile.Email" data-i18n="[placeholder]views.home.signin.email" required>
		<input type="phone" class="text-input" data-icon="ico-phone" placeholder="Telefono" data-bind="value:profile.Telefono" data-i18n="[placeholder]views.home.signin.phone" required minlength="6" maxlength="12">
		<button class="button block" data-bind="events: { click: send }" data-i18n="views.home.signin.send">Aceptar</button>
	</form>
</div>
