<div id="inventory-createElemento"
	 data-role="view"
	 data-title="Inventario"
	 data-layout="default"
	 data-i18n="[data-title]views.inventario.create.title"
	 data-model="app.viewModels.views.inventory.createElemento"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader"><span data-i18n="views.inventario.create.subtitle">Nuevo elemento:</span> <span data-bind="text:model.TipoElemento"></span></h1>
		<div class="blank frame">
			<form class="regular-form" style="margin-top:0">
				<div data-permanent>
					<label data-i18n="views.inventario.create.tag">TAG:</label> <!-- "00400000035EAA79" -->
					<input class="form-input tag-input" data-bind="value:model.TAG" type="text" />
					<a href="#" data-bind="events:{ click: onReadTag }"><img src="content/imgs/icons/ico-tag-blue.png"/></a>
				</div>
				<div data-permanent>
					<label data-i18n="views.inventario.create.ref">Referencia:</label>
					<input class="form-input ref-input" data-bind="value:model.Referencia" type="text" />
				</div>
				<div data-permanent>
					<label data-i18n="views.inventario.create.typeObj">Tipo Objeto:</label>
					<span class="form-select">
							<select data-bind="source:tiposObjetos, value:TipoObjeto, events: { change: tiposObjetosChange }"
									data-text-field="TipoObjeto"
									data-value-field="IdTipoObjeto"
									class="select-tipos-objetos"
							>
							</select>
						</span>
				</div>
				<div data-permanent>
					<label data-i18n="views.inventario.create.province">Provincia:</label>
					<span class="form-select">
							<select data-bind="source:provincias, value:Provincia, events: { change: provinciaChange }"
									data-text-field="NombreProvincia"
									data-value-field="IdProvincia"
									class="select-provincias"
							>
							</select>
						</span>
				</div>
				<div data-permanent>
					<label data-i18n="views.inventario.create.city">Municipio:</label>
					<span class="form-select">
							<select data-bind="source:municipios, value:Municipio, events: { change: municipioChange }"
									data-text-field="NombreMunicipio"
									data-value-field="IdMunicipio"
									class="select-municipios"
									disabled
							>
							</select>
						</span>
				</div>
				<div class="urbajardin-only" data-permanent>
					<label data-i18n="views.inventario.create.district">Distrito:</label>
					<span class="form-select">
							<select data-bind="source:distritos, value:Distrito, events: { change: distritoChange }"
									data-text-field="Distrito"
									data-value-field="IdDistrito"
									class="select-distritos"
									disabled
							>
							</select>
						</span>
				</div>
				<div class="urbajardin-only" data-permanent>
					<label data-i18n="views.inventario.create.space">Espacio urbano:</label>
					<span class="form-select">
							<select data-bind="source:espaciosUrbanos, value:EspacioUrbano, events: { change: espacioChange }"
									data-text-field="EspacioUrbano"
									data-value-field="IdEspacioUrbano"
									class="select-espacios"
									disabled
							>
							</select>
						</span>
				</div>
				<div class="urbajardin-only" data-permanent>
					<label data-i18n="views.inventario.create.route">Zona/Ruta:</label>
					<span class="form-select">
							<select data-bind="source:zonas, value:Zona, events: { change: zonaChange }"
									data-text-field="Nombre"
									data-value-field="Id"
									class="select-zonas"
									disabled
							>
							</select>
							</span>
				</div>
				<div class="smartus-only" data-permanent>
					<label data-i18n="views.inventario.create.route">Area:</label>
					<span class="form-select">
							<select data-bind="source:areas, value:Area, events: { change: areaChange }"
									data-text-field="Area"
									data-value-field="IdArea"
									class="select-areas"
							>
							</select>
							</span>
				</div>
				<div data-permanent>
					<label data-i18n="views.inventario.create.lat">Lat:</label>
					<input id="inventory-lat" class="form-input ref-input" data-bind="value:model.Latitud" type="text" />
				</div>
				<div data-permanent>
					<label data-i18n="views.inventario.create.lng">Lon:</label>
					<input id="inventory-lng" class="form-input ref-input" data-bind="value:model.Longitud" type="text" />
				</div>
				<div data-permanent class="clearfix">
					<div class="fleft">
						<a href="#" class="button condensed" data-bind="events:{click: center2}" data-i18n="views.inventario.create.refresh">Refrescar</a>
					</div>
					<div class="fright">
						<a href="#inventory-mapsearchCreate" class="button condensed" data-i18n="views.inventario.create.viewmap">Ver en mapa</a>
					</div>
				</div>
			</form>
			<div class="clearfix">
				<div class="fleft">
					<a href="" class="button condensed" data-bind="events:{ click: onSaveAndDuplicate }" data-i18n="views.inventario.create.save2" >Guardar y duplicar</a>
				</div>
				<div class="fright">
					<a href="" class="button condensed" data-bind="events:{ click: onSave }" data-i18n="views.inventario.create.save" >Guardar</a>
				</div>
			</div>
		</div>
	</div>
</div>
