<div id="inventory-detailsElemento"
	 data-role="view"
	 data-title="Inventario"
	 data-i18n="[data-title]views.inventario.detail.title"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.detailsElemento"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader"><span data-i18n="views.inventario.detail.subtitle">Elemento</span> <span data-bind="text:model.NombreElemento"></span></h1>
	<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
		<li class="km-button" data-i18n="views.inventario.detail.general">General</li>
		<li class="km-button" data-i18n="views.inventario.detail.props">Propiedades</li>
		<li class="km-button" data-i18n="views.inventario.detail.picks" data-contenedor>Recogidas</li>
		<li class="km-button" data-i18n="views.inventario.detail.washes" data-contenedor>Lavados</li>
		<li class="km-button" data-i18n="views.inventario.detail.map">Mapa</li>
	</ul>

	<ul class="buttongroup-content inventory-details-list" data-role="listview" data-click="onEspacioClick">
		<li>
			<div class="inventory-details-list-item nombre-elemento">
				<span data-i18n="views.inventario.detail.name">Nombre:</span> <span data-bind="text:model.NombreElemento"></span>
				<div class="inventory-buttons">
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span data-i18n="views.inventario.detail.date">Fecha creación:</span> <span data-bind="text:model.FechaCreacion" data-format="dd/MM/yyyy"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span data-i18n="views.inventario.detail.tag">TAG:</span> <span data-bind="text:model.TAG"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item list-link provincia-elemento">
				<span data-i18n="views.inventario.detail.province">Provincia:</span> <span data-bind="text:model.provincia"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item list-link">
				<span data-i18n="views.inventario.detail.city">Municipio:</span> <span data-bind="text:model.municipio"></span>
			</div>
		</li>
		<li class="zona">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span data-i18n="views.inventario.detail.zone">Zona:</span> <span data-bind="text:model.Zona"></span>
			</div>
		</li>
		<li class="ruta">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span data-i18n="views.inventario.detail.route">Ruta:</span> <span data-bind="text:model.Ruta"></span>
			</div>
		</li>
		<li class="espacioUrbano">
			<div href="#inventory-results" class="inventory-details-list-item list-link km-listview-link">
				<span data-i18n="views.inventario.detail.space">Espacio urbano:</span>  <span data-bind="text:model.EspacioUrbano"></span>
			</div>
		</li>
		<li class="puntoRecogida">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span data-i18n="views.inventario.detail.point">Punto de recogida</span>
			</div>
		</li>
		<li class="contenedores">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span data-i18n="views.inventario.detail.containers">Contenedores</span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span data-i18n="views.inventario.detail.category">Categoría:</span> <span data-bind="text:model.tipoElemento"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span data-i18n="views.inventario.detail.type">Tipo:</span> <span data-bind="text:model.TipoObjeto"></span>
			</div>
		</li>
		<li data-role-visibility="Inventario.NuevoInventario">
			<div class="blank frame clearfix">
				<a class="block button" href="" data-bind="events:{ click: onReadTag }">
					<span data-i18n="views.inventario.detail.addtag">
						Añadir tag
					</span>
				</a>
				<a class="block button" href="" data-bind="events:{ click: onCreateIncidence }">
					<span data-i18n="views.home.index.new">
						Nueva incidencia
					</span>
				</a>
			</div>
		</li>
	</ul>
	<ul data-role="listview"
		data-template="inventory-properties-template"
		data-bind="source: campos"
		class="buttongroup-content inventory-details-list properties-list"
	></ul>
	<script id="inventory-properties-template" type="text/x-kendo-template">
			<div class="inventory-details-list-item" data-definition="#=Definicion.IdTipoElementoCampo#" data-name="#=Nombre#">
				<span>${Nombre}:</span><span data-value="#=Valor#">
				# if (Definicion.TipoDato == "FECHA"){ #
					#= kendo.toString(new Date(Valor), "dd/MM/yyyy")#
				# } else if (Definicion.TipoDato == "FICHERO" && (Valor.indexOf("mime=image/jpeg") > -1 || Valor.indexOf("mime=image/png") > -1)){ #
					<img src="${Valor}"/>
				# } else if (Definicion.TipoDato == "FICHERO"){ #
					${"Fichero descargable"}
				# } else if (Definicion.TipoDato == "BOOLEANO"){ #
					${Valor ? "Si" : "No"}
				# } else { #
					${Valor}
				# } #</span>
				<div class="inventory-buttons">
					# if (Definicion.TipoDato == "FICHERO"){ #
					<a href="${Valor}" download><img src="content/imgs/icons/ico-document-blue.png"/></a>
					# } #
					# if (!Definicion.SoloLectura){ #
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
					# } #
				</div>
			</div>
	</script>
	<div class="buttongroup-content">
		<!--
		Aqui iria el input fecha para filtrar
		-->
		<ul class="inventory-details-list"
			data-template="inventory-recogidas-template"
			data-bind="source: recogidas"
			data-role="listview">
		</ul>
	</div>
	<script id="inventory-recogidas-template" type="text/x-kendo-template">
		<div class="inventory-details-list-item">
			<p>${Fecha}</p>
			<p>${Recurso}</p>
			<p>${PuntoRecogida}</p>
			<p>${Ubicacion}</p>
		</div>
	</script>
	<ul class="buttongroup-content inventory-details-list"
		data-template="inventory-lavados-template"
		data-bind="source: lavados"
		data-role="listview">
	</ul>
	<script id="inventory-lavados-template" type="text/x-kendo-template">
		<div class="inventory-details-list-item">
			<p>${Fecha}</p>
			<p>${Recurso}</p>
			<p>${PuntoRecogida}</p>
			<p>${Ubicacion}</p>
		</div>
	</script>
	<div class="buttongroup-content">
		<div id="inventory-element-detail-map"></div>
	</div>
</div>
