<div id="inventory-mapsearch"
	 data-i18n="[data-title]views.inventario.mapsearch.title"
	 data-title="Localizar en mapa"
	 data-role="view"
	 data-layout="inventory-map-filter"
	 data-model="app.viewModels.views.inventory.mapsearch"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
	>
	<div id="inventory-search-map"></div>
	<div id="inventory-search-map-search-box" class="map-search-box">
		<input type="search" data-i18n="[placeholder]views.inventario.mapsearch.placeholder" id="inventory-search-map-search" /><span></span>
	</div>

	<a id="botonCentrar" href="#" data-bind="events:{click:center}" class="map-button">
		<img src="content/imgs/map-current-location.svg">
	</a>
	<a id="botonBuscar" href="#" data-bind="events:{click:find}" class="button" data-i18n="views.inventario.mapsearch.button">
		Buscar en esta zona
	</a>
	<script type="text/x-kendo-template" id="inventory-marker-template">
		<div data-index="#=index#">
			<a class="viewmoreinmap">
				<p>#=TipoElemento#</p>
				<p>#=TipoObjeto#</p>
				<p>#=Direccion#</p>
			</a>
		</div>
	</script>

</div>
