<div id="inventory-mapsearchCreate"
	 data-i18n="[data-title]views.inventario.mapsearch.title"
	 data-title="Localizar en mapa"
	 data-role="view"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.mapsearchCreate"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
	>
	<div id="inventory-create-map2"></div>
	<div id="inventory-create-map-search-box2" class="map-search-box">
		<input type="search" id="inventory-create-map-search2" data-i18n="[placeholder]views.inventario.mapsearch.placeholder" /><span></span>
	</div>
	<div id="inventory-create-map-buttons2" class="map-buttons">
		<a href="#" data-bind="events:{click:center}"><img src="content/imgs/map-current-location.svg"></a>
		<a href="#" id="map-switch-add2" data-bind="events:{click:switchAdd}"><img src="content/imgs/map-add-location.svg"></a>
		<a href="#" data-bind="events:{click:showHelp}"><img src="content/imgs/map-help.svg"></a>
	</div>

</div>
