<div id="inventory-readTag"
	 data-role="view"
	 data-title="Inventario"
	 data-i18n="[data-title]views.inventario.readTag.title"
	 data-layout="default"
	 class="inventory-module"
	 data-model="app.viewModels.views.inventory.readTag"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<h1 class="subheader" data-i18n="views.inventario.detail.read">Leer etiqueta</h1>
	<div class="home frame text-center">
		<div class="inventory-read-img">
			<img src="content/imgs/icons/ico-read-big.png" style="width:70px;"/>
		</div>
		<p class="inventory-read-msg" data-i18n="views.inventario.detail.detected">Elemento detectado:<br/>
			<span data-i18n="views.inventario.detail.point">Punto de recogida.</span></p>
		<a href="" class="button block">Detalles</a>
		<a href="" class="button block incidence">Asignación incidencia</a>
		<a href="" class="button block">Reubicar en posición actual</a>
	</div>
</div>
