<div id="inventory-results"
	 data-role="view"
	 data-title="Inventario"
	 data-i18n="[data-title]views.inventario.results.title"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.results"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader">
	<span data-i18n="views.inventario.results.subtitle">Resultados</span> (<span data-bind="text:totalMostrar"></span>)</h1>
	<h2 class="no-result" data-i18n="views.inventario.results.noresults">No hay resultados para esta búsqueda</h2>
	<h2 class="no-conection" data-i18n="views.modals.noOffline.text">En este momento no hay conexión a internet.</h2>
	<ul class="inventory-list"
		data-role="listview"
		data-endless-scroll="true"
		data-template="inventory-list-template"
		data-bind="source: source, events { click: onSelect }">
	</ul>
	<script id="inventory-list-template" type="text/x-kendo-template">
		<a href="\\#inventory-detailsElemento" class="inventory-list-item">
			<div>${TipoElemento}</div>
			<div>${TipoObjeto}</div>
			<div>
			# if (CamposValor.Dirección) { # ${CamposValor.Dirección} # } #
			# if (CamposValor.Dirección) { # ${CamposValor.Número} # } #
			# if (CamposValor.Dirección) { # ${CamposValor["Código Postal"]} # } #
			</div>
		</a>
	</script>
</div>
