<div id="inventory-search"
	 data-role="view"
	 data-title="Inventario"
	 data-i18n="[data-title]views.inventario.search.title"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.search"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader" data-i18n="views.inventario.search.subtitle">Consultar inventario</h1>

	<div class="blank frame">

		<div class="inventory-category">
			
			<ul class="buttongroup slim-tab-strip km-tabstrip">
				<li class="km-button" data-i18n="views.inventario.search.props">Propiedades</li>
				<li class="km-button" data-i18n="views.inventario.search.location">Jerarquía</li>
			</ul>

			<form class="regular-form">
				<div data-permanent>
					<label data-i18n="views.inventario.search.cats">Categorías:</label>
					<span class="form-select">
						<select class="select-inventory-categories"
							data-bind="source:tiposElementos,events: { change: tipoChange }"
							data-text-field="Tipo"
							data-value-field="IdTipoElemento"
							data-option-label="Prueba"
						>
							<option value="" disabled selected data-i18n="views.inventario.search.select">Elegir categoría</option>
						</select>
					</span>
				</div>
			</form>

			<div class="cat-1">
				<!-- Propiedades -->
				<form class="regular-form buttongroup-content">
					<div data-permanent>
						<label data-i18n="views.inventario.search.tag">TAG:</label> <!-- "00400000035EAA79" -->
						<input class="form-input tag-input" data-bind="value:model.TAG" type="text" />
					</div>
					<div data-permanent>
						<label data-i18n="views.inventario.search.ref">Referencia:</label>
						<input class="form-input ref-input" data-bind="value:model.Referencia" type="text" />
					</div>
				</form>
				<!-- Jerarquia -->
				<form class="regular-form buttongroup-content" style="display: none;">
					<div>
						<label data-i18n="views.inventario.search.province">Provincia:</label>
						<span class="form-select">
						<select data-bind="source:provincias, value:model.Provincia, events: { change: provinciaChange }"
								data-text-field="NombreProvincia"
								data-value-field="IdProvincia"
								class="select-provincias"
						>
						</select>
					</span>
					</div>
					<div>
						<label data-i18n="views.inventario.search.city">Municipio:</label>
						<span class="form-select">
						<select data-bind="source:municipios, value:model.Municipio, events: { change: municipioChange }"
								data-text-field="NombreMunicipio"
								data-value-field="IdMunicipio"
								class="select-municipios"
								disabled
						>
						</select>
					</span>
					</div>
					<div class="urbajardin-only">
						<label data-i18n="views.inventario.search.district">Distrito:</label>
						<span class="form-select">
						<select data-bind="source:distritos, value:model.Distrito, events: { change: distritoChange }"
								data-text-field="Distrito"
								data-value-field="IdDistrito"
								class="select-distritos"
								disabled
						>
						</select>
					</span>
					</div>
					<div class="urbajardin-only">
						<label data-i18n="views.inventario.search.space">Espacio urbano:</label>
						<span class="form-select">
						<select data-bind="source:espaciosUrbanos, value:model.EspacioUrbano, events: { change: espacioChange }"
								data-text-field="EspacioUrbano"
								data-value-field="IdEspacioUrbano"
								class="select-espacios"
								disabled
						>
						</select>
					</span>
					</div>
					<div class="urbajardin-only">
						<label data-i18n="views.inventario.search.route">Zona/Ruta:</label>
						<span class="form-select">
						<select data-bind="source:zonas, value:model.Zona, events: { change: zonaChange }"
								data-text-field="Nombre"
								data-value-field="Id"
								class="select-zonas"
								disabled
						>
						</select>
						</span>
					</div>
					<div class="smartus-only">
						<label data-i18n="views.inventario.search.area">Área:</label>
						<span class="form-select">
						<select data-bind="source:areas, value:model.Area, events: { change: areaChange }"
								data-text-field="Area"
								data-value-field="IdArea"
								class="select-areas"
						>
						</select>
						</span>
					</div>
				</form>

			</div>
			<a class="block button" href="#inventory-results" data-bind="events:{ click: onBuscar }"  data-i18n="views.inventario.search.search">Buscar</a>
			<a class="block button" href="#inventory-results" data-bind="events:{ click: onReset }"  data-i18n="views.inventario.search.reset">Restablecer</a>
		</div>

	</div>
</div>
