<section data-role="layout" data-id="default" data-show="onInit">
	<header data-role="header">
		<div data-role="navbar" class=".navbar">
			<a data-align="left" class="navbar-button back" data-role="backbutton"></a>
			<span data-role="view-title"></span>
			<a href="#filtrosDrawer"
			   data-role="button"
			   data-align="right"
			   class="navbar-button search"
			   data-rel="drawer"
				></a>
			<a href=""
			   data-role="button"
			   data-align="right"
			   class="navbar-button search-floats"
			></a>
			<a href="#planning-edit"
			   data-role="button"
			   data-align="right"
			   class="navbar-button edit-planning-btn"
			   data-role-visibility="Planificación.ModificarOT"
			></a>
			<a href=""
			   data-align="right"
			   class="navbar-button search-btn"
			></a>
		</div>
	</header>
</section>
