<section data-role="layout" data-id="default-burger">
	<header data-role="header">
		<div data-role="navbar" class=".navbar">
			<a href="#mainMenuDrawer"
			   data-role="button"
			   data-align="left"
			   class="navbar-button burger"
			   data-rel="drawer"
			></a>
			<span data-role="view-title"></span>
		</div>
	</header>
	<!--View content will render here-->
</section>
