<section data-role="layout" data-id="floats-alarms-filter" data-show="onInit">
	<header data-role="header">
		<div data-role="navbar" class=".navbar">
			<a data-align="left" class="navbar-button back" data-role="backbutton"></a>
			<span data-role="view-title"></span>
			<a href="#filtrosDrawer"
			   data-role="button"
			   data-align="right"
			   class="navbar-button search"
			   data-rel="drawer"
				></a>
			<a href=""
			   data-role="button"
			   data-align="right"
			   class="navbar-button search-floats"
			></a>
			<a href="#planning-edit"
			   data-role="button"
			   data-align="right"
			   class="navbar-button edit-planning-btn"
			   data-role-visibility="Planificación.ModificarOT"
			></a>
			<a href=""
			   data-align="right"
			   class="navbar-button search-btn"
			></a>
		</div>

		<div id="alarms-filter" class="vehicles-filter">
			<div class="vehicles-filter-content">
				<form class="regular-form full-width text-left">
					<label data-i18n="layouts.floatsfilter.alarmType">Tipo de alarma</label>
					<span class="form-select">
					<select class="select-tipoAlarma"
							data-bind="source: tiposAlarmas, value: filter.TipoAlarma"
							data-text-field="TipoAlarma"
							data-value-field="IdTipoAlarma"
					></select>
				</span>
					<label data-i18n="layouts.floatsfilter.criticLevel">Nivel de criticidad</label>
					<span class="form-select">
					<select class="select-criticidad"
							data-bind="source: nivelesCriticidad, value: filter.NivelCriticidad"
							data-text-field="Nombre"
							data-value-field="Codigo"
					></select>
				</span>
					<label data-i18n="layouts.floatsfilter.from">Desde:</label>
					<input class="form-input fecha-desde" type="datetime-local" data-bind="date:filter.FechaDesde" data-format="dd/MM/yyyy HH:mm" />
					<label data-i18n="layouts.floatsfilter.to">Hasta:</label>
					<input class="form-input fecha-hasta" type="datetime-local" data-bind="date:filter.FechaHasta" data-format="dd/MM/yyyy HH:mm" />

					<div class="buttons">
						<a class="button condensed fright ok-btn" data-i18n="layouts.floatsfilter.ok">Ok</a>
						<a class="button condensed grey reset-btn" data-i18n="layouts.floatsfilter.reset">Restablecer</a>
					</div>
				</form>
			</div>
		</div>
	</header>


</section>
