<section data-role="layout" data-id="inventory-map-filter" data-show="onInit">
	<header data-role="header">
		<div data-role="navbar" class=".navbar">
			<a data-align="left" class="navbar-button back" data-role="backbutton"></a>
			<span data-role="view-title"></span>
			<a href=""
			   data-align="right"
			   class="navbar-button search-btn2"
			></a>
		</div>
		<div id="modal-selectFilterMap" class="map-filter">
			<div class="map-filter-content">
				<form class="regular-form full-width text-left">
					<label>
						<input type="checkbox" value=true data-bind="checked: cbox_contenedor_value, events: { change: onChange }" id="cbox_contenedor">
						<img src="content/imgs/icons/ico-dumpster-small.png">
					</label>
					<label>
						<input type="checkbox" value=true data-bind="checked: cbox_ptorecogida_value, events: { change: onChange }" id="cbox_ptorecogida">
						<img src="content/imgs/icons/ico-point-small.png">
					</label>
					<label>
						<input type="checkbox" value=true data-bind="checked: cbox_papelera_value, events: { change: onChange }" id="cbox_papelera">
						<img src="content/imgs/icons/ico-trash-small.png">
					</label>

					<div class="buttons">
						<a class="button condensed fright ok-btn" data-i18n="layouts.floatsfilter.ok" data-bind="events:{click:apply}">Ok</a>
					</div>
				</form>
			</div>
		</div>

	</header>
</section>
