<div data-role="drawer"
	 id="mainMenuDrawer"
	 data-model="app.viewModels.views.mainMenuDrawer"
	 data-swipe-to-open="false"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 data-position="left">
	<header data-role="header" class="header">
		<a href="#notifications" class="user-info"><span class="name">Usuario ficticio</span><span class="baloon">0</span></a>
		<div class="contract">Contrato DDMO</div>
	</header>
	<section class="drawer-content">
		<ul data-role="listview" class="navigation-menu-list" id="main-menu-list">
			<li><a href="#incidencias-home" class="incidences" data-i18n="views.incidencias.index.title" data-role-visibility="Incidencias">Incidencias</a></li>
			<li><a href="#inventory-index" class="inventory" data-i18n="views.inventario.index.title" data-role-visibility="Inventario">Inventario</a></li>
			<li><a href="#planning-index" class="planning" data-i18n="views.planificacion.index.title" data-role-visibility="Planificación">Planificación</a></li>
			<li><a href="#floats-index" class="floats" data-i18n="views.floats.index.title" data-role-visibility="Flota">Control de flotas</a></li>
		</ul>
		<ul data-role="listview" class="tools-menu-list" id="tools-menu-list">
			<li><a href="#languages" class="language" data-i18n="views.home.settings.language">Cambiar idioma</a></li>
			<li><a href="#contracts" class="contract" data-i18n="views.home.settings.contract">Cambiar contrato</a></li>
			<li><a href="#home-tagReaderSelector" data-i18n="views.home.settings.tagconfig" class="tag">Configurar lector de TAG</a></li>
			<li><a href="#login" class="close-session" data-i18n="views.home.settings.logout" onclick="return window.confirm('¿Seguro que quieres cerrar la sesión de usuario?')">Cerrar sesión</a></li>
		</ul>
	</section>
	<footer data-role="footer" class="footer">
		<div class="version">Version</div>
	</footer>
</div>
