<section data-role="layout" data-id="settings" data-show="onInit">
	<header data-role="header">
		<div data-role="navbar" class=".navbar">
			<a data-align="left" class="navbar-button back" data-role="backbutton"></a>
			<span data-role="view-title"></span>
			<a href="#login" data-align="right" class="navbar-button exit" id="exit-button"></a>
		</div>
	</header>
	<!--View content will render here-->
</section>
