<div id="planning-edit"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-i18n="[data-title]views.planificacion.index.title"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.edit"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 class="subheader" data-i18n="views.planificacion.edit.newOT1">Nueva OT/Datos generales</h1>
	<div class="blank frame">
		<ul class="planning-create-steps urbajardin-only">
			<li class="step-selected"><span></span></li>
			<li><span></span></li>
			<li><span></span></li>
			<li><span></span></li>
		</ul>
		<ul class="planning-create-steps smartus-only">
			<li class="step-selected"><span></span></li>
			<li><span></span></li>
			<li><span></span></li>
			<li><span></span></li>
			<li><span></span></li>
		</ul>

		<form class="regular-form">
			<div>
				<label data-i18n="views.planificacion.edit.date">Fecha:</label>
				<input class="form-input servicio-fecha" type="date" data-bind="events: { change: fechaOTChange }" />
			</div>
			<div class="edit-only">
				<label data-i18n="views.planificacion.edit.state">Estado:</label>
				<span class="form-select">
					<select data-bind="source:tables.estadosOT, value:model.IdEstadoOT, events: { change: estadoChange }"
							data-text-field="Estado"
							data-value-field="IdEstado"
							class="select-estados"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.edit.serviceType">Tipo de <br/>servicio:</label>
				<span class="form-select">
					<select data-bind="source:tables.tiposServicio, value:model.DatosServicio.IdTipoServicio, events: { change: tiposServicioChange }"
							data-text-field="TipoServicio"
							data-value-field="IdTipoServicio"
							class="select-tiposServicio"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.edit.service">Servicio:</label>
				<span class="form-select">
					<select data-bind="source:services, value:service, events: { change: serviciosChange }"
							data-text-field="Servicio"
							data-value-field="IdServicio"
							class="select-servicios"
							disabled
					>
					</select>
				</span>
			</div>

			<a class="block button goToStep2" data-i18n="views.planificacion.edit.next" href="#planning-editService">Siguiente</a>

		</form>
	</div>
</div>
