<div id="planning-locationSelect"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-i18n="[data-title]views.planificacion.index.title"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.locationSelect"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>

	<h1 class="subheader" data-i18n="views.planificacion.edit.newOT3">Nueva OT/Localizaciones</h1>
	<div class="blank frame">

		<form class="regular-form">

			<div>
				<label data-i18n="views.planificacion.locations.zone">Zona:</label>
				<span class="form-select disabled">
					<select class="select-zonas"
							data-bind="source:zonas, value:model.ZonaAdmv, events: { change: zonaAdminChange }"
							data-text-field="ZonaAdministrativa"
							data-value-field="IdZonaAdministrativa"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.locations.route">Ruta/Sector:</label>
				<span class="form-select disabled">
					<select class="select-rutasSector"
							data-bind="source:rutas,value:model.RutaSector"
							data-text-field="Nombre"
							data-value-field="IdRutaSector"
							disabled
					>
					</select>
				</span>
			</div>
			<a class="block button add-location" data-i18n="views.planificacion.locations.add">Añadir</a>
		</form>
	</div>
</div>
