<div id="planning-results"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-i18n="[data-title]views.planificacion.index.title"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.results"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>
	<h1 data-i18n="views.planificacion.search.consult" class="subheader">Consultar</h1>

	<ul class="planning-list"data-role="listview"
		data-endless-scroll="true"
		data-template="planning-results-list-template"
		data-bind="source: model, events { click: goToDetails }">
	</ul>

	<script id="planning-results-list-template" type="text/x-kendo-template">
			# if (IdEstadoOT == 1){ #
			<a href="" class="planning-list-item km-listview-link goToDetails green">
			# } else if (IdEstadoOT == 2) { #
			<a href="" class="planning-list-item km-listview-link goToDetails red">
			# } else { #
			<a href="" class="planning-list-item km-listview-link goToDetails">
			# } #
			<div class=""></div>
			<div class="text">
				<p class="name">Código #= (CodigoOT) ? CodigoOT : "(sin asignar)" # (#= kendo.toString(kendo.parseDate(FechaOT), "dd/MM/yyyy") #)</p>
				<p class="description">${DatosServicio.Servicio} en ${localizacion()}</p>
			</div>
		</a>
	</script>
</div>
