<div id="planning-search"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-i18n="[data-title]views.planificacion.index.title"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.search"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<h1 class="subheader" data-i18n="views.planificacion.search.consult">Consultar</h1>

	<div class="blank frame">

		<ul class="buttongroup slim-tab-strip km-tabstrip">
			<li class="km-button" data-i18n="views.planificacion.search.props">Propiedades</li>
			<li class="km-button" data-i18n="views.planificacion.search.location">Ubicación</li>
		</ul>

		<!-- Propiedades -->
		<form class="regular-form buttongroup-content">
			<div>
				<label data-i18n="views.planificacion.search.fromDate">Desde <br/>fecha:</label>
				<input class="form-input fecha-desde" type="date" data-bind="date:model.FechaDesde" data-format="dd/MM/yyyy HH:mm" />
			</div>
			<div>
				<label data-i18n="views.planificacion.search.toDate">Hasta <br/>fecha:</label>
				<input class="form-input fecha-hasta" type="date" data-bind="date:model.FechaHasta" data-format="dd/MM/yyyy HH:mm" />
			</div>
			<div>
				<label data-i18n="views.planificacion.search.idOT">Identificador <br/>OT:</label>
				<input class="form-input" type="text" data-bind="value:model.IdentificadorOT" />
			</div>
			<div>
				<label data-i18n="views.planificacion.search.idService">Identificador <br/>de servicio:</label>
				<input class="form-input" type="text" data-bind="value:model.IdentificadorServicio" />
			</div>
			<div>
				<label data-i18n="views.planificacion.search.serviceType">Tipo de <br/>servicio:</label>
				<span class="form-select">
					<select data-bind="source:tiposServicio, value:model.TipoServicio, events: { change: tiposServicioChange }"
							data-text-field="TipoServicio"
							data-value-field="IdTipoServicio"
							class="select-tiposServicio"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.search.serviceDescription">Descripción <br/>de servicio:</label>
				<input class="form-input" type="text" data-bind="value:model.DescripcionServicio" />
			</div>
		</form>
		<!-- Ubicación -->
		<form class="regular-form buttongroup-content" style="display: none;">
			<div>
				<label data-i18n="views.planificacion.search.province">Provincia:</label>
				<span class="form-select">
					<select data-bind="source:provincias, value:model.Provincia, events: { change: provinciaChange }"
							data-text-field="NombreProvincia"
							data-value-field="IdProvincia"
							class="select-provincias"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.search.town">Municipio:</label>
				<span class="form-select disabled">
					<select data-bind="source:municipios, value:model.Municipio, events: { change: municipioChange }"
							data-text-field="NombreMunicipio"
							data-value-field="IdMunicipio"
							class="select-municipios"
							disabled
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.search.district">Distrito:</label>
				<span class="form-select disabled">
					<select class="select-distritos"
					   data-bind="source:inventory.distritos,value:model.Distrito, events: { change: distritoChange }"
					   data-text-field="Distrito"
					   data-value-field="IdDistrito"
					   disabled
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.search.urban">E. urbano:</label>
				<span class="form-select disabled">
					<select class="select-espacios"
					  data-bind="source:inventory.espaciosUrbanos, value:model.EspacioUrbano, events: { change: espacioUrbanoChange }"
					  data-text-field="EspacioUrbano"
					  data-value-field="IdEspacioUrbano"
					  disabled
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.search.zoneRoute">Zona/Ruta:</label>
				<span class="form-select disabled">
					<select class="select-zonas"
						data-bind="source:inventory.zonas,value:model.ZonaRuta, events: { change: zonaChange }"
						data-text-field="Nombre"
						data-value-field="Id"
						disabled
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.search.elementTypes">Tipos de <br/>Elementos:</label>
				<span class="form-select">
					<select class="select-tiposElementos"
							data-bind="source:tiposElementos,value:model.TipoElemento, events: { change: tipoElementoChange }"
							data-text-field="Tipo"
							data-value-field="IdTipoElemento"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.search.elements">Elementos:</label>
				<span class="form-select disabled">
					<select class="select-elementos"
							data-bind="source:elementos,value:model.Elemento, events: { change: elementoChange }"
							data-text-field="NombreElemento"
							data-value-field="IdElemento"
							disabled
					>
					</select>
				</span>
			</div>
		</form>
		<a class="block button send-query" data-i18n="views.planificacion.search.searchBtn" href="#planning-results">Buscar</a>
		<a class="block button reset" data-i18n="views.planificacion.search.resetBtn" href="#planning-results">Restablecer</a>
	</div>
</div>
