<div id="planning-tasksSelect"
	 data-role="view"
	 class="planning-module"
	 data-layout="default"
	 data-i18n="[data-title]views.planificacion.index.title"
	 data-title="Planificación"
	 data-model="app.viewModels.views.planning.tasksSelect"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
>

	<h1 class="subheader" data-i18n="views.planificacion.edit.newOT2">Nueva OT/Tareas</h1>
	<div class="blank frame">
		<form class="regular-form">

			<div>
				<label data-i18n="views.planificacion.tasks.task">Tarea:</label>
				<span class="form-select">
					<select data-bind="source:tables.tareasServicio, value:model.Tarea, events: { change: tareaChange }"
							data-text-field="Tarea"
							data-value-field="IdTarea"
							class="select-tareas"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.tasks.district">Distrito:</label>
				<span class="form-select">
					<select class="select-distritos"
							data-bind="source:inventory.distritos,value:model.Distrito, events: { change: distritoChange }"
							data-text-field="Distrito"
							data-value-field="IdDistrito"
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.tasks.urban">E. urbano:</label>
				<span class="form-select disabled">
					<select class="select-espacios"
							data-bind="source:inventory.espaciosUrbanos, value:model.EspacioUrbano, events: { change: espacioUrbanoChange }"
							data-text-field="EspacioUrbano"
							data-value-field="IdEspacioUrbano"
							disabled
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.tasks.zone">Zona/Ruta:</label>
				<span class="form-select disabled">
					<select class="select-zonas"
							data-bind="source:inventory.zonas,value:model.ZonaRuta, events: { change: zonaChange }"
							data-text-field="Nombre"
							data-value-field="Id"
							disabled
					>
					</select>
				</span>
			</div>
			<div>
				<label data-i18n="views.planificacion.tasks.elements">Elementos:</label>
				<span class="form-select disabled">
					<select class="select-elementos"
							data-bind="source:elementos,value:model.Elemento, events: { change: elementoChange }"
							data-text-field="NombreElemento"
							data-value-field="IdElemento"
							disabled
					>
					</select>
				</span>
			</div>
			<a class="block button add-task" data-i18n="views.planificacion.tasks.add">Añadir</a>
		</form>
	</div>
</div>
