<div id="inventory-createPuntoRecogida"
	 data-role="view"
	 data-title="Inventario"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.createPuntoRecogida"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader">Nuevo punto de recogida</h1>
	<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
		<li class="km-button">Propiedades</li>
		<li class="km-button">Ubicación</li>
	</ul>

	<ul class="buttongroup-content inventory-details-list" data-role="listview">
		<li>
			<div class="inventory-details-list-item">
				<span>Referencia:</span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Área:</span> Área lorem ipsum dolor
				<div class="inventory-buttons">
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Provincia:</span>
				<div class="inventory-buttons">
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Municipio:</span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>CP:</span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Dirección:</span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Número:</span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Observaciones:</span>
			</div>
		</li>
		<li>
			<div class="blank frame">
				<div class="clearfix">
					<div class="fleft">
						<a href="" class="button condensed">Guardar y duplicar</a>
					</div>
					<div class="fright">
						<a href="" class="button condensed">Guardar</a>
					</div>
				</div>
			</div>
		</li>
	</ul>

	<div class="blank frame buttongroup-content" style="display: none;">

	</div>
</div>
