<div id="inventory-createElemento"
	 data-role="view"
	 data-title="Inventario"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.createElemento"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader">Nuevo elemento: <span data-bind="text:model.TipoElemento"></span></h1>
		<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
			<li class="km-button">Propiedades</li>
			<li class="km-button">Ubicación</li>
		</ul>
		<div class="buttongroup-content blank frame">
			<form class="regular-form" style="margin-top:0">
				<div data-permanent>
					<label>TAG:</label> <!-- "00400000035EAA79" -->
					<input class="form-input tag-input" data-bind="value:model.TAG" type="text" />
					<a href="#" data-bind="events:{ click: onReadTag }"><img src="content/imgs/icons/ico-tag-blue.png"/></a>
				</div>
				<div data-permanent>
					<label>Referencia:</label>
					<input class="form-input ref-input" data-bind="value:model.Referencia" type="text" />
				</div>
				<div data-permanent>
					<label>Provincia:</label>
					<span class="form-select">
							<select data-bind="source:provincias, value:Provincia, events: { change: provinciaChange }"
									data-text-field="NombreProvincia"
									data-value-field="IdProvincia"
									class="select-provincias"
							>
							</select>
						</span>
				</div>
				<div data-permanent>
					<label>Municipio:</label>
					<span class="form-select">
							<select data-bind="source:municipios, value:Municipio, events: { change: municipioChange }"
									data-text-field="NombreMunicipio"
									data-value-field="IdMunicipio"
									class="select-municipios"
									disabled
							>
							</select>
						</span>
				</div>
				<div class="urbajardin-only" data-permanent>
					<label>Distrito:</label>
					<span class="form-select">
							<select data-bind="source:distritos, value:Distrito, events: { change: distritoChange }"
									data-text-field="Distrito"
									data-value-field="IdDistrito"
									class="select-distritos"
									disabled
							>
							</select>
						</span>
				</div>
				<div class="urbajardin-only" data-permanent>
					<label>Espacio urbano:</label>
					<span class="form-select">
							<select data-bind="source:espaciosUrbanos, value:EspacioUrbano, events: { change: espacioChange }"
									data-text-field="EspacioUrbano"
									data-value-field="IdEspacioUrbano"
									class="select-espacios"
									disabled
							>
							</select>
						</span>
				</div>
				<div class="urbajardin-only" data-permanent>
					<label>Zona/Ruta:</label>
					<span class="form-select">
							<select data-bind="source:zonas, value:Zona, events: { change: zonaChange }"
									data-text-field="Nombre"
									data-value-field="Id"
									class="select-zonas"
									disabled
							>
							</select>
							</span>
				</div>
				<div class="smartus-only" data-permanent>
					<label>Area:</label>
					<span class="form-select">
							<select data-bind="source:areas, value:Area, events: { change: areaChange }"
									data-text-field="Area"
									data-value-field="IdArea"
									class="select-areas"
							>
							</select>
							</span>
				</div>
			</form>
			<div class="clearfix">
				<div class="fleft">
					<a href="" class="button condensed" data-bind="events:{ click: onSaveAndDuplicate }" >Guardar y duplicar</a>
				</div>
				<div class="fright">
					<a href="" class="button condensed" data-bind="events:{ click: onSave }" >Guardar</a>
				</div>
			</div>
		</div>
		<div class="buttongroup-content blank frame">
			<div id="inventory-create-map"></div>
			<div id="inventory-create-map-search-box" class="map-search-box"><input type="search" id="inventory-create-map-search" /><span></span></div>
			<div id="inventory-create-map-buttons" class="map-buttons">
				<a href="#" data-bind="events:{click:center}"><img src="content/imgs/map-current-location.svg"></a>
				<a href="#" id="map-switch-add" data-bind="events:{click:switchAdd}"><img src="content/imgs/map-add-location.svg"></a>
				<a href="#" data-bind="events:{click:showHelp}"><img src="content/imgs/map-help.svg"></a>
			</div>
		</div>
</div>
