<div id="inventory-create"
	 data-role="view"
	 data-title="Inventario"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.create"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader">Nuevo elemento</h1>
	<ul class="buttongroup-content inventory-details-list"
		data-role="listview"
		data-template="create-new-inventory-item-list-template"
		data-bind="source: source">
		<script id="create-new-inventory-item-list-template" type="text/x-kendo-template">
			<div class="inventory-details-list-item">
				#=Tipo#
				<div class="inventory-buttons">
					<a href="\\#inventory-createElemento?tipo=#=IdTipoElemento#" class="edit-button"><img src="content/imgs/icons/ico-plus-circle-blue.png"/></a>
				</div>
			</div>
		</script>
	</ul>
</div>
