<div id="inventory-detailsElemento"
	 data-role="view"
	 data-title="Inventario"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.detailsElemento"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader">Elemento <span data-bind="text:model.NombreElemento"></span></h1>
	<ul class="buttongroup slim-tab-strip km-tabstrip" style="padding: 21px;">
		<li class="km-button">General</li>
		<li class="km-button">Propiedades</li>
		<li class="km-button">Mapa</li>
	</ul>

	<ul class="buttongroup-content inventory-details-list" data-role="listview" data-click="onEspacioClick">
		<li>
			<div class="inventory-details-list-item nombre-elemento">
				<span>Nombre:</span> <span data-bind="text:model.NombreElemento"></span>
				<div class="inventory-buttons">
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Fecha creación:</span> <span data-bind="text:model.FechaCreacion" data-format="dd/MM/yyyy"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>TAG:</span> <span data-bind="text:model.TAG"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item list-link provincia-elemento">
				<span>Provincia:</span> <span data-bind="text:model.provincia"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item list-link">
				<span>Municipio:</span> <span data-bind="text:model.municipio"></span>
			</div>
		</li>
		<li class="zona">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span>Zona:</span> <span data-bind="text:model.Zona"></span>
			</div>
		</li>
		<li class="ruta">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span>Ruta:</span> <span data-bind="text:model.Ruta"></span>
			</div>
		</li>
		<li class="espacioUrbano">
			<div href="#inventory-results" class="inventory-details-list-item list-link km-listview-link">
				<span>Espacio urbano:</span>  <span data-bind="text:model.EspacioUrbano"></span>
			</div>
		</li>
		<li class="puntoRecogida">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span>Punto de recogida</span>
			</div>
		</li>
		<li class="contenedores">
			<div href="" class="inventory-details-list-item list-link km-listview-link">
				<span>Contenedores</span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Categoría:</span> <span data-bind="text:model.tipoElemento"></span>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Tipo:</span> <span data-bind="text:model.TipoObjeto"></span>
			</div>
		</li>
		<li>
			<div class="blank frame clearfix">
				<div class="fright">
					<a href="" class="button icon" data-bind="events:{ click: onReadTag }" data-role-visibility="Inventario.ModificarInventario">Añadir tag <span class="button-icon end"><img src="content/imgs/icons/ico-tag.png"/></span></a>
				</div>
			</div>
		</li>
	</ul>
	<ul data-role="listview"
		data-template="inventory-properties-template"
		data-bind="source: campos"
		class="buttongroup-content inventory-details-list properties-list"
	></ul>

	<script id="inventory-properties-template" type="text/x-kendo-template">
			<div class="inventory-details-list-item" data-definition="#=Definicion.IdTipoElementoCampo#" data-name="#=Nombre#">
				<span>${Nombre}:</span><span data-value="#=Valor#">
				# if (Definicion.TipoDato == "FECHA"){ #
					#= kendo.toString(new Date(Valor), "dd/MM/yyyy")#
				# } else if (Definicion.TipoDato == "FICHERO" && (Valor.indexOf("mime=image/jpeg") > -1 || Valor.indexOf("mime=image/png") > -1)){ #
					<img src="${Valor}"/>
				# } else if (Definicion.TipoDato == "FICHERO"){ #
					${"Fichero descargable"}
				# } else if (Definicion.TipoDato == "BOOLEANO"){ #
					${Valor ? "Si" : "No"}
				# } else { #
					${Valor}
				# } #</span>
				<div class="inventory-buttons">
					# if (Definicion.TipoDato == "FICHERO"){ #
					<a href="${Valor}" download><img src="content/imgs/icons/ico-document-blue.png"/></a>
					# } #
					# if (!Definicion.SoloLectura){ #
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
					# } #
				</div>
			</div>
	</script>
	<!--<ul data-role="listview">
		<li>
			<div class="inventory-details-list-item">
				<span>Zona:</span> Parque Mollet
				<div class="inventory-buttons">
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Longitud:</span> 13 Km
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Documento:</span>
				<div class="inventory-buttons">
					<a href="" class="edit-button"><img src="content/imgs/icons/ico-document-blue.png"/></a>
					<a href="" class="edit-button edit-select-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Fecha alta inventario:</span> 01/06/2006
				<div class="inventory-buttons">
					<a href="" class="edit-button edit-input-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
		<li>
			<div class="inventory-details-list-item">
				<span>Fecha baja inventario:</span>
				<div class="inventory-buttons">
					<a href="" class="edit-button edit-input-modal"><img src="content/imgs/icons/ico-edit.png"/></a>
				</div>
			</div>
		</li>
	</ul>-->
	<div class="buttongroup-content">
		<div id="inventory-element-detail-map"></div>
	</div>
</div>
