<div id="inventory-index"
	 data-role="view"
	 class="inventory-module"
	 data-title="Inventario"
	 data-layout="default-burger"
	 data-model="app.viewModels.views.inventory.index"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	>
	<div class="home frame">
		<img src="content/imgs/inventory-logo.png" alt="" class="home-logo sm">
		<a href="#inventory-mapsearch" class="button block icon text-left" data-icon="ico-map-2.png" data-role-visible="Inventario.ConsultarInventario">Localizar en el mapa</a>
		<a href="#inventory-search" class="button block icon text-left" data-icon="ico-search-2.png" data-role-visible="Inventario.ConsultarInventario">Consultar inventario</a>
		<a href="#" class="button block icon text-left" data-icon="ico-read.png" data-bind="events:{ click: onReadTag }" data-role-visible="Inventario.ConsultarInventario">Leer etiqueta</a>
		<a href="#inventory-create" class="button block icon text-left" data-icon="ico-plus-circle.png" data-role-visible="Inventario.NuevoInventario">Crear nuevo elemento</a>
	</div>
</div>
