<div id="inventory-mapsearch"
	 data-i18n="[data-title]views.incidencias.selectBymap.title"
	 data-stretch="true"
	 data-title="Localizar en mapa"
	 data-role="view"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.mapsearch"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
	>
	<div id="inventory-search-map"></div>
	<div id="inventory-search-map-search-box" class="map-search-box"><input type="search" id="inventory-search-map-search" /><span></span></div>
	<div id="inventory-search-map-buttons">
		<a href="#" data-bind="events:{click:center}" class="map-button"><img src="content/imgs/map-current-location.svg"></a>
	</div>
	<script type="text/x-kendo-template" id="inventory-marker-template">
		<div data-index="#=index#">
			#=NombreElemento#
			<a href="\\#inventory-detailsElemento" class="viewmoreinmap">ver</a>
		</div>
	</script>
</div>
