<div id="inventory-results"
	 data-role="view"
	 data-title="Inventario"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.results"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader">Resultados (<span data-bind="text:total"></span>)</h1>

	<h2 class="no-result">No hay resultados para esta búsqueda</h2>
	<ul class="inventory-list" data-role="listview"
		data-endless-scroll="true"
		data-template="inventory-list-template"
		data-bind="source: source, events { click: onSelect }">
	</ul>
	<script id="inventory-list-template" type="text/x-kendo-template">
			<a href="\\#inventory-detailsElemento" class="inventory-list-item">
				${NombreElemento} / <span>${TipoElemento}</span>
			</a>
	</script>
</div>
