<div id="inventory-search"
	 data-role="view"
	 data-title="Inventario"
	 data-layout="default"
	 data-model="app.viewModels.views.inventory.search"
	 data-bind="events: { init: onViewInit, show: onViewShow, hide: onViewHide }"
	 class="inventory-module"
>
	<h1 class="subheader">Consultar inventario</h1>
	<div class="blank frame">
		<form class="regular-form">
			<div>
				<label>Categorias:</label>
				<span class="form-select">
					<select class="select-inventory-categories"
						data-bind="source:tiposElementos,events: { change: tipoChange }"
						data-text-field="Tipo"
						data-value-field="IdTipoElemento"
						data-option-label="Prueba"
					>
						<option value="" disabled selected>Elegir categoría</option>
					</select>
				</span>
			</div>
		</form>
		<hr>

		<div class="inventory-category">
			<ul class="buttongroup slim-tab-strip km-tabstrip">
				<li class="km-button">Propiedades</li>
				<li class="km-button">Jerarquía</li>
			</ul>
			<div class="cat-1">
				<!-- Propiedades -->
				<form class="regular-form buttongroup-content">
					<div data-perma>
						<label>TAG:</label> <!-- "00400000035EAA79" -->
						<input class="form-input tag-input" data-bind="value:model.TAG" type="text" />
					</div>
					<div>
						<label>Referencia:</label>
						<input class="form-input ref-input" data-bind="value:model.Referencia" type="text" />
					</div>
				</form>
				<!-- Jerarquia -->
				<form class="regular-form buttongroup-content" style="display: none;">
					<div>
						<label>Provincia:</label>
						<span class="form-select">
						<select data-bind="source:provincias, value:model.Provincia, events: { change: provinciaChange }"
								data-text-field="NombreProvincia"
								data-value-field="IdProvincia"
								class="select-provincias"
						>
						</select>
					</span>
					</div>
					<div>
						<label>Municipio:</label>
						<span class="form-select">
						<select data-bind="source:municipios, value:model.Municipio, events: { change: municipioChange }"
								data-text-field="NombreMunicipio"
								data-value-field="IdMunicipio"
								class="select-municipios"
								disabled
						>
						</select>
					</span>
					</div>
					<div class="urbajardin-only">
						<label>Distrito:</label>
						<span class="form-select">
						<select data-bind="source:distritos, value:model.Distrito, events: { change: distritoChange }"
								data-text-field="Distrito"
								data-value-field="IdDistrito"
								class="select-distritos"
								disabled
						>
						</select>
					</span>
					</div>
					<div class="urbajardin-only">
						<label>Espacio urbano:</label>
						<span class="form-select">
						<select data-bind="source:espaciosUrbanos, value:model.EspacioUrbano, events: { change: espacioChange }"
								data-text-field="EspacioUrbano"
								data-value-field="IdEspacioUrbano"
								class="select-espacios"
								disabled
						>
						</select>
					</span>
					</div>
					<div class="urbajardin-only">
						<label>Zona/Ruta:</label>
						<span class="form-select">
						<select data-bind="source:zonas, value:model.Zona, events: { change: zonaChange }"
								data-text-field="Nombre"
								data-value-field="Id"
								class="select-zonas"
								disabled
						>
						</select>
						</span>
					</div>
					<div class="smartus-only">
						<label>Area:</label>
						<span class="form-select">
						<select data-bind="source:areas, value:model.Area, events: { change: areaChange }"
								data-text-field="Area"
								data-value-field="IdArea"
								class="select-areas"
						>
						</select>
						</span>
					</div>
				</form>

			</div>
			<a class="block button" href="#inventory-results" data-bind="events:{ click: onBuscar }" >Buscar</a>
			<a class="block button" href="#inventory-results" data-bind="events:{ click: onReset }" >Reestablecer</a>
		</div>

	</div>
</div>
